////
/// @group Layout_Content
/// Page Layout - Content

/*! Page Layout - Content */

///
.content {
	display: flex;
	flex: 1;
	flex-direction: column;
	position: relative;
}

///
.main-content {
	flex: 1;
	position: relative;
}

///
.content-breadcrumbs {
	margin-bottom: var(--space-base);
}

///
.content-top {
	justify-content: space-between;
}

///
.content-top-title {
	flex: 1;
	margin-bottom: var(--space-l);

	.Title_Links {
		font-size: var(--font-size-s);
		font-weight: var(--font-regular);
	}
}

///
.content-top-actions {
	flex: 1;
	justify-content: flex-end;
	margin-bottom: var(--space-l);
	text-align: right;
}

///
.content-top-title,
.content-top-actions {
	align-items: center;
	display: flex;
	flex-wrap: wrap;

	& > div:not([class*='ThemeGrid_Width']) {
		width: 100%;
	}
}

///
.content-middle {
	position: relative;

	// Service Studio Preview
	& {
		-servicestudio-min-height: 420px;
	}
}

///
.layout-native {
	.content {
		background-color: var(--color-background-body);
	}

	.content-middle {
		height: 100%;
	}
}

// Responsive --------------------------------------------------------------------

///
.phone {
	.content-top {
		flex-direction: column;
	}

	.content-top-actions,
	.content-top-title {
		flex-wrap: wrap;
		width: 100%;
	}
}
