/* Page Layout - Content */
////
/// @group Layout-Content
/// Page Layout - Content

///
.content {
	display: flex;
	flex: 1;
	flex-direction: column;
	position: relative;

	&-breadcrumbs {
		margin-bottom: var(--space-base);
	}

	&-top {
		justify-content: space-between;

		&-title {
			flex: 1;
			margin-bottom: var(--space-l);

			// Retro Compatilibity
			.Title_Links {
				font-size: var(--font-size-s);
				font-weight: var(--font-regular);
			}
		}

		&-actions {
			flex: 1;
			justify-content: flex-end;
			margin-bottom: var(--space-l);
			text-align: right;
		}

		&-title,
		&-actions {
			align-items: center;
			display: flex;
			flex-wrap: wrap;

			& > div:not([class*='ThemeGrid_Width']) {
				width: 100%;
			}
		}
	}

	&-middle {
		position: relative;

		// Service Studio Preview
		& {
			-servicestudio-min-height: 420px;
		}
	}
}

///
.main-content {
	flex: 1;
	position: relative;
}

///
.layout-native {
	.content {
		background-color: var(--background-color-body, --color-background-body);
	}

	.content-middle {
		height: 100%;
	}
}

// Responsive --------------------------------------------------------------------

///
.phone {
	.content {
		&-top {
			flex-direction: column;

			&-actions,
			&-title {
				flex-wrap: wrap;
				width: 100%;
			}
		}
	}
}
