/* ================================================================ */
/*  $3.3 - Page Layout - Content                                    */
/* ================================================================ */
.content {
	-webkit-box-direction: normal;
	-webkit-box-flex: 1;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex: 1;
	flex: 1;
	-ms-flex-direction: column;
	flex-direction: column;
	position: relative;
}

.layout-native .content {
	background-color: var(--color-background-body);
}

.main-content {
	flex: 1;
	position: relative;
}

.content-breadcrumbs {
	margin-bottom: var(--space-base);
}

.content-top {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.content-top-title {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	margin-bottom: var(--space-l);
}

.content-top-title .Title_Links {
	font-size: var(--font-size-s);
	font-weight: var(--font-regular);
}

.content-top-actions {
	-webkit-box-flex: 1;
	-webkit-box-pack: end;
	-ms-flex: 1;
	flex: 1;
	-ms-flex-pack: end;
	justify-content: flex-end;
	margin-bottom: var(--space-l);
	text-align: right;
}

.content-top-title,
.content-top-actions {
	align-items: center;
	-webkit-box-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
}

.content-top-title,
.content-top-actions {
	flex-wrap: wrap;
}

.content-top-title > div:not([class*='ThemeGrid_Width']),
.content-top-actions > div:not([class*='ThemeGrid_Width']) {
	width: 100%;
}

.content-middle {
	-servicestudio-min-height: 420px;
	position: relative;
}

.layout-native .content-middle {
	height: 100%;
}

.ThemeGrid_Container {
	margin: var(--space-none) auto;
	width: 100%;
}

.header .ThemeGrid_Container {
	padding: var(--space-none) var(--space-xl);
}

.tablet .header .ThemeGrid_Container {
	padding: var(--space-none) var(--space-m);
}

.phone .header .ThemeGrid_Container {
	padding-left: calc(var(--os-safe-area-left) + var(--space-base));
	padding-right: calc(var(--os-safe-area-right) + var(--space-base));
}

.layout .main-content.ThemeGrid_Container {
	padding: var(--space-xl);
}

.tablet .main-content.ThemeGrid_Container {
	padding: var(--space-m);
}

.phone .main-content.ThemeGrid_Container {
	padding-bottom: var(--space-base);
	padding-left: calc(var(--os-safe-area-left) + var(--space-base));
	padding-right: calc(var(--os-safe-area-right) + var(--space-base));
	padding-top: var(--space-base);
}

.layout-native .main-content.ThemeGrid_Container {
	padding: 0;
}

.layout .footer.ThemeGrid_Container {
	padding: var(--space-base) var(--space-xl);
}

.tablet .footer.ThemeGrid_Container {
	padding: var(--space-base) var(--space-m);
}

.phone .footer.ThemeGrid_Container {
	padding-left: calc(var(--os-safe-area-left) + var(--space-base));
	padding-right: calc(var(--os-safe-area-right) + var(--space-base));
}

.phone .content-top {
	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
	-ms-flex-direction: column;
	flex-direction: column;
}

.phone .content-top-actions,
.phone .content-top-title {
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 100%;
}
