/*! Page Layout - Menu */
////
/// @group Layout-Menu
/// Layout - Menu

///
.app-menu-content {
	height: 100%;

	// Service Studio Preview
	& {
		-servicestudio-align-items: center;
		-servicestudio-background-color: var(--header-color);
		-servicestudio-height: auto !important;
	}
}

/* Menu ServiceStudio Preview */
///
body {
	.app-menu-content {
		// Service Studio Preview
		& {
			-servicestudio-align-items: flex-start;
			-servicestudio-height: 100% !important;
			-servicestudio-left: 0 !important;
			-servicestudio-position: relative !important;
			-servicestudio-width: 100% !important;
		}
	}
}

///
.submenu {
	cursor: pointer;
	display: inline-flex;
	height: 100%;
	margin-left: var(--space-base);
	position: relative;

	// Service Studio Preview
	& {
		-servicestudio-height: auto !important;
	}

	&:hover {
		.submenu-icon:before {
			border: var(--border-size-s) solid var(--color-neutral-9);
			border-right: 0;
			border-top: 0;
		}
	}

	&.active {
		&.open {
			.submenu-item {
				color: var(--color-primary);
			}
		}

		.submenu {
			&-header {
				border-bottom: var(--border-size-m) solid var(--color-primary);
			}

			&-item {
				&,
				a {
					color: var(--color-primary);
				}
			}

			&-icon:before {
				border: var(--border-size-s) solid var(--color-primary);
				border-right: 0;
				border-top: 0;
			}
		}
	}

	&.open {
		.submenu {
			&-icon {
				top: 3px;
				transform: rotate(135deg);
			}

			&-items {
				opacity: 1;
				pointer-events: auto;
				transform: translateY(0px);
			}
		}
	}

	&.is--dropdown {
		.submenu-icon {
			display: inline-flex;
		}
	}
}

///
.submenu-header {
	align-items: center;
	border-bottom: var(--border-size-m) solid transparent;
	border-top: var(--border-size-m) solid transparent;
	display: flex;
	padding: 0 var(--space-s);
	transition: all 150ms linear;
}

///
.submenu-icon {
	display: none;
	margin-left: var(--space-s);
	position: relative;
	top: -1px;
	transform: rotate(-45deg);
	transition: all 150ms linear;

	&:before {
		border: var(--border-size-s) solid var(--color-neutral-8);
		border-right: 0;
		border-top: 0;
		box-sizing: border-box;
		content: '';
		height: 6px;
		transition: all 150ms linear;
		width: 6px;
	}
}

///
.submenu-items {
	background-color: var(--color-neutral-0);
	border: var(--border-size-s) solid var(--color-neutral-4);
	border-radius: var(--border-radius-soft);
	box-shadow: var(--shadow-m);
	display: flex;
	flex-direction: column;
	left: 0;
	min-width: 100px;
	opacity: 0;
	padding: var(--space-s) var(--space-none);
	pointer-events: none;
	position: absolute;
	top: calc(100% - var(--space-s));
	transform: translateY(-8px);
	transition: all 130ms ease-out;
	z-index: 100;

	// Service Studio Preview
	& {
		-servicestudio-opacity: 1 !important;
		-servicestudio-pointer-events: auto !important;
		-servicestudio-top: 100% !important;
		-servicestudio-transform: translateY(0px) !important;
	}

	a {
		color: var(--color-neutral-8);
		margin: 0;
		padding: var(--space-s) var(--space-base);
		white-space: nowrap;

		&.active {
			color: var(--color-primary);
		}
	}
}

///
.submenu-item {
	align-items: center;
	color: var(--color-neutral-9);
	display: inline-flex;
	height: 100%;
	position: relative;
	transition: all 150ms linear;

	a {
		align-items: center;
		color: var(--color-neutral-8);
		display: flex;
		height: 100%;
	}
}

///
.app-menu-overlay {
	background-color: rgba(0, 0, 0, 0.25);
	height: 100vh;
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: fixed;
	top: 0;
	transition: opacity 130ms ease-in;
	width: 100vw;
	will-change: opacity;
	z-index: 104;

	// Service Studio Preview
	& {
		-servicestudio-display: none;
	}
}

///
.menu-visible {
	.app-menu-overlay {
		opacity: 1;
		pointer-events: auto;
		transition: opacity 330ms ease-out;
	}
}

///
.layout {
	.app-menu-content {
		// Service Studio Preview
		& {
			-servicestudio-height: 100% !important;
		}
	}

	.header .submenu-items {
		-servicestudio-display: none !important;
	}

	.submenu {
		// Service Studio Preview
		& {
			-servicestudio-height: 100% !important;
		}
	}
}

// Responsive --------------------------------------------------------------------
///
.desktop {
	.app-menu-overlay {
		display: none;
	}

	.aside-overlay .app-menu-overlay {
		display: block;
	}

	.submenu {
		&:hover {
			.submenu-item {
				color: var(--color-neutral-9);
			}
		}

		&.active {
			.submenu-header:hover .submenu-item {
				color: var(--color-primary);
			}
		}
	}

	.submenu {
		&-header {
			&:hover {
				border-bottom: var(--border-size-m) solid var(--color-primary);
			}
		}

		&-item {
			a:hover {
				color: var(--color-neutral-9);
			}
		}

		&-items {
			a {
				&:hover {
					background-color: var(--color-neutral-2);
					color: var(--color-neutral-9);
				}

				&.active:hover {
					color: var(--color-primary);
				}
			}
		}
	}
}

///
.tablet,
.phone {
	.submenu {
		flex-direction: column;
		margin-left: 0;
		width: 100%;

		&.active .submenu-header {
			border-left: var(--border-size-m) solid var(--color-primary);
		}

		&.open .submenu-items {
			display: flex;
		}

		&-header {
			border-bottom: 0;
			border-left: var(--border-size-m) solid transparent;
			border-top: 0;
			padding: var(--space-s) var(--space-m);
		}
	}

	.submenu {
		&-item {
			flex: 1;
		}

		&-items {
			border: none;
			box-shadow: none;
			display: none;
			opacity: 1;
			padding: 0;
			padding: var(--space-xs) var(--space-m);
			pointer-events: auto;
			position: relative;
			top: 0;
			transform: translateY(0);
		}
	}

	.app-login-info {
		padding: var(--space-s) var(--space-m);
	}

	.app-menu-content {
		background-color: var(--color-neutral-0);
		flex-direction: column;
		height: 100%;
		left: calc(-1 * var(--side-menu-size));
		position: fixed;
		top: 0;
		transform: translateX(0) translateZ(0);
		transition: transform 130ms ease-in;
		width: var(--side-menu-size);

		will-change: transform;
		z-index: 105;
	}

	// .menu-visible is a class added into the .layout element
	.menu-visible .app-menu-content {
		transform: translateX(var(--side-menu-size)) translateZ(0);
		transition: transform 330ms ease-out;
	}
}

///
.tablet {
	&.landscape {
		.layout-native.aside-expandable .app-menu-overlay {
			display: none;
		}
	}
}

///
.phone {
	.app-menu-content {
		padding-bottom: var(--os-safe-area-bottom);
		padding-left: var(--os-safe-area-left);
	}
}

///
.android {
	[data-status-bar-height] .app-menu-content {
		padding-top: var(--status-bar-height);
	}
}

///
.ios {
	.app-menu-content {
		padding-bottom: var(--os-safe-area-bottom);
		padding-top: var(--os-safe-area-top);
	}
}

// IsRTL -------------------------------------------------------------------------
///
.is-rtl {
	&.tablet,
	&.phone {
		.menu-visible .app-menu-content {
			right: 0;
			transform: translateX(0) translateZ(0);
			transition: all 330ms ease-out;
		}

		.submenu {
			&.active .submenu-header {
				border-left: 0;
				border-right: var(--border-size-m) solid var(--color-primary);
			}

			.submenu-header {
				border-left: 0;
				border-right: var(--border-size-m) solid transparent;
			}
		}
	}

	.submenu-icon {
		margin-left: 0;
		margin-right: var(--space-s);
	}

	.layout-side {
		.submenu.active .submenu-header {
			border-left: 0;
			border-right: var(--border-size-m) solid var(--color-primary);
		}
	}
}
