/* Page Layout - Menu - Header Logo */
////
/// @group Layout-Menu-Header_Logo
/// Page Layout - Menu - Header Logo

///
.layout-side {
	.header-logo {
		height: var(--header-size);
		padding: $token-scale-0 $token-scale-600;
	}
}

// Responsive --------------------------------------------------------------------
.tablet,
.phone {
	.header-logo {
		height: var(--header-size);
		padding: $token-scale-0 $token-scale-600;
	}
}
