/* Page Layout - Menu - App Login Info */
////
/// @group Layout-Header-App_Login_Info
/// Page Layout - Menu - App Login Info

///
.layout-side {
	.app-login-info {
		padding: var(--space-base) var(--space-m);
	}

	.user-info {
		justify-content: space-between;
	}
}

// Responsive --------------------------------------------------------------------
.tablet,
.phone {
	.app-login-info {
		padding: var(--space-base) var(--space-m);
	}

	.user-info {
		justify-content: space-between;
	}
}
