/*! Page Layout - Menu - Header Logo */
////
/// @group Layout-Menu-Header_Logo
/// Page Layout - Menu - Header Logo

///
.layout-side {
	.header-logo {
		height: var(--header-size);
		padding: var(--space-none) var(--space-m);
	}
}

// Responsive --------------------------------------------------------------------
.tablet,
.phone {
	.header-logo {
		height: var(--header-size);
		padding: var(--space-none) var(--space-m);
	}
}
