@use '../00-abstract/index' as *;
@use "../tokens/variables";

/* Page Layout Side - Layout Side - Menu */
////
/// @group Layout-Side-Menu
/// Page Layout Side - Layout Side - Menu

///
.layout-side {
	.app-logo {
		@include app-logo;
	}

	.app-menu-content {
		background-color: variables.$token-bg-surface-default;
		bottom: 0;
		flex-direction: column;
		height: auto;
		position: fixed;
		top: 0;
		width: var(--size-side-menu);
		z-index: var(--osui-menu-layer);
	}
}

// This class is applied to .layout element either
///
.aside-overlay {
	.app-menu-content {
		background-color: variables.$token-bg-surface-default;
		flex-direction: column;
		height: 100%;
		left: calc(-1 * var(--size-side-menu));
		position: fixed;
		top: 0;
		transform: translateX(0) translateZ(0);
		transition: transform 130ms ease-in;
		width: var(--size-side-menu);

		will-change: transform;
		z-index: var(--osui-menu-layer);
	}

	.app-menu-content.is--open {
		left: calc(-1 * var(--size-side-menu));
		transform: translateX(var(--size-side-menu)) translateZ(0);
		transition: transform 330ms ease-out;
	}
}

// Responsive --------------------------------------------------------------------
///
.desktop {
	.layout-side {
		&:not(.layout-native):not(.aside-overlay) .app-menu-content {
			inset-inline-end: 0;
			inset-inline-start: 0;
			transform: none;
		}

		&.aside-expandable:not(.fixed-header) .app-menu-content {
			padding-block-start: var(--size-header);
			top: 0;
		}
	}

	.aside-expandable {
		&.menu-visible {
			.app-menu-content {
				display: flex;
			}

			.main {
				margin-inline-start: var(--size-side-menu);
			}
		}

		.app-menu-content {
			display: none;
		}
	}
}

///
.desktop, 
.tablet.landscape {
	.layout-native.aside-expandable.menu-visible {
		.app-menu-content.is--open {
			display: flex;
			transform: none;
			transition: none;
		}
	}	
}

// IsRTL -------------------------------------------------------------------------
///
.is-rtl {

	.app-menu-content {
		transition: transform 330ms ease-in;
	}

	.app-menu-content.is--open {
		transform: translateX(0) translateZ(0);
		transition: transform 130ms ease-out;
	}
}
