/* ================================================================ */
/*  $3.4 - Page Layout - Section                                    */
/* ================================================================ */

.full-width-section {
	position: relative;
	.ThemeGrid_Container {
		padding: var(--space-none) var(--space-xl);
	}
}

.section-background {
	@include absolute-left-top();
	height: 100%;
	overflow: hidden;
	width: 100%;
	img {
		height: 100%;
		object-fit: cover;
		width: 100%;
	}
}

.section-content {
	position: relative;
}

//
// service studio
.section-background:empty {
	-servicestudio-min-height: 80px;
	-servicestudio-position: relative;
}
