/* Page Layout - ThemeGrid_Container */
////
/// @group Layout-ThemeGrid_Container
/// Page Layout - ThemeGrid_Container

///
.ThemeGrid_Container {
	margin: var(--token-scale-0) auto;
	width: 100%;
}

///
.header {
	.ThemeGrid_Container {
		padding: var(--token-scale-0) var(--token-scale-1000);
	}
}

///
.layout {
	.main-content.ThemeGrid_Container {
		padding: var(--token-scale-1000);
	}

	.footer.ThemeGrid_Container {
		padding: var(--token-scale-400) var(--token-scale-1000);
	}
}

// Responsive --------------------------------------------------------------------

///
.tablet {
	.header {
		.ThemeGrid_Container {
			padding: var(--token-scale-0) var(--token-scale-600);
		}
	}

	.main-content.ThemeGrid_Container {
		padding: var(--token-scale-600);
	}

	.footer.ThemeGrid_Container {
		padding: var(--token-scale-400) var(--token-scale-600);
	}
}

///
.phone {
	.header {
		.ThemeGrid_Container {
			padding-left: calc(var(--os-safe-area-left) + var(--token-scale-400));
			padding-right: calc(var(--os-safe-area-right) + var(--token-scale-400));
		}
	}

	.main-content.ThemeGrid_Container {
		padding-bottom: var(--token-scale-400);
		padding-left: calc(var(--os-safe-area-left) + var(--token-scale-400));
		padding-right: calc(var(--os-safe-area-right) + var(--token-scale-400));
		padding-top: var(--token-scale-400);
	}

	.footer.ThemeGrid_Container {
		padding-left: calc(var(--os-safe-area-left) + var(--token-scale-400));
		padding-right: calc(var(--os-safe-area-right) + var(--token-scale-400));
	}
}

// Layout --------------------------------------------------------------------
// The default order of the selectors had to be changed, since some legacy cases were not loading the partials correctly.
///
.layout-native {
	.main-content.ThemeGrid_Container {
		padding: var(--token-scale-0);
	}
}

// Android
// Gives a padding to the content, this avoids some content to be unreachable under the bottom bar
.android .main:has(.footer:empty) .content {
	padding-bottom: var(--safe-area-inset-bottom, 0px);
}
