/* Patterns - Interaction - DropdownServerSide */
////
/// @group Patterns-DropdownServerSide
/// Patterns - Interaction - DropdownServerSide

// Balloon margin value related with selectedValuesWrapper
$balloonMarginToSelectValuesWrapper: 2px;
$balloonMobileTopMargin: 5vh;

///
.osui-dropdown-serverside {
	// "Input" section - SelectedValues container
	&__selected-values {
		align-items: center;
		display: flex;
		flex: 1;
		height: inherit;
		margin-right: var(--space-base);
		overflow: hidden;

		&:hover {
			border-color: var(--color-neutral-6);
		}

		&:after {
			align-items: center;
			color: var(--color-neutral-7);
			content: '\f107';
			display: flex;
			font: normal normal normal 20px/1 FontAwesome;
			height: 100%;
			pointer-events: none;
			position: absolute;
			right: 16px;
			top: 0;
			transition: transform 200ms ease-in-out;
		}

		& > * {
			&::selection {
				background-color: transparent;
			}

			&:first-child {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				width: 100%;
			}
		}

		&-wrapper {
			align-items: center;
			background-color: var(--color-neutral-0);
			border-radius: var(--border-radius-soft);
			border: var(--border-size-s) solid var(--color-neutral-5);
			color: var(--color-neutral-9);
			cursor: pointer;
			display: flex;
			font-size: var(--font-size-s);
			height: 40px;
			padding: var(--space-none) var(--space-base);
			position: relative;
			transition: border 250ms ease-in-out;
			width: 100%;
		}

		[data-expression] {
			white-space: nowrap;
		}
	}

	// Balloon section
	&__balloon {
		// Wrapper
		&-wrapper {
			top: calc(
				var(--osui-dropdown-ss-top) + var(--osui-dropdown-ss-input-height) + $balloonMarginToSelectValuesWrapper
			);
			display: flex;
			flex-direction: column;
			flex: 1;
			left: var(--osui-dropdown-ss-left);
			max-height: 0;
			max-width: var(--osui-dropdown-ss-width);
			opacity: 0;
			overflow: hidden;
			position: absolute;
			transition: opacity 300ms ease;
			width: 100%;
			z-index: var(--layer-global-elevated);

			// Service Studio Preview
			& {
				-servicestudio-left: initial;
				-servicestudio-max-height: 320px;
				-servicestudio-opacity: 1;
				-servicestudio-position: relative;
				-servicestudio-top: 2px;
			}
		}

		// Content Container
		&-container {
			background-color: var(--color-neutral-0);
			border-radius: var(--border-radius-soft);
			border: var(--border-size-s) solid var(--color-neutral-5);
			display: flex;
			flex-direction: column;
			height: 100%;
			opacity: 0;
			overflow: hidden;
			// --osui-dropdown-ss-thresholdanimateval is the value used as a threshold to animate down the balloon
			transform: translateY(calc(-1 * var(--osui-dropdown-ss-thresholdanimateval)));
			transition:
				opacity 250ms ease,
				transform 300ms ease-in-out;

			// Service Studio Preview
			& {
				-servicestudio-opacity: 1;
				-servicestudio-transform: none;
			}
		}

		// Search Wrapper
		&-search-wrapper {
			background-color: var(--color-neutral-0);
			padding: var(--space-none);
			position: relative;
			display: flex;
			align-items: center;
		}

		// Search placeholder
		&-search {
			flex: 1;

			&:before {
				align-items: center;
				color: var(--color-neutral-6);
				content: '\f002';
				display: flex;
				font: normal normal normal 14px/1 FontAwesome;
				height: 100%;
				left: var(--space-base);
				position: absolute;
				top: 0;
			}

			&:empty + .osui-dropdown-serverside__balloon-search-icon {
				display: none;
			}

			input,
			.form-control[data-input] {
				background-color: transparent;
				border-radius: var(--border-size-none);
				border: none;
				color: inherit;
				font-size: var(--font-size-s);
				height: 40px;
				padding: var(--space-none) var(--space-s) var(--space-none) var(--space-xl);
				width: 100%;
			}
		}

		// Search Icon placeholder
		&-search-icon {
			align-items: center;
			display: flex;
			height: 100%;
			padding: var(--space-none) var(--space-base);
		}

		// Options placeholder
		&-content {
			border-top: var(--border-size-s) solid var(--color-neutral-5);
			flex: 1;
			overflow-x: hidden;
			overflow-y: auto;
			padding: var(--space-none);

			&::-webkit-scrollbar {
				width: 5px;
			}

			&::-webkit-scrollbar-track {
				background: var(--color-neutral-4);
			}

			&::-webkit-scrollbar-thumb {
				background-color: var(--color-neutral-6);
			}

			// Avoid having data-list above other elements in this context, such as a StickyTop SelectAll Option container.
			& > *:not([data-list]) {
				z-index: var(--layer-local-tier-2);
			}
		}

		// If Search input do not exist, this modifier will be added!
		&--has-not-search {
			.osui-dropdown-serverside__balloon-content {
				border-top: none;
			}
		}

		// Footer placeholder
		&-footer {
			border-top: var(--border-size-s) solid var(--color-neutral-5);
			padding: var(--space-s) var(--space-base);
		}
	}

	// When should be open at top!
	&__balloon--is-top {
		// Wrapper
		&.osui-dropdown-serverside__balloon-wrapper {
			bottom: calc(100vh - var(--osui-dropdown-ss-top) + $balloonMarginToSelectValuesWrapper);
			top: unset;
		}

		// Content Container
		.osui-dropdown-serverside {
			&__balloon {
				&-container {
					transform: translateY(0);
					transition: opacity 250ms ease;
				}

				&-content {
					border-top-width: var(--border-size-none);
				}

				&-search-wrapper {
					border-bottom: var(--border-size-none);
					border-top: var(--border-size-s) solid var(--color-neutral-5);
					order: 3;
				}
			}
		}
	}

	// Balloon IsOpen
	&--is-opened {
		.osui-dropdown-serverside {
			// "Input" section wrapper - SelectedValues container wrapper
			&__selected-values-wrapper {
				border-color: var(--color-primary);
			}

			// "Input" section - SelectedValues container
			&__selected-values {
				&:after {
					color: var(--color-primary);
					transform: rotate(180deg);
				}
			}

			// Balloon section
			&__balloon {
				// Content Container
				&-container {
					opacity: 1;
					transform: translateY(0);
				}
			}
		}

		// Ballon wrapper
		&.osui-dropdown-serverside__balloon-wrapper {
			max-height: var(--osui-dropdown-ss-balloon-max-height);
			opacity: 1;

			// Used to help triggering the IntersectionObserver before going behind header!
			&.osui-dropdown-serverside__balloon--is-top {
				max-height: calc(var(--osui-dropdown-ss-balloon-max-height) + var(--header-size));
				padding-top: var(--header-size);
			}
		}
	}

	// When it's disabled
	&--is-disabled {
		.osui-dropdown-serverside__selected-values {
			&:after {
				border-color: var(--color-neutral-6);
			}

			&-wrapper {
				background-color: var(--color-neutral-2);
				border-color: var(--color-neutral-4);
				color: var(--color-neutral-6);
				pointer-events: none;
			}
		}
	}

	// When inside Popup widget
	&--is-inside-popup {
		.osui-dropdown-serverside__balloon-wrapper {
			top: calc(var(--osui-dropdown-ss-top) + var(--osui-dropdown-ss-input-height) + 4px);
			position: fixed;
			overflow: visible;

			&.osui-dropdown-serverside--is-opened {
				z-index: calc(var(--osui-popup-layer) + var(--layer-local-tier-1));
			}
		}

		.osui-dropdown-serverside__balloon--is-top.osui-dropdown-serverside__balloon-wrapper {
			top: unset;
		}
	}

	// When it's not valid
	&--not-valid {
		.osui-dropdown-serverside__selected-values-wrapper {
			border-color: var(--color-error);
		}

		& + .osui-dropdown-serverside-error-message {
			color: var(--color-error);
			font-size: var(--font-size-xs);
			margin-left: var(--space-none);
			margin-top: 3px;
		}
	}
}

// Inside other fixed patterns
.osui-dropdown-serverside-visible {
	// Inside Sidebar
	&:has(.osui-sidebar--is-open .osui-dropdown-serverside--is-opened) {
		.osui-dropdown-serverside__balloon-wrapper.osui-dropdown-serverside--is-opened {
			z-index: calc(var(--osui-sidebar-layer) + var(--layer-local-tier-1));
		}
	}

	// Inside Notification
	&:has(.osui-notification--is-open .osui-dropdown-serverside--is-opened) {
		.osui-dropdown-serverside__balloon-wrapper.osui-dropdown-serverside--is-opened {
			z-index: calc(var(--osui-notification-layer) + var(--layer-local-tier-1));
		}
	}

	// Inside BottomSheet
	&:has(.osui-bottom-sheet--is-open .osui-dropdown-serverside--is-opened) {
		.osui-dropdown-serverside__balloon-wrapper.osui-dropdown-serverside--is-opened {
			z-index: calc(var(--osui-bottom-sheet-layer) + var(--layer-local-tier-1));
		}
	}
}

// Fallback for fierfox that don't support yet :has(), but it's already in development
// https://bugzilla.mozilla.org/show_bug.cgi?id=418039
.firefox {
	.osui-dropdown-serverside__balloon-wrapper.osui-dropdown-serverside--is-opened {
		z-index: var(--layer-global-instant-interaction);
	}
}

// Inside Form & Popup
.form {
	.osui-dropdown-serverside--is-inside-popup input[data-input] {
		margin-bottom: 0;
	}
}

// Accessibility -----------------------------------------------------------------
///
.has-accessible-features {
	.osui-dropdown-serverside {
		&__selected-values {
			&:hover,
			&:after,
			&-wrapper,
			&-footer {
				border-color: var(--color-neutral-7);
			}
		}

		&__balloon {
			&-container {
				border-color: var(--color-neutral-7);
			}

			&-search {
				&:before {
					color: var(--color-neutral-7);
				}

				input,
				.form-control[data-input] {
					&:focus {
						box-shadow: inset 0 0 0 3px var(--color-focus-outer);
					}
				}
			}

			&-content {
				&::-webkit-scrollbar-thumb {
					background-color: var(--color-neutral-7);
				}

				&:focus {
					box-shadow: inset 0 0 0 3px var(--color-focus-outer);
				}
			}
		}
	}
}

// IsRTL -------------------------------------------------------------------------
///
.is-rtl {
	.osui-dropdown-serverside {
		&__selected-values {
			margin-left: var(--space-base);
			margin-right: initial;

			&:after {
				left: var(--space-base);
				right: auto;
			}
		}

		// Balloon States
		&__balloon {
			&-search {
				&:before {
					left: auto;
					right: var(--space-base);
				}

				input,
				.form-control[data-input] {
					padding: var(--space-none) var(--space-xl) var(--space-none) var(--space-s);
				}
			}
		}
	}
}

// Responsive --------------------------------------------------------------------
///
.tablet,
.phone {
	.osui-dropdown-serverside {
		&__selected-values-wrapper {
			height: 48px;
		}

		&__balloon-search {
			input,
			.form-control[data-input] {
				font-size: var(--font-size-base);
				height: 48px;
			}
		}
	}
}

///
.phone {
	&.android {
		&.landscape {
			.osui-dropdown-serverside__balloon-container {
				max-height: 90vh;
			}
		}

		.osui-dropdown-serverside__balloon-container {
			max-height: calc(90vh - $balloonMobileTopMargin - var(--header-size));
		}
	}

	&.ios {
		.osui-dropdown-serverside__search-input--is-focused {
			.osui-dropdown-serverside__balloon-container {
				// 100vw because ios split in half the vertical height when keyboard is open!
				max-height: calc(100vw - $balloonMobileTopMargin - var(--header-size));
			}
		}
	}

	&.landscape {
		.osui-dropdown-serverside {
			// Balloon section
			&__balloon {
				// Content Container
				&-container {
					max-height: 50vh;
				}

				// If do not exist a input search inside balloon
				&--has-not-search {
					.osui-dropdown-serverside__balloon-container {
						max-height: 90vh;
					}
				}
			}
		}
	}

	.osui-dropdown-serverside {
		// Balloon section
		&__balloon {
			// Wrapper
			&-wrapper {
				align-items: center;
				background-color: var(--overlay-background);
				display: flex;
				left: 0;
				max-width: 100vw;
				opacity: 0;
				overflow: hidden;
				top: 0;
				transition: opacity 250ms ease;
				z-index: var(--layer-global-instant-interaction);

				// Service Studio Preview
				& {
					-servicestudio-background-color: var(--color-neutral-0);
					-servicestudio-left: initial;
					-servicestudio-opacity: 1;
					-servicestudio-position: relative;
					-servicestudio-top: 2px;
				}
			}

			// Content Container
			&-container {
				box-shadow: var(--shadow-xl);
				margin-top: $balloonMobileTopMargin;
				// 90vh - maxHeight in order to create a margin top/bottom with 5vh
				max-height: calc(90vh - $balloonMobileTopMargin - var(--header-size));
				width: 85vw;

				// Service Studio Preview
				& {
					-servicestudio-box-shadow: none;
					-servicestudio-margin-top: initial;
					-servicestudio-opacity: 1;
					-servicestudio-width: 100%;
				}
			}

			// If do not exist a input search inside balloon
			&--has-not-search {
				.osui-dropdown-serverside__balloon-container {
					margin-top: $balloonMobileTopMargin;
					max-height: calc(var(--viewport-height) - $balloonMobileTopMargin - var(--header-size));
				}
			}
		}

		&--is-opened {
			&.osui-dropdown-serverside__balloon-wrapper {
				min-height: 100vh;
				opacity: 1;
			}
		}
	}
}
