/* Patterns - Interaction - DropdownServerSide */
////
/// @group Patterns-DropdownServerSide
/// Patterns - Interaction - DropdownServerSide

// Balloon margin value related with selectedValuesWrapper
$balloonMarginToSelectValuesWrapper: 2px;
$balloonMobileTopMargin: 5vh;

///
.osui-dropdown-serverside {
	--osui-dropdown-ss-balloon-max-height: 300px;
	--osui-dropdown-min-width: 170px;
	--osui-floating-offset: var(--space-xs);
	position: relative;

	.osui-balloon {
		--osui-balloon-shadow: none;
		border: var(--border-size-s) solid var(--color-neutral-5);
		display: flex;
		flex-direction: column;
		flex: 1;
		height: auto;
		min-width: var(--osui-dropdown-min-width);
		overflow: hidden;
		z-index: var(--layer-global-elevated);

		// Service Studio Preview
		& {
			-servicestudio-left: initial;
			-servicestudio-max-height: 320px;
			-servicestudio-opacity: 1;
			-servicestudio-position: relative;
			-servicestudio-top: calc(100% + 4px);
		}
	}

	// "Input" section - SelectedValues container
	&__selected-values {
		align-items: center;
		display: flex;
		flex: 1;
		height: inherit;
		margin-right: var(--space-base);
		overflow: hidden;

		&:hover {
			border-color: var(--color-neutral-6);
		}

		&:after {
			align-items: center;
			color: var(--color-neutral-7);
			content: '\f107';
			display: flex;
			font: normal normal normal 20px/1 FontAwesome;
			height: 100%;
			pointer-events: none;
			position: absolute;
			right: 16px;
			top: 0;
			transition: transform 200ms ease-in-out;
		}

		& > * {
			&::selection {
				background-color: transparent;
			}

			&:first-child {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				width: 100%;
			}
		}

		&-wrapper {
			align-items: center;
			background-color: var(--color-neutral-0);
			border-radius: var(--border-radius-soft);
			border: var(--border-size-s) solid var(--color-neutral-5);
			color: var(--color-neutral-9);
			cursor: pointer;
			display: flex;
			font-size: var(--font-size-s);
			height: 40px;
			padding: var(--space-none) var(--space-base);
			position: relative;
			transition: border 250ms ease-in-out;
			width: 100%;
		}

		[data-expression] {
			white-space: nowrap;
		}
	}

	// Balloon section
	&__balloon {
		// Search Wrapper
		&-search-wrapper {
			background-color: var(--color-neutral-0);
			padding: var(--space-none);
			position: relative;
			display: flex;
			align-items: center;
		}

		// Search placeholder
		&-search {
			flex: 1;

			&:before {
				align-items: center;
				color: var(--color-neutral-6);
				content: '\f002';
				display: flex;
				font: normal normal normal 14px/1 FontAwesome;
				height: 100%;
				left: var(--space-base);
				position: absolute;
				top: 0;
			}

			&:empty + .osui-dropdown-serverside__balloon-search-icon {
				display: none;
			}

			input,
			.form-control[data-input] {
				background-color: transparent;
				border-radius: var(--border-size-none);
				border: none;
				color: inherit;
				font-size: var(--font-size-s);
				height: 40px;
				padding: var(--space-none) var(--space-s) var(--space-none) var(--space-xl);
				width: 100%;
			}
		}

		// Search Icon placeholder
		&-search-icon {
			align-items: center;
			display: flex;
			height: 100%;
			padding: var(--space-none) var(--space-base);
		}

		// Options placeholder
		&-content {
			border-top: var(--border-size-s) solid var(--color-neutral-5);
			flex: 1;
			height: var(--osui-dropdown-ss-balloon-max-height);
			overflow-x: hidden;
			overflow-y: auto;
			padding: var(--space-none);

			&::-webkit-scrollbar {
				width: 5px;
			}

			&::-webkit-scrollbar-track {
				background: var(--color-neutral-4);
			}

			&::-webkit-scrollbar-thumb {
				background-color: var(--color-neutral-6);
			}

			// Avoid having data-list above other elements in this context, such as a StickyTop SelectAll Option container.
			& > *:not([data-list]) {
				z-index: var(--layer-local-tier-2);
			}
		}

		// If Search input do not exist, this modifier will be added!
		&--has-not-search {
			.osui-dropdown-serverside__balloon-content {
				border-top: none;
			}
		}

		// Footer placeholder
		&-footer {
			border-top: var(--border-size-s) solid var(--color-neutral-5);
			padding: var(--space-s) var(--space-base);
		}
	}

	// Balloon IsOpen
	&--is-opened {
		.osui-dropdown-serverside {
			// "Input" section wrapper - SelectedValues container wrapper
			&__selected-values-wrapper {
				border-color: var(--color-primary);
			}

			// "Input" section - SelectedValues container
			&__selected-values {
				&:after {
					color: var(--color-primary);
					transform: rotate(180deg);
				}
			}
		}
	}

	// When it's disabled
	&--is-disabled {
		.osui-dropdown-serverside__selected-values {
			&:after {
				border-color: var(--color-neutral-6);
			}

			&-wrapper {
				background-color: var(--color-neutral-2);
				border-color: var(--color-neutral-4);
				color: var(--color-neutral-6);
				pointer-events: none;
			}
		}
	}

	// When it's not valid
	&--not-valid {
		.osui-dropdown-serverside__selected-values-wrapper {
			border-color: var(--color-error);
		}

		& + .osui-dropdown-serverside-error-message {
			color: var(--color-error);
			font-size: var(--font-size-xs);
			margin-left: var(--space-none);
			margin-top: 3px;
		}
	}
}

// Inside Form & Popup
.form {
	.osui-dropdown-serverside--is-inside-popup input[data-input] {
		margin-bottom: 0;
	}
}

// Accessibility -----------------------------------------------------------------
///
.has-accessible-features {
	.osui-dropdown-serverside {
		&__selected-values {
			&:hover,
			&:after,
			&-wrapper,
			&-footer {
				border-color: var(--color-neutral-7);
			}
		}

		&__balloon {
			border-color: var(--color-neutral-7);

			&-search {
				&:before {
					color: var(--color-neutral-7);
				}

				input,
				.form-control[data-input] {
					&:focus {
						box-shadow: inset 0 0 0 3px var(--color-focus-outer);
					}
				}
			}

			&-content {
				&::-webkit-scrollbar-thumb {
					background-color: var(--color-neutral-7);
				}

				&:focus {
					box-shadow: inset 0 0 0 3px var(--color-focus-outer);
				}
			}
		}
	}
}

// IsRTL -------------------------------------------------------------------------
///
.is-rtl {
	.osui-dropdown-serverside {
		&__selected-values {
			margin-left: var(--space-base);
			margin-right: initial;

			&:after {
				left: var(--space-base);
				right: auto;
			}
		}

		// Balloon States
		&__balloon {
			&-search {
				&:before {
					left: auto;
					right: var(--space-base);
				}

				input,
				.form-control[data-input] {
					padding: var(--space-none) var(--space-xl) var(--space-none) var(--space-s);
				}
			}
		}
	}
}

// Responsive --------------------------------------------------------------------
///
.tablet,
.phone {
	.osui-dropdown-serverside {
		&__selected-values-wrapper {
			height: 48px;
		}

		&__balloon-search {
			input,
			.form-control[data-input] {
				font-size: var(--font-size-base);
				height: 48px;
			}
		}
	}
}

///
.phone {
	&.android {
		&.landscape {
			.osui-dropdown-serverside__balloon-container {
				max-height: 90vh;
			}
		}

		.osui-dropdown-serverside__balloon-container {
			max-height: calc(90vh - $balloonMobileTopMargin - var(--header-size));
		}
	}

	&.ios {
		.osui-dropdown-serverside__search-input--is-focused {
			.osui-dropdown-serverside__balloon-container {
				// 100vw because ios split in half the vertical height when keyboard is open!
				max-height: calc(100vw - $balloonMobileTopMargin - var(--header-size));
			}
		}
	}

	&.landscape {
		.osui-dropdown-serverside {
			// Balloon section
			&__balloon {
				// Content Container
				&-container {
					max-height: 50vh;
				}

				// If do not exist a input search inside balloon
				&--has-not-search {
					.osui-dropdown-serverside__balloon-container {
						max-height: 90vh;
					}
				}
			}
		}
	}

	.osui-dropdown-serverside {
		// Balloon section
		&__balloon {
			align-items: center;
			background-color: var(--overlay-background);
			border: none;
			border-radius: var(--border-radius-sharp);
			display: flex;
			left: 0;
			max-width: 100vw;
			opacity: 0;
			overflow: hidden;
			top: 0;
			transition: opacity 250ms ease;
			width: 100vh;
			z-index: var(--layer-global-instant-interaction);

			// Service Studio Preview
			& {
				-servicestudio-background-color: var(--color-neutral-0);
				-servicestudio-left: initial;
				-servicestudio-opacity: 1;
				-servicestudio-position: relative;
				-servicestudio-top: 2px;
			}

			// Content Container
			&-container {
				background: var(--color-neutral-0);
				border-radius: var(--osui-balloon-shape);
				box-shadow: var(--shadow-xl);
				display: flex;
				flex-direction: column;
				margin-top: $balloonMobileTopMargin;
				// 90vh - maxHeight in order to create a margin top/bottom with 5vh
				max-height: calc(90vh - $balloonMobileTopMargin - var(--header-size));
				overflow: hidden;
				width: 85vw;

				// Service Studio Preview
				& {
					-servicestudio-box-shadow: none;
					-servicestudio-margin-top: initial;
					-servicestudio-opacity: 1;
					-servicestudio-width: 100%;
				}
			}

			// If do not exist a input search inside balloon
			&--has-not-search {
				.osui-dropdown-serverside__balloon-container {
					margin-top: $balloonMobileTopMargin;
					max-height: calc(var(--viewport-height) - $balloonMobileTopMargin - var(--header-size));
				}
			}
		}

		&--is-opened {
			&.osui-dropdown-serverside__balloon {
				min-height: 100vh;
				opacity: 1;
			}
		}
	}
}
