/*! Patterns - Content - Accordion Item */
////
/// @group Patterns-Accordion_Item
/// Patterns - Content - Accordion Item

/* NOTE:
	- Do not forget this pattern can be used outside of the accordion pattern.
	Thats why at accordion partial, there are styles that could be seen as duplicated, but threre aren't!
*/

///
.osui-accordion-item {
	--accordion-active-border-size: 2px;
	background-color: var(--color-neutral-0);
	border: var(--border-size-s) solid var(--color-neutral-4);
	border-bottom-width: var(--border-size-s);
	border-radius: var(--border-radius-soft);
	position: relative;

	// ServiceStudio Preview
	& {
		-servicestudio-border-bottom-width: var(--border-size-s);
		-servicestudio-border-top: var(--border-size-m) solid var(--color-primary);
	}

	// Active border-top
	&:after {
		background-color: transparent;
		border-color: transparent;
		border-style: solid;
		border-width: var(--accordion-active-border-size) var(--border-size-none) var(--border-size-none)
			var(--border-size-none);
		content: '';
		left: 0;
		height: 100%;
		pointer-events: none;
		position: absolute;
		opacity: 0;
		top: calc(var(--accordion-active-border-size) * -1);
		width: 100%;
	}

	&--is {
		&-open {
			> .osui-accordion-item__title {
				font-weight: var(--font-semi-bold);
			}

			& > .osui-accordion-item__title > .osui-accordion-item__icon {
				transform: rotate(180deg);
			}

			&::after {
				border-color: var(--color-primary);
				opacity: 1;
				transition: opacity 300ms ease-in;
			}
		}

		&-first-item {
			&::after {
				border-top-left-radius: var(--border-radius-soft);
				border-top-right-radius: var(--border-radius-soft);
			}
		}

		&-disabled {
			color: var(--color-neutral-7);
			pointer-events: none;

			// Service Studio Preview
			& {
				-servicestudio-color: var(--color-neutral-9);
				-servicestudio-pointer-events: auto;
			}

			.osui-accordion-item__icon {
				color: var(--color-neutral-6);
			}
		}
	}

	&__title {
		align-items: center;
		cursor: pointer;
		display: flex;
		font-size: var(--font-size-h6);
		line-height: 1;
		padding: var(--space-m);
		width: 100%;

		&__placeholder {
			text-overflow: ellipsis;
			width: 100%;
		}
	}

	&__icon {
		color: var(--color-primary);
		font-family: FontAwesome;
		font-size: var(--font-size-h4);
		font-weight: var(--font-regular);
		transition: all 300ms ease-in-out;

		&:after {
			content: '\f107';
		}
	}

	&__content {
		display: block;
		overflow: hidden;
		padding: var(--space-none) var(--space-m);

		&--is {
			&-collapsed {
				height: 0;
				visibility: hidden;

				// Service Studio Preview
				& {
					-servicestudio-height: auto;
					-servicestudio-padding: var(--space-none) var(--space-m) var(--space-m);
				}
			}

			&-expanded {
				height: auto;
				padding: var(--space-none) var(--space-m) var(--space-m);
				visibility: visible;
			}

			&-animating {
				transition: all 300ms ease-in-out;
			}
		}

		/* Add a margin-top when animated label is the first child */
		[data-block*='AnimatedLabel']:first-child .animated-label {
			margin-top: var(--space-s);
		}
	}

	.choices__list.choices__list--dropdown,
	[data-dropdown] > div.dropdown-list {
		position: initial;
	}

	// Accordion inside accordion
	.osui-accordion {
		margin-top: var(--accordion-active-border-size);
	}
}

// Responsive -------------------------------------------------------------------------
///
.phone {
	.osui-accordion-item .osui-accordion-item__title {
		font-size: calc(var(--font-size-base));
	}
}

///
.layout-native {
	.osui-accordion-item {
		&__title {
			padding: var(--space-base);
		}

		&__content {
			padding: var(--space-none) var(--space-base);

			&--is {
				&-collapsed {
					padding: var(--space-none) var(--space-base);
				}

				&-expanded {
					padding: var(--space-none) var(--space-base) var(--space-base);
				}
			}
		}
	}
}

// Accessibility -------------------------------------------------------------------------
///
.has-accessible-features {
	.osui-accordion-item {
		&__title,
		&__content {
			&:focus {
				box-shadow: none;
			}

			&:focus-visible {
				outline: var(--border-size-l) solid var(--color-focus-outer);
			}
		}
	}
}
