/* Patterns - Content - Tooltip */
////
/// @group Patterns-Tooltip
/// Patterns - Content - Tooltip

// Transition Time
$transition-time: 250ms;

// Baloon Size
$osui-tooltip-baloon-max-height: 50vh;
$osui-tooltip-baloon-max-width: 250px;
$osui-tooltip-baloon-min-width: 150px;

// tooltip arrow size
$osui-tooltip-arrow-size: 9px;
// Service Studio preview arrow size
$osui-tooltip-arrow-size-preview: 5px;
$osui-tooltip-arrow-middle-preview: calc(50% - 2.5px);

///
.osui-tooltip {
	display: inline-block;
	position: relative;

	// ServiceStudio Preview
	& {
		-servicestudio-vertical-align: middle;
	}
}

/* ---------------------------------------------------------------------------- */
// Tooltip IconWrapper
/* ---------------------------------------------------------------------------- */
///
.osui-tooltip__content {
	cursor: pointer;
	position: inherit;

	&:empty {
		// ServiceStudio Preview
		& {
			-servicestudio-min-width: 80px;
		}
	}
}

/* ---------------------------------------------------------------------------- */
// Tooltip BaloonWrapper
/* ---------------------------------------------------------------------------- */
//
.osui-tooltip__balloon-wrapper {
	word-break: break-word;
	max-height: $osui-tooltip-baloon-max-height;
	opacity: 0;
	overflow: hidden;
	pointer-events: none;
	position: absolute;
	will-change: top, right, bottom, left, opacity, transform;
	z-index: var(--layer-global-instant-interaction);

	// Service Studio Preview
	& {
		-servicestudio-left: initial;
		-servicestudio-max-height: initial;
		-servicestudio-opacity: 1;
		-servicestudio-overflow: initial;
		-servicestudio-pointer-events: initial;
	}
}

/* ---------------------------------------------------------------------------- */
// Tooltip Baloon
/* ---------------------------------------------------------------------------- */
///
.osui-tooltip__balloon-wrapper__balloon {
	background-color: var(--color-neutral-9);
	border-radius: var(--border-radius-soft);
	color: var(--color-neutral-0);
	font-size: var(--font-size-s);
	font-weight: var(--font-regular);
	line-height: initial;
	max-width: $osui-tooltip-baloon-max-width;
	min-width: $osui-tooltip-baloon-min-width;
	opacity: 0;
	padding: var(--space-s);
	position: relative;
	width: fit-content;
	transition: opacity $transition-time;

	// Service Studio Preview
	& {
		-servicestudio-opacity: 1;
	}

	// Baloon Arrow!
	&:before {
		border-style: solid;
		content: '';
		display: block;
		height: 0;
		opacity: 0;
		position: absolute;
		width: 0;

		// Service Studio Preview
		& {
			-servicestudio-opacity: 1;
		}
	}
}

/* ---------------------------------------------------------------------------- */
// BalloonWrapper Positions
/* ---------------------------------------------------------------------------- */
///
.osui-tooltip__balloon-wrapper {
	// Is left
	&.left {
		left: calc(var(--osui-tooltip-left) + var(--space-xs));
		max-width: 0;
		min-width: 0;
		padding-right: var(--space-none);
		top: calc(var(--osui-tooltip-top) + (var(--osui-tooltip-height) / 2));
		transform: translateX(-100%) translateY(-50%);

		// Service Studio Preview
		& {
			-servicestudio-left: var(--osui-tooltip-left);
			-servicestudio-max-width: $osui-tooltip-baloon-max-width;
			-servicestudio-min-width: $osui-tooltip-baloon-min-width;
			-servicestudio-padding-right: var(--space-base);
			-servicestudio-top: 50%;
		}

		.osui-tooltip__balloon-wrapper__balloon {
			transform: translateX(-100%);
			width: $osui-tooltip-baloon-max-width;

			// Service Studio Preview
			& {
				-servicestudio-transform: translateX(0);
				-servicestudio-width: fit-content;
			}

			// Baloon Arrow!
			&:before {
				border-color: transparent transparent transparent var(--color-neutral-9);
				border-width: $osui-tooltip-arrow-size 0 $osui-tooltip-arrow-size $osui-tooltip-arrow-size;
				left: calc(100% - 1px);
				top: 50%;
				transform: translateX(-50%) translateY(-50%);

				// Service Studio Preview
				& {
					-servicestudio-transform: translateX(0) translateY(-50%);
				}
			}
		}
	}

	// Is right or position is empty!
	&.right {
		max-width: 0;
		min-width: 0;
		padding-left: var(--space-none);
		right: calc(100vw - var(--osui-tooltip-left) - var(--osui-tooltip-width) + var(--space-xs));
		top: calc(var(--osui-tooltip-top) + (var(--osui-tooltip-height) / 2));
		transform: translateX(100%) translateY(-50%);

		// Service Studio Preview
		& {
			-servicestudio-max-width: $osui-tooltip-baloon-max-width;
			-servicestudio-min-width: $osui-tooltip-baloon-min-width;
			-servicestudio-padding-left: var(--space-base);
			-servicestudio-right: 0;
			-servicestudio-top: 50%;
		}

		.osui-tooltip__balloon-wrapper__balloon {
			transform: translateX(calc(-1 * var(--space-s)));
			width: $osui-tooltip-baloon-max-width;

			// Service Studio Preview
			& {
				-servicestudio-transform: translateX(0);
				-servicestudio-width: fit-content;
			}

			// Baloon Arrow!
			&:before {
				border-color: transparent var(--color-neutral-9) transparent transparent;
				border-width: $osui-tooltip-arrow-size $osui-tooltip-arrow-size $osui-tooltip-arrow-size 0;
				left: 1px;
				top: 50%;
				transform: translateX(-50%) translateY(-50%);

				// Service Studio Preview
				& {
					-servicestudio-transform: translateX(-100%) translateY(-50%);
				}
			}
		}
	}

	// Is center
	&.center {
		left: calc(var(--osui-tooltip-left) + (var(--osui-tooltip-width) / 2));
		max-height: 0;
		padding-top: var(--space-none);
		top: calc(var(--osui-tooltip-top) + var(--space-s));
		transform: translateX(-50%) translateY(0);

		// Service Studio Preview
		& {
			-servicestudio-left: 50%;
			-servicestudio-max-height: 50vh;
			-servicestudio-padding-top: var(--space-base);
			-servicestudio-top: 50%;
		}

		.osui-tooltip__balloon-wrapper__balloon {
			transform: translateY(calc(-1 * var(--space-s)));

			// Service Studio Preview
			& {
				-servicestudio-transform: translateY(0);
			}

			// Baloon Arrow!
			&:before {
				border-color: transparent transparent var(--color-neutral-9) transparent;
				border-width: 0 $osui-tooltip-arrow-size $osui-tooltip-arrow-size $osui-tooltip-arrow-size;
				left: 50%;
				top: 1px;
				transform: translateX(-50%) translateY(-50%);

				// Service Studio Preview
				& {
					-servicestudio-transform: translateX(-50%) translateY(-100%);
				}
			}
		}
	}

	// Is general top
	&.top,
	&.top-left,
	&.top-right {
		max-height: 0;
		padding-bottom: var(--space-none);
		top: var(--osui-tooltip-top);

		// Service Studio Preview
		& {
			-servicestudio-max-height: $osui-tooltip-baloon-max-height;
			-servicestudio-padding-bottom: var(--space-base);
			-servicestudio-top: 0;
		}

		.osui-tooltip__balloon-wrapper__balloon {
			transform: translateY(-100%);

			// Service Studio Preview
			& {
				-servicestudio-transform: translateY(0);
			}

			// Baloon Arrow!
			&:before {
				border-color: var(--color-neutral-9) transparent transparent transparent;
				border-width: $osui-tooltip-arrow-size $osui-tooltip-arrow-size 0 $osui-tooltip-arrow-size;
				top: calc(100% - 1px);
			}
		}
	}

	// Is top
	&.top {
		left: calc(var(--osui-tooltip-left) + (var(--osui-tooltip-width) / 2));
		transform: translateX(-50%) translateY(calc(-100% + var(--space-s)));

		// Service Studio Preview
		& {
			-servicestudio-left: 50%;
		}

		.osui-tooltip__balloon-wrapper__balloon {
			// Baloon Arrow!
			&:before {
				left: 50%;
				transform: translateX(-50%) translateY(-50%);

				// Service Studio Preview
				& {
					-servicestudio-transform: translateX(-50%) translateY(0);
				}
			}
		}
	}

	// top-left
	&.top-left {
		left: calc(var(--osui-tooltip-left) - var(--space-xs));
		transform: translateX(0) translateY(calc(-100% + var(--space-s)));

		// Service Studio Preview
		& {
			-servicestudio-left: calc(-1 * var(--space-xs));
		}

		.osui-tooltip__balloon-wrapper__balloon {
			// Baloon Arrow!
			&:before {
				left: var(--space-s);
				transform: translateX(0) translateY(-50%);

				// Service Studio Preview
				& {
					-servicestudio-transform: translateX(0) translateY(0);
				}
			}
		}
	}

	// Is top-right
	&.top-right {
		left: calc(var(--osui-tooltip-left) + var(--osui-tooltip-width) + var(--space-xs));
		transform: translateX(-100%) translateY(calc(-100% + var(--space-s)));

		// Service Studio Preview
		& {
			-servicestudio-left: calc(100% + var(--space-xs));
		}

		.osui-tooltip__balloon-wrapper__balloon {
			// Baloon Arrow!
			&:before {
				left: calc(100% - var(--space-s));
				transform: translateX(-100%) translateY(-50%);

				// Service Studio Preview
				& {
					-servicestudio-transform: translateX(-100%) translateY(0);
				}
			}
		}
	}

	// Is general bottom
	&.bottom,
	&.bottom-left,
	&.bottom-right {
		max-height: 0;
		padding-top: var(--space-none);
		top: calc(var(--osui-tooltip-top) + var(--osui-tooltip-height) - var(--space-xs));

		// Service Studio Preview
		& {
			-servicestudio-max-height: $osui-tooltip-baloon-max-height;
			-servicestudio-padding-top: var(--space-base);
			-servicestudio-top: calc(100% + var(--osui-tooltip-height));
		}

		.osui-tooltip__balloon-wrapper__balloon {
			transform: translateY(calc(-1 * var(--space-s)));

			// Service Studio Preview
			& {
				-servicestudio-transform: translateY(0);
			}

			// Baloon Arrow!
			&:before {
				border-color: transparent transparent var(--color-neutral-9) transparent;
				border-width: 0 $osui-tooltip-arrow-size $osui-tooltip-arrow-size $osui-tooltip-arrow-size;
				top: 1px;
			}
		}
	}

	// Is bottom
	&.bottom {
		left: calc(var(--osui-tooltip-left) + (var(--osui-tooltip-width) / 2));
		transform: translateX(-50%) translateY(0);

		// Service Studio Preview
		& {
			-servicestudio-left: 50%;
		}

		.osui-tooltip__balloon-wrapper__balloon {
			// Baloon Arrow!
			&:before {
				left: 50%;
				transform: translateX(-50%) translateY(-50%);

				// Service Studio Preview
				& {
					-servicestudio-transform: translateX(-50%) translateY(-100%);
				}
			}
		}
	}

	// Is bottom-left
	&.bottom-left {
		left: calc(var(--osui-tooltip-left) - var(--space-xs));
		transform: translateX(0) translateY(0);

		// Service Studio Preview
		& {
			-servicestudio-left: calc(-1 * var(--space-xs));
		}

		.osui-tooltip__balloon-wrapper__balloon {
			// Baloon Arrow!
			&:before {
				left: var(--space-s);
				transform: translateX(0) translateY(-50%);

				// Service Studio Preview
				& {
					-servicestudio-transform: translateX(0) translateY(-100%);
				}
			}
		}
	}

	// Is bottom-right
	&.bottom-right {
		left: calc(var(--osui-tooltip-left) + var(--osui-tooltip-width) + var(--space-xs));
		transform: translateX(-100%) translateY(0);

		// Service Studio Preview
		& {
			-servicestudio-left: calc(100% + var(--space-xs));
		}

		.osui-tooltip__balloon-wrapper__balloon {
			// Baloon Arrow!
			&:before {
				left: calc(100% - var(--space-s));
				transform: translateX(-100%) translateY(-50%);

				// Service Studio Preview
				& {
					-servicestudio-transform: translateX(-100%) translateY(-100%);
				}
			}
		}
	}

	// Is empty
	&:not(.left):not(.right):not(.center):not(.top):not(.top-left):not(.top-right):not(.bottom):not(.bottom-left):not(
			.bottom-right
		) {
		left: calc(var(--osui-tooltip-left) + var(--osui-tooltip-width));
		max-width: 0;
		min-width: 0;
		padding-left: var(--space-none);
		top: calc(var(--osui-tooltip-top) + (var(--osui-tooltip-height) / 2));
		transform: translateX(0) translateY(-50%);

		// Service Studio Preview
		& {
			-servicestudio-transform: none;
		}

		.osui-tooltip__balloon-wrapper__balloon {
			transform: translateX(calc(-1 * var(--space-s)));
			width: $osui-tooltip-baloon-max-width;

			// Service Studio Preview
			& {
				-servicestudio-transform: none;
			}

			// Baloon Arrow!
			&:before {
				border-color: transparent var(--color-neutral-9) transparent transparent;
				border-width: $osui-tooltip-arrow-size $osui-tooltip-arrow-size $osui-tooltip-arrow-size 0;
				left: 0;
				top: 50%;
				transform: translateX(-50%) translateY(-50%);
			}
		}
	}
}

/* ---------------------------------------------------------------------------- */
// BalloonWrapper IsOpening!
/* ---------------------------------------------------------------------------- */
///
.osui-tooltip__balloon-wrapper--is-opening {
	// Is left
	&.left {
		transition: left $transition-time;
	}

	// Is Right
	&.right {
		transition: right $transition-time;
	}

	// Is Center
	&.center {
		transition: top $transition-time;
	}

	// Is general top
	&.top,
	&.top-left,
	&.top-right {
		transition: top $transition-time;
	}

	// Is general bottom
	&.bottom,
	&.bottom-left,
	&.bottom-right {
		transition: top $transition-time;
	}

	// General balloon content
	.osui-tooltip__balloon-wrapper__balloon {
		transition: opacity $transition-time;
	}
}

/* ---------------------------------------------------------------------------- */
// BalloonWrapper IsOpened!
/* ---------------------------------------------------------------------------- */
///
.osui-tooltip__balloon-wrapper--is-open {
	opacity: 1;
	pointer-events: initial;

	// Default Balloon Styles!
	.osui-tooltip__balloon-wrapper__balloon {
		opacity: 1;

		&:before {
			opacity: 1;
		}
	}

	// Is left
	&.left {
		left: var(--osui-tooltip-left);
		max-width: $osui-tooltip-baloon-max-width;
		min-width: $osui-tooltip-baloon-min-width;
		padding-right: var(--space-base);

		.osui-tooltip__balloon-wrapper__balloon {
			transform: translateX(0);
			width: fit-content;

			// Baloon Arrow!
			&:before {
				transform: translateX(0) translateY(-50%);
			}
		}
	}

	// Is right or position is empty!
	&.right {
		max-width: $osui-tooltip-baloon-max-width;
		min-width: $osui-tooltip-baloon-min-width;
		padding-left: var(--space-base);
		right: calc(100vw - var(--osui-tooltip-left) - var(--osui-tooltip-width));

		.osui-tooltip__balloon-wrapper__balloon {
			transform: translateX(0);
			width: fit-content;

			// Baloon Arrow!
			&:before {
				transform: translateX(-100%) translateY(-50%);
			}
		}
	}

	// Is center
	&.center {
		max-height: $osui-tooltip-baloon-max-height;
		padding-top: var(--space-base);
		top: calc(var(--osui-tooltip-top) + (var(--osui-tooltip-height) / 2));

		.osui-tooltip__balloon-wrapper__balloon {
			transform: translateY(0);

			// Baloon Arrow!
			&:before {
				transform: translateX(-50%) translateY(-100%);
			}
		}
	}

	// Is general top
	&.top,
	&.top-left,
	&.top-right {
		max-height: $osui-tooltip-baloon-max-height;
		padding-bottom: var(--space-base);
		top: calc(var(--osui-tooltip-top) - var(--space-s));

		// general top Baloon
		.osui-tooltip__balloon-wrapper__balloon {
			transform: translateY(0);
		}
	}

	// Is top
	&.top {
		.osui-tooltip__balloon-wrapper__balloon {
			// Baloon Arrow!
			&:before {
				transform: translateX(-50%) translateY(0);
			}
		}
	}

	// top-left
	&.top-left {
		.osui-tooltip__balloon-wrapper__balloon {
			// Baloon Arrow!
			&:before {
				transform: translateX(0) translateY(0);
			}
		}
	}

	// Is top-right
	&.top-right {
		.osui-tooltip__balloon-wrapper__balloon {
			// Baloon Arrow!
			&:before {
				transform: translateX(-100%) translateY(0);
			}
		}
	}

	// Is general bottom
	&.bottom,
	&.bottom-left,
	&.bottom-right {
		max-height: $osui-tooltip-baloon-max-height;
		padding-top: var(--space-base);
		top: calc(var(--osui-tooltip-top) + var(--osui-tooltip-height));

		// general bottom Baloon
		.osui-tooltip__balloon-wrapper__balloon {
			transform: translateY(0);
		}
	}

	// Is bottom
	&.bottom {
		.osui-tooltip__balloon-wrapper__balloon {
			// Baloon Arrow!
			&:before {
				transform: translateX(-50%) translateY(-100%);
			}
		}
	}

	// Is bottom-left
	&.bottom-left {
		.osui-tooltip__balloon-wrapper__balloon {
			// Baloon Arrow!
			&:before {
				transform: translateX(0) translateY(-100%);
			}
		}
	}

	// Is bottom-right
	&.bottom-right {
		.osui-tooltip__balloon-wrapper__balloon {
			// Baloon Arrow!
			&:before {
				transform: translateX(-100%) translateY(-100%);
			}
		}
	}

	// Is empty
	&:not(.left):not(.right):not(.center):not(.top):not(.top-left):not(.top-right):not(.bottom):not(.bottom-left):not(
			.bottom-right
		) {
		max-width: $osui-tooltip-baloon-max-width;
		min-width: $osui-tooltip-baloon-min-width;
		padding-left: var(--space-base);

		.osui-tooltip__balloon-wrapper__balloon {
			transform: translateX(0);
			width: auto;

			// Baloon Arrow!
			&:before {
				transform: translateX(-100%) translateY(-50%);
			}
		}
	}
}

// IsRTL -------------------------------------------------------------------------
///
.is-rtl {
	.osui-tooltip__balloon-wrapper {
		// Is left
		&.left {
			.osui-tooltip__balloon-wrapper__balloon {
				transform: translateX(0);
			}
		}
	}
}

// Responsive --------------------------------------------------------------------
///
.phone {
	.osui-tooltip__balloon-wrapper {
		&,
		&--is-open {
			.osui-tooltip__balloon-wrapper__balloon {
				max-width: initial;
				min-width: initial;
				width: 40vw;
			}
		}
	}
}
