/* Patterns - Content - Tooltip */
////
/// @group Patterns-Tooltip
/// Patterns - Content - Tooltip

///
.osui-tooltip {
	--osui-tooltip-background-color: var(--color-neutral-9);
	--osui-tooltip-arrow-size: 10px;
	display: inline-block;
	position: relative;

	// ServiceStudio Preview
	& {
		-servicestudio-vertical-align: middle;
	}

	.osui-balloon {
		position: fixed;
	}

	&__balloon-arrow {
		position: absolute;
		width: var(--osui-tooltip-arrow-size);
		height: var(--osui-tooltip-arrow-size);
		background-color: var(--osui-tooltip-background-color);
		transform: rotate(45deg);
		z-index: var(--layer-global-negative);
	}
}

/* ---------------------------------------------------------------------------- */
// Tooltip IconWrapper
/* ---------------------------------------------------------------------------- */
///
.osui-tooltip__content {
	--osui-floating-offset: var(--space-s);
	cursor: pointer;

	&:empty {
		// ServiceStudio Preview
		& {
			-servicestudio-min-width: 80px;
		}
	}
}

/* ---------------------------------------------------------------------------- */
// Tooltip BaloonWrapper
/* ---------------------------------------------------------------------------- */
//
.osui-tooltip__balloon-wrapper {
	pointer-events: none;

	// Service Studio Preview
	& {
		-servicestudio-left: initial;
		-servicestudio-max-height: initial;
		-servicestudio-opacity: 1;
		-servicestudio-overflow: initial;
		-servicestudio-pointer-events: initial;
	}

	&__balloon {
		background-color: var(--osui-tooltip-background-color);
		border-radius: var(--border-radius-soft);
		color: var(--color-neutral-0);
		font-size: var(--font-size-s);
		font-weight: var(--font-regular);
		line-height: initial;
		max-width: 250px;
		padding: var(--space-s);

		// Service Studio Preview
		& {
			-servicestudio-opacity: 1;
		}
	}
}
