/*! Patterns - Adaptive - Columns */
////
/// @group Columns
/// Patterns - Adaptive - Columns Styles

///
.columns {
	display: flex;
	flex-wrap: wrap;

	& > .columns-item {
		flex: 1;
		min-width: 0;
		word-break: break-word;

		& > .card {
			height: 100%;
		}
	}

	&:only-child > .columns-item {
		margin-bottom: var(--space-none);
	}

	&.columns-small-left > .columns-item:last-child,
	&.columns-small-right > .columns-item:first-child {
		flex: 3;
	}

	&.columns-medium-left > .columns-item:last-child,
	&.columns-medium-right > .columns-item:first-child {
		flex: 2;
	}
}

// Gutters --------------------------------------------------------------------
///
@each $entry in $osui-sizes {
	$label: nth($entry, 1);
	$value: nth($entry, 2);

	.columns {
		&.gutter-#{$label} {
			margin-left: calc(-1 * #{$value} / 2);
			margin-right: calc(-1 * #{$value} / 2);
		}

		&.gutter-#{$label} > .columns-item {
			margin-bottom: #{$value};
			padding: var(--space-none) calc(#{$value} / 2);
		}
	}

	.tablet {
		.columns.gutter-#{$label}.tablet-break-first:only-child > .columns-item:not(:last-child),
		.columns.gutter-#{$label}.tablet-break-last:only-child > .columns-item:not(:last-child),
		.columns.gutter-#{$label}.tablet-break-middle:only-child > .columns-item:not(:last-child),
		.columns.gutter-#{$label}.tablet-break-all:only-child > .columns-item:not(:last-child) {
			margin-bottom: #{$value};
		}
	}

	.phone {
		.columns.gutter-#{$label}.phone-break-first:only-child > .columns-item:not(:last-child),
		.columns.gutter-#{$label}.phone-break-last:only-child > .columns-item:not(:last-child),
		.columns.gutter-#{$label}.phone-break-middle:only-child > .columns-item:not(:last-child),
		.columns.gutter-#{$label}.phone-break-all:only-child > .columns-item:not(:last-child) {
			margin-bottom: #{$value};
		}
	}
}

// Responsive --------------------------------------------------------------------
///
@each $osui-device in $osui-devices {
	@if ($osui-device != 'desktop') {
		.#{$osui-device} {
			.columns {
				&.#{$osui-device}-break-first > .columns-item:first-child,
				&.#{$osui-device}-break-last > .columns-item:last-child,
				&.#{$osui-device}-break-all > .columns-item,
				&.columns2.#{$osui-device}-break-middle > .columns-item,
				&.columns3.#{$osui-device}-break-middle > .columns-item:last-child,
				&.columns-small-left.#{$osui-device}-break-middle > .columns-item,
				&.columns-medium-left.#{$osui-device}-break-middle > .columns-item,
				&.columns-small-right.#{$osui-device}-break-middle > .columns-item,
				&.columns-medium-right.#{$osui-device}-break-middle > .columns-item {
					flex: none;
					width: 100%;
				}

				&.columns4.#{$osui-device}-break-middle > .columns-item {
					flex: none;
					width: 50%;
				}

				&.columns5.#{$osui-device}-break-middle > .columns-item:nth-child(1),
				&.columns5.#{$osui-device}-break-middle > .columns-item:nth-child(2),
				&.columns5.#{$osui-device}-break-middle > .columns-item:nth-child(3),
				&.columns6.#{$osui-device}-break-middle > .columns-item:nth-child(1),
				&.columns6.#{$osui-device}-break-middle > .columns-item:nth-child(2),
				&.columns6.#{$osui-device}-break-middle > .columns-item:nth-child(3) {
					flex: none;
					width: 33.333%;
				}
			}
		}
	}
}
