/*! Patterns - Adaptive - Columns */
////
/// @group Patterns-Columns
/// Patterns - Adaptive - Columns Styles

///
.columns {
	display: flex;
	flex-wrap: wrap;

	& > .columns-item {
		flex: 1;
		min-width: 0;
		word-break: break-word;

		& > .card {
			height: 100%;
		}
	}

	&.columns {
		&-small {
			&-left,
			&-right {
				& > .columns-item {
					&:last-child,
					&:first-child {
						flex: 3;
					}
				}
			}
		}

		&-medium {
			&-left,
			&-right {
				& > .columns-item {
					&:last-child,
					&:first-child {
						flex: 2;
					}
				}
			}
		}
	}

	// Gutters -------------------------------------------------------------------
	& {
		@each $osui-size in $osui-sizes {
			&.gutter {
				&-#{$osui-size} {
					margin-left: calc(-1 * var(--space-#{$osui-size}) / 2);
					margin-right: calc(-1 * var(--space-#{$osui-size}) / 2);

					& > .columns-item {
						margin-bottom: var(--space-#{$osui-size});
						padding: var(--space-none) calc(var(--space-#{$osui-size}) / 2);
					}

					.tablet &.tablet-break {
						&-first,
						&-last,
						&-middle,
						&-all {
							&:only-child > .columns-item:not(:last-child) {
								margin-bottom: var(--space-#{$osui-size});
							}
						}
					}

					.phone &.phone-break {
						&-first,
						&-last,
						&-middle,
						&-all {
							&:only-child > .columns-item:not(:last-child) {
								margin-bottom: var(--space-#{$osui-size});
							}
						}
					}
				}
			}
		}
	}
}

// Override gutters rule
.columns:only-child > .columns-item {
	margin-bottom: var(--space-none);
}

// Responsive --------------------------------------------------------------------
///
@each $osui-device in $osui-devices {
	@if ($osui-device != 'desktop') {
		.#{$osui-device} {
			.columns {
				&.#{$osui-device}-break-first > .columns-item:first-child,
				&.#{$osui-device}-break-last > .columns-item:last-child,
				&.#{$osui-device}-break-all > .columns-item,
				&.columns2.#{$osui-device}-break-middle > .columns-item,
				&.columns3.#{$osui-device}-break-middle > .columns-item:last-child,
				&.columns-small-left.#{$osui-device}-break-middle > .columns-item,
				&.columns-medium-left.#{$osui-device}-break-middle > .columns-item,
				&.columns-small-right.#{$osui-device}-break-middle > .columns-item,
				&.columns-medium-right.#{$osui-device}-break-middle > .columns-item {
					flex: none;
					width: 100%;
				}

				&.columns4.#{$osui-device}-break-middle > .columns-item {
					flex: none;
					width: 50%;
				}

				&.columns5.#{$osui-device}-break-middle > .columns-item:nth-child(1),
				&.columns5.#{$osui-device}-break-middle > .columns-item:nth-child(2),
				&.columns5.#{$osui-device}-break-middle > .columns-item:nth-child(3),
				&.columns6.#{$osui-device}-break-middle > .columns-item:nth-child(1),
				&.columns6.#{$osui-device}-break-middle > .columns-item:nth-child(2),
				&.columns6.#{$osui-device}-break-middle > .columns-item:nth-child(3) {
					flex: none;
					width: 33.333%;
				}
			}
		}
	}
}
