////
/// @group global

/// @todo Split this also!

///
@keyframes loadingSpinner {
	0% {
		transform: rotate(0deg) translateZ(0);
	}
	100% {
		transform: rotate(360deg) translateZ(0);
	}
}

///
@keyframes list-item-scale-animation {
	from {
		opacity: 0.3;
		transform: scale(0, 1) translateZ(0);
	}
	to {
		opacity: 0;
		transform: scale(400, 300) translateZ(0);
	}
}

///
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

///
@keyframes fade {
	0%,
	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

///
@keyframes feedbackMessageSlideDownThenUp {
	0% {
		transform: translateY(-100%) translateX(-50%) translateZ(0);
	}
	5% {
		transform: translateY(24px) translateX(-50%) translateZ(0);
	}
	95% {
		transform: translateY(24px) translateX(-50%) translateZ(0);
	}
	100% {
		transform: translateY(-100%) translateX(-50%) translateZ(0);
	}
}

///
@keyframes feedbackMessageSlideDown {
	0% {
		transform: translateY(-100%) translateX(-50%) translateZ(0);
	}
	100% {
		transform: translateY(24px) translateX(-50%) translateZ(0);
	}
}

///
@keyframes feedbackMessageSlideDownThenUpPhone {
	0% {
		transform: translateY(-100%) translateX(-50%) translateZ(0);
	}
	5% {
		transform: translateY(0) translateX(-50%) translateZ(0);
	}
	95% {
		transform: translateY(0) translateX(-50%) translateZ(0);
	}
	100% {
		transform: translateY(-100%) translateX(-50%) translateZ(0);
	}
}

///
@keyframes feedbackMessageSlideDownPhone {
	0% {
		transform: translateY(-100%) translateX(-50%) translateZ(0);
	}
	100% {
		transform: translateY(0) translateX(-50%) translateZ(0);
	}
}

///
@keyframes feedbackMessageSlideDownThenUpPhoneRTL {
	0% {
		transform: translateY(-100%) translateX(0) translateZ(0);
	}
	5% {
		transform: translateY(0) translateX(0) translateZ(0);
	}
	95% {
		transform: translateY(0) translateX(0) translateZ(0);
	}
	100% {
		transform: translateY(-100%) translateX(0) translateZ(0);
	}
}

///
@keyframes feedbackMessageSlideDownPhoneRTL {
	0% {
		transform: translateY(-100%) translateX(0) translateZ(0);
	}

	100% {
		transform: translateY(0) translateX(0) translateZ(0);
	}
}
