// TODO (by CreateNewPattern): update section!
/*! Patterns - section - DropdownServerSideItem */
////
/// @group Patterns-DropdownServerSideItem
/// Patterns - section - DropdownServerSideItem

// TODO (by CreateNewPattern): do all css styles for the DropdownServerSideItem at this partial!

///
.osui-dropdown-serverside-item {
	background-color: var(--color-neutral-0);
	color: var(--color-neutral-9);
	padding: var(--space-s) var(--space-base);

	&__content {
	}
}

// Accessibility -----------------------------------------------------------------
///
.has-accessible-features {
	// css props
}

// IsRTL -------------------------------------------------------------------------
///
.is-rtl {
	// css props
}

// Responsive --------------------------------------------------------------------
///
.tablet,
.phone {
	// css props
}

///
.tablet {
	// css props
}

///
.phone {
	// css props
}
