/*! Patterns - Interaction - Sidebar */
////
/// @group Patterns-Sidebar
/// Patterns - Interaction - Sidebar

.osui-sidebar {
	//TODO: Validade the color of all overlays and create "global" variable for it.
	$sidebar-overlay-background: rgba(0, 0, 0, 0.25);
	display: contents;

	&--is-right {
		.osui-sidebar__aside {
			right: 0;
			transform: translateX(102%);

			&:before {
				left: -24px;
			}
		}
	}

	&.right {
		-servicestudio-justify-content: flex-end;
	}

	&--is-left {
		.osui-sidebar__aside {
			left: 0;
			transform: translateX(-102%);

			&:before {
				right: -24px;
			}
		}
	}

	&.left {
		-servicestudio-justify-content: flex-start;
	}

	&__aside {
		background-color: var(--color-neutral-0);
		box-shadow: var(--shadow-l);
		display: flex;
		flex-direction: column;
		height: 100%;
		margin: var(--space-none);
		position: fixed;
		top: 0;
		transition: all 130ms ease-in;
		width: var(--sidebar-width);
		will-change: transform;
		z-index: 140;

		&:before {
			background-color: transparent;
			content: '';
			height: 100%;
			position: fixed;
			width: 24px;
		}

		// Service Studio Preview
		& {
			-servicestudio-bottom: 20px;
			-servicestudio-display: inline-block;
			-servicestudio-height: auto;
			-servicestudio-margin: unset;
			-servicestudio-position: relative;
			-servicestudio-transform: none;
			-servicestudio-webkit-transform: none;
			-servicestudio-width: unset;
		}
	}

	&__aside__header,
	&__aside__content {
		padding: var(--space-base) var(--space-m);
	}

	&__aside__content {
		flex: 1;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
	}

	&__overlay {
		background-color: $sidebar-overlay-background;
		cursor: pointer;
		height: 100vh;
		opacity: 0;
		pointer-events: none;
		position: fixed;
		right: 0;
		top: 0;
		transition: opacity 130ms ease-in;
		width: 100vw;
		will-change: opacity;
		z-index: 130;

		&-preview {
			-servicestudio-background-color: $sidebar-overlay-background;
		}
		// Service Studio Preview
		& {
			-servicestudio-display: none;
		}
	}
	& {
		-servicestudio-display: flex;
		-servicestudio-flex-direction: row;
	}
}

///
.active-screen {
	.osui-sidebar {
		&--is-open {
			.osui-sidebar__aside {
				opacity: 1;
				transform: none;
				transition: transform 330ms ease-out;
				will-change: transform;
			}

			.osui-sidebar__overlay {
				opacity: 1;
				pointer-events: initial;
			}
		}
	}
}

// Responsive --------------------------------------------------------------------
///
.desktop {
	.osui-sidebar__aside {
		opacity: 0;

		&:before {
			display: none;
		}
	}
}

///
.android[data-status-bar-height] {
	.layout-native {
		.osui-sidebar__aside {
			padding-top: var(--status-bar-height);
		}
	}
}

///
.ios {
	.layout-native {
		.osui-sidebar__aside {
			padding-bottom: var(--os-safe-area-bottom);
			padding-top: var(--os-safe-area-top);
		}
	}

	.phone {
		&.landscape {
			.layout-native {
				.osui-sidebar__aside:before {
					left: calc((var(--os-safe-area-left) + 12px) * -1);
					width: calc(var(--os-safe-area-left) + 12px);
				}
			}
		}
	}
}

///
.landscape {
	.layout-native {
		.osui-sidebar__aside {
			padding-bottom: var(--os-safe-area-bottom);
		}
	}
}

///
.phone {
	.osui-sidebar__aside {
		max-width: 85vw;
	}
}
