/* Patterns - Content - Accordion */
////
/// @group Patterns-Accordion
/// Patterns - Content - Accordion

///
.osui-accordion {
	// Style the first accordionItem inside accordion and/or list
	:first-child:not(.list) >,
	.list :first-child > {
		.osui-accordion-item {
			border-radius: $token-border-radius-0;
			border-top-left-radius: $token-border-radius-100;
			border-top-right-radius: $token-border-radius-100;
		}
	}

	// Style the last accordionItem inside accordion and/or list
	:last-child:not(.list) >,
	.list :last-child > {
		.osui-accordion-item {
			border-bottom-width: $token-border-size-025;
			border-radius: $token-border-radius-0;
			border-bottom-left-radius: $token-border-radius-100;
			border-bottom-right-radius: $token-border-radius-100;
		}
	}

	// When accordionItem is used isolated or only 1 item on the list
	:only-child >,
	.list :only-child > {
		.osui-accordion-item {
			border-radius: $token-border-radius-100;
		}
	}

	// Style the first accordionItem active border inside accordion
	:first-child:not(.list) > {
		.osui-accordion-item {
			&::after {
				border-top-left-radius: $token-border-radius-100;
				border-top-right-radius: $token-border-radius-100;
			}
		}
	}

	& &-item,
	.list .osui-accordion-item {
		border-radius: $token-border-radius-0;
	}

	// Style all the accordion items once inside an accordion
	& &-item {
		border-bottom-width: $token-border-size-0;

		&::after {
			border-top-left-radius: $token-border-radius-0;
			border-top-right-radius: $token-border-radius-0;
		}

		// ServiceStudio Preview
		& {
			-servicestudio-border-bottom-width: $token-border-size-025;
		}
	}
}
