@use '../../../tokens/variables';

/* Patterns - Content - Accordion */
////
/// @group Patterns-Accordion
/// Patterns - Content - Accordion

///
.osui-accordion {
	// All items inside accordion: no radius
	& &-item,
	.list .osui-accordion-item {
		border-radius: var(--border-radius, var(--border-radius-none));
	}

	// Divider: add top border only to items that are not the first
	:not(:last-child):not(.list) >,
	.list :not(:last-child) > {
		.osui-accordion-item {
			border-block-end: var(--osui-accordion-item-border-width) solid var(--osui-accordion-item-border-color);

			&:not(.osui-accordion-item--is-open):hover {
				border-block-end-color: var(--osui-accordion-item-title-hover-border-color);
			}
		}
	}

	// First item: top corners rounded
	:first-child:not(.list) >,
	.list :first-child > {
		.osui-accordion-item {
			border-start-end-radius: var(--border-radius, var(--border-radius-softest));
			border-start-start-radius: var(--border-radius, var(--border-radius-softest));
			overflow: hidden;
		}
	}

	// Last item: bottom corners rounded
	:last-child:not(.list) >,
	.list :last-child > {
		.osui-accordion-item {
			border-end-end-radius: var(--border-radius, var(--border-radius-softest));
			border-end-start-radius: var(--border-radius, var(--border-radius-softest));
			overflow: hidden;

			&:not(.osui-accordion-item--is-open) {
				.osui-accordion-item__title:hover {
					box-shadow: none;
				}
			}
		}
	}

	// Only child: all corners rounded
	:only-child >,
	.list :only-child > {
		.osui-accordion-item {
			border-radius: var(--border-radius, var(--border-radius-softest));
		}
	}

	// ServiceStudio Preview
	& &-item {
		& {
			-servicestudio-border-bottom-width: variables.$token-border-size-025;
		}
	}
}
