/* Patterns - Interaction - Balloon */
////
/// @group Patterns-Balloon
/// Patterns - Interaction - Balloon

.osui-balloon {
    --osui-floating-position-x: 0;
    --osui-floating-position-y: 0;

    box-shadow: var(--shadow-s);
    border-radius: var(--osui-balloon-shape);
    background-color: var(--color-neutral-0);
    visibility: hidden;
    opacity: 0;
    position: absolute;
    pointer-events: none;
    top: var(--osui-floating-position-y);
    left: var(--osui-floating-position-x);
    width: max-content;
    height: auto;
    z-index: var(--layer-global-elevated);

    &--is-open {
        visibility: visible;
        opacity: 1;
        pointer-events: all;
        transition: opacity 300ms ease-in;
    }
}

.osui-overflow-menu {
    &__trigger {
        --osui-floating-offset: var(--space-s);

        background-color: var(--color-neutral-3);
        cursor: pointer;
        width: 32px;
        height: 32px;
        border: 1px solid transparent;
        border-radius: var(--border-radius-soft);

        &:hover {
            background-color: var(--color-neutral-5);
        }

        * {
            pointer-events: none;
        }
    }

    &--is-open {
        .osui-overflow-menu__trigger {
            background-color: var(--color-neutral-5);
        }
    }
}