/*! Patterns - Content - Tooltip */
////
/// @group Patterns-Tooltip
/// Patterns - Content - Tooltip

// Baloon Size
$osui-tooltip-baloon-max-height: 50vh;
$osui-tooltip-baloon-max-width: 250px;
$osui-tooltip-baloon-min-width: 150px;

// tooltip arrow size
$osui-tooltip-arrow-size: 9px;
// tooltip transition distance
$osui-tooltip-transition-distance: 12px;
// Service Studio preview arrow size
$osui-tooltip-arrow-size-preview: 5px;
$osui-tooltip-arrow-middle-preview: calc(50% - 2.5px);

///
.osui-tooltip {
	display: inline-block;
	position: relative;
}

/* ---------------------------------------------------------------------------- */
// Tooltip IconWrapper
/* ---------------------------------------------------------------------------- */
///
.osui-tooltip__content {
	cursor: pointer;
	position: inherit;

	background-color: red;

	&:empty {
		// ServiceStudio Preview
		& {
			-servicestudio-min-width: 150px;
		}
	}
}

/* ---------------------------------------------------------------------------- */
// Tooltip BaloonWrapper
/* ---------------------------------------------------------------------------- */
//
.osui-tooltip__balloon-wrapper {
	max-height: $osui-tooltip-baloon-max-height;
	opacity: 0;
	overflow: hidden;
	pointer-events: none;
	position: absolute;
	z-index: 2;

	// Service Studio Preview
	& {
		-servicestudio-left: initial;
		-servicestudio-max-height: initial;
		-servicestudio-opacity: 1;
		-servicestudio-overflow: initial;
		-servicestudio-position: relative;
		-servicestudio-top: initial;
	}
}

/* ---------------------------------------------------------------------------- */
// Tooltip BaloonWrapper
/* ---------------------------------------------------------------------------- */
///
.osui-tooltip__balloon-wrapper__balloon {
	background-color: var(--color-neutral-9);
	border-radius: var(--border-radius-soft);
	color: var(--color-neutral-0);
	font-size: var(--font-size-s);
	font-weight: var(--font-regular);
	line-height: initial;
	max-width: $osui-tooltip-baloon-max-width;
	min-width: $osui-tooltip-baloon-min-width;
	opacity: 0;
	padding: var(--space-s);
	position: relative;
	transition: transform 250ms, opacity 250ms;
	width: fit-content;

	// Service Studio Preview
	& {
		-servicestudio-max-width: 200px;
		-servicestudio-min-height: 36px;
		-servicestudio-opacity: 1;
		-servicestudio-top: 0;
	}

	// Baloon Arrow!
	&:before {
		border-style: solid;
		content: '';
		display: block;
		height: 0;
		opacity: 0;
		position: absolute;
		width: 0;
	}
}

/* ---------------------------------------------------------------------------- */
// BalloonWrapper Positions
/* ---------------------------------------------------------------------------- */
///
.osui-tooltip__balloon-wrapper {
	// Is left
	&.left {
		left: var(--osui-tooltip-left);
		max-width: 0;
		min-width: 0;
		padding-right: var(--space-none);
		top: calc(var(--osui-tooltip-top) + (var(--osui-tooltip-height) / 2));
		transform: translateX(-100%) translateY(-50%);

		.osui-tooltip__balloon-wrapper__balloon {
			transform: translateX(var(--space-s));
			width: $osui-tooltip-baloon-max-width;

			// Baloon Arrow!
			&:before {
				border-color: transparent transparent transparent var(--color-neutral-9);
				border-width: $osui-tooltip-arrow-size 0 $osui-tooltip-arrow-size $osui-tooltip-arrow-size;
				left: 100%;
				top: 50%;
				transform: translateX(-50%) translateY(-50%);
			}
		}
	}

	// Is right or position is empty!
	&.right {
		left: calc(var(--osui-tooltip-left) + var(--osui-tooltip-width));
		max-width: 0;
		min-width: 0;
		padding-left: var(--space-none);
		top: calc(var(--osui-tooltip-top) + (var(--osui-tooltip-height) / 2));
		transform: translateX(0) translateY(-50%);

		.osui-tooltip__balloon-wrapper__balloon {
			transform: translateX(calc(-1 * var(--space-s)));
			width: $osui-tooltip-baloon-max-width;

			// Baloon Arrow!
			&:before {
				border-color: transparent var(--color-neutral-9) transparent transparent;
				border-width: $osui-tooltip-arrow-size $osui-tooltip-arrow-size $osui-tooltip-arrow-size 0;
				left: 0;
				top: 50%;
				transform: translateX(-50%) translateY(-50%);
			}
		}
	}

	// Is center
	&.center {
		left: calc(var(--osui-tooltip-left) + (var(--osui-tooltip-width) / 2));
		max-height: 0;
		padding-top: var(--space-none);
		top: calc(var(--osui-tooltip-top) + (var(--osui-tooltip-height) / 2));
		transform: translateX(-50%) translateY(0);

		.osui-tooltip__balloon-wrapper__balloon {
			transform: translateY(calc(-1 * var(--space-s)));

			// Baloon Arrow!
			&:before {
				border-color: transparent transparent var(--color-neutral-9) transparent;
				border-width: 0 $osui-tooltip-arrow-size $osui-tooltip-arrow-size $osui-tooltip-arrow-size;
				left: 50%;
				top: 0;
				transform: translateX(-50%) translateY(-50%);
			}
		}
	}

	// Is general top
	&.top,
	&.top-left,
	&.top-right {
		max-height: 0;
		padding-bottom: var(--space-none);
		bottom: calc(100vh - (var(--osui-tooltip-top) + var(--space-s)));

		.osui-tooltip__balloon-wrapper__balloon {
			transform: translateY(var(--space-s));

			// Baloon Arrow!
			&:before {
				border-color: var(--color-neutral-9) transparent transparent transparent;
				border-width: $osui-tooltip-arrow-size $osui-tooltip-arrow-size 0 $osui-tooltip-arrow-size;
			}
		}
	}

	// Is top
	&.top {
		left: calc(var(--osui-tooltip-left) + (var(--osui-tooltip-width) / 2));
		transform: translateX(-50%) translateY(calc(-1 * var(--space-s)));

		.osui-tooltip__balloon-wrapper__balloon {
			// Baloon Arrow!
			&:before {
				left: 50%;
				top: 100%;
				transform: translateX(-50%) translateY(-50%);
			}
		}
	}

	// Is top-left
	&.top-left {
		left: calc(var(--osui-tooltip-left) + var(--osui-tooltip-width) + var(--space-xs));
		transform: translateX(-100%) translateY(calc(-1 * var(--space-s)));

		.osui-tooltip__balloon-wrapper__balloon {
			// Baloon Arrow!
			&:before {
				left: calc(100% - var(--space-s));
				top: 100%;
				transform: translateX(-100%) translateY(-50%);
			}
		}
	}

	// top-right
	&.top-right {
		left: calc(var(--osui-tooltip-left) - var(--space-xs));
		transform: translateX(0) translateY(calc(-1 * var(--space-s)));

		.osui-tooltip__balloon-wrapper__balloon {
			// Baloon Arrow!
			&:before {
				left: var(--space-s);
				top: 100%;
				transform: translateX(0) translateY(-50%);
			}
		}
	}

	// Is general bottom
	&.bottom,
	&.bottom-left,
	&.bottom-right {
		max-height: 0;
		padding-top: var(--space-none);
		top: calc(var(--osui-tooltip-top) + var(--osui-tooltip-height));

		.osui-tooltip__balloon-wrapper__balloon {
			transform: translateY(calc(-1 * var(--space-s)));

			// Baloon Arrow!
			&:before {
				border-color: transparent transparent var(--color-neutral-9) transparent;
				border-width: 0 $osui-tooltip-arrow-size $osui-tooltip-arrow-size $osui-tooltip-arrow-size;
			}
		}
	}

	// Is bottom
	&.bottom {
		left: calc(var(--osui-tooltip-left) + (var(--osui-tooltip-width) / 2));
		transform: translateX(-50%) translateY(0);

		.osui-tooltip__balloon-wrapper__balloon {
			// Baloon Arrow!
			&:before {
				left: 50%;
				top: 0;
				transform: translateX(-50%) translateY(-50%);
			}
		}
	}

	// Is bottom-left
	&.bottom-left {
		left: calc(var(--osui-tooltip-left) + var(--osui-tooltip-width) + var(--space-xs));
		transform: translateX(-100%) translateY(0);

		.osui-tooltip__balloon-wrapper__balloon {
			// Baloon Arrow!
			&:before {
				left: calc(100% - var(--space-s));
				top: 0;
				transform: translateX(-100%) translateY(-50%);
			}
		}
	}

	// Is bottom-right
	&.bottom-right {
		left: calc(var(--osui-tooltip-left) - var(--space-xs));
		transform: translateX(0) translateY(0);

		.osui-tooltip__balloon-wrapper__balloon {
			// Baloon Arrow!
			&:before {
				left: var(--space-s);
				top: 0;
				transform: translateX(0) translateY(-50%);
			}
		}
	}

	// Is empty
	&:not(.left):not(.right):not(.center):not(.top):not(.top-left):not(.top-right):not(.bottom):not(.bottom-left):not(.bottom-right) {
		left: calc(var(--osui-tooltip-left) + var(--osui-tooltip-width));
		max-width: 0;
		min-width: 0;
		padding-left: var(--space-none);
		top: calc(var(--osui-tooltip-top) + (var(--osui-tooltip-height) / 2));
		transform: translateX(0) translateY(-50%);

		.osui-tooltip__balloon-wrapper__balloon {
			transform: translateX(calc(-1 * var(--space-s)));
			width: $osui-tooltip-baloon-max-width;

			// Baloon Arrow!
			&:before {
				border-color: transparent var(--color-neutral-9) transparent transparent;
				border-width: $osui-tooltip-arrow-size $osui-tooltip-arrow-size $osui-tooltip-arrow-size 0;
				left: 0;
				top: 50%;
				transform: translateX(-50%) translateY(-50%);
			}
		}
	}
}

/* ---------------------------------------------------------------------------- */
// BalloonWrapper IsOpened!
/* ---------------------------------------------------------------------------- */
///
.osui-tooltip__balloon-wrapper--is-opened {
	opacity: 1;
	pointer-events: initial;

	// Default Balloon Styles!
	.osui-tooltip__balloon-wrapper__balloon {
		opacity: 1;

		&:before {
			opacity: 1;
		}
	}

	// Is right or position is empty!
	&.right {
		max-width: $osui-tooltip-baloon-max-width;
		min-width: $osui-tooltip-baloon-min-width;
		padding-left: var(--space-base);

		.osui-tooltip__balloon-wrapper__balloon {
			transform: translateX(0);
			width: auto;

			// Baloon Arrow!
			&:before {
				transform: translateX(-100%) translateY(-50%);
			}
		}
	}

	// Is left
	&.left {
		max-width: $osui-tooltip-baloon-max-width;
		min-width: $osui-tooltip-baloon-min-width;
		padding-right: var(--space-base);

		.osui-tooltip__balloon-wrapper__balloon {
			transform: translateX(0);
			width: auto;

			// Baloon Arrow!
			&:before {
				transform: translateX(0) translateY(-50%);
			}
		}
	}

	// Is center
	&.center {
		max-height: $osui-tooltip-baloon-max-height;
		padding-top: var(--space-base);

		.osui-tooltip__balloon-wrapper__balloon {
			transform: translateY(0);

			// Baloon Arrow!
			&:before {
				transform: translateX(-50%) translateY(-100%);
			}
		}
	}

	// Is general top
	&.top,
	&.top-left,
	&.top-right {
		max-height: $osui-tooltip-baloon-max-height;
		padding-bottom: var(--space-base);

		// general top Baloon
		.osui-tooltip__balloon-wrapper__balloon {
			transform: translateY(0);
		}
	}

	// Is top
	&.top {
		.osui-tooltip__balloon-wrapper__balloon {
			// Baloon Arrow!
			&:before {
				transform: translateX(-50%) translateY(0);
			}
		}
	}

	// Is top-left
	&.top-left {
		.osui-tooltip__balloon-wrapper__balloon {
			// Baloon Arrow!
			&:before {
				transform: translateX(-100%) translateY(0);
			}
		}
	}

	// top-right
	&.top-right {
		.osui-tooltip__balloon-wrapper__balloon {
			// Baloon Arrow!
			&:before {
				transform: translateX(0) translateY(0);
			}
		}
	}

	// Is general bottom
	&.bottom,
	&.bottom-left,
	&.bottom-right {
		max-height: $osui-tooltip-baloon-max-height;
		padding-top: var(--space-base);

		// general bottom Baloon
		.osui-tooltip__balloon-wrapper__balloon {
			transform: translateY(0);
		}
	}

	// Is bottom
	&.bottom {
		.osui-tooltip__balloon-wrapper__balloon {
			// Baloon Arrow!
			&:before {
				transform: translateX(-50%) translateY(-100%);
			}
		}
	}

	// Is bottom-left
	&.bottom-left {
		.osui-tooltip__balloon-wrapper__balloon {
			// Baloon Arrow!
			&:before {
				transform: translateX(-100%) translateY(-100%);
			}
		}
	}

	// Is bottom-right
	&.bottom-right {
		.osui-tooltip__balloon-wrapper__balloon {
			// Baloon Arrow!
			&:before {
				transform: translateX(0) translateY(-100%);
			}
		}
	}

	// Is empty
	&:not(.left):not(.right):not(.center):not(.top):not(.top-left):not(.top-right):not(.bottom):not(.bottom-left):not(.bottom-right) {
		max-width: $osui-tooltip-baloon-max-width;
		min-width: $osui-tooltip-baloon-min-width;
		padding-left: var(--space-base);

		.osui-tooltip__balloon-wrapper__balloon {
			transform: translateX(0);
			width: auto;

			// Baloon Arrow!
			&:before {
				transform: translateX(-100%) translateY(-50%);
			}
		}
	}
}

// Responsive --------------------------------------------------------------------
///
.phone {
	.osui-tooltip {
		&.osui-tooltip--is-hover:hover,
		&.osui-tooltip--is-opened {
			.osui-tooltip__balloon-wrapper {
				&.left,
				&.right {
					max-width: 100vw;
				}
			}
		}
	}
}
