/* Patterns - Interaction - DatePicker */
////
/// @group Patterns-DatePicker
/// Patterns - Interaction - DatePicker

/// Import Flatpickr library styles
@import '../../../../../Providers/OSUI/SharedProviderResources/Flatpickr/scss/flatpickr';

@import 'datepicker_ss_preview_imgs';

///
.osui-datepicker {
	input {
		// Hack used to disable dateTime input pseudoElements (browser native placeholders)
		&[type='date'] {
			&::-webkit-inner-spin-button,
			&::-webkit-calendar-picker-indicator,
			&::-webkit-datetime-edit-year-field,
			&::-webkit-datetime-edit-month-field,
			&::-webkit-datetime-edit-day-field,
			&::-webkit-datetime-edit-fields-wrapper {
				display: none;
				-moz-appearance: none;
			}
		}

		// Disable states for Datepicker
		&.flatpickr-input[disabled] + input {
			background-color: var(--color-neutral-2);
			border: var(--border-size-s) solid var(--color-neutral-4);
			color: var(--color-neutral-6);
			pointer-events: none;
		}
	}

	// Hide the platform input which is set as hidden by the library and we're change it into the expected type, however we do not want it visible since library will add a clone to better deal with the selected dates.
	input.flatpickr-input:first-of-type {
		display: none;

		// Make the platform input visible in Service Studio
		& {
			-servicestudio-display: inline-flex !important;
		}
	}

	// Service Studio Preview Container Styles
	&-calendar-ss-preview {
		display: none;

		// Service Studio Preview
		& {
			-servicestudio-background-color: var(--color-neutral-0);
			-servicestudio-background-position: top center;
			-servicestudio-background-repeat: no-repeat;
			-servicestudio-background-size: contain;
			-servicestudio-border-radius: var(--border-radius-soft);
			-servicestudio-border: var(--border-size-s) solid var(--color-neutral-5);
			-servicestudio-display: inline-block;
			-servicestudio-height: 0;
			-servicestudio-margin-top: 2px;
			-servicestudio-max-width: 320px;
			-servicestudio-overflow: hidden;
			-servicestudio-position: relative;
			-servicestudio-width: 100%;
			-servicestudio-z-index: var(--layer-local-tier-1);

			// If has not today btn
			&:not(.has-today-btn) {
				&.single {
					-servicestudio-background-image: $calendar_single_img_base64;
					-servicestudio-height: 310px;
				}

				&.time12h {
					-servicestudio-background-image: $calendar_time12h_img_base64;
					-servicestudio-height: 344px;
				}

				&.time24h {
					-servicestudio-background-image: $calendar_time24h_img_base64;
					-servicestudio-height: 344px;
				}
			}

			// If has today btn
			&.has-today-btn {
				&.single {
					-servicestudio-background-image: $calendar_single_hasToday_img_base64;
					-servicestudio-height: 344px;
				}

				&.time12h {
					-servicestudio-background-image: $calendar_time12h_hasToday_img_base64;
					-servicestudio-height: 390px;
				}

				&.time24h {
					-servicestudio-background-image: $calendar_time24h_hasToday_img_base64;
					-servicestudio-height: 390px;
				}
			}

			& + .placeholder-ss-preview {
				-servicestudio-height: 0;
				-servicestudio-opacity: 0;
				-servicestudio-overflow: hidden;
				-servicestudio-width: 100%;
			}
		}
	}

	.not-valid + .input,
	.not-valid + .flatpickr-mobile {
		border-color: var(--color-error);
	}

	.flatpickr-mobile ~ span.validation-message {
		bottom: -40px;
	}
}

///
.form {
	// Service Studio Preview
	.osui-datepicker-calendar-ss-preview {
		-servicestudio-margin-top: -22px;
	}
}

// If Hybrid IDE
///
html[data-uieditorversion^='1'] {
	.osui-datepicker-calendar-ss-preview {
		// If has not today btn
		&:not(.has-today-btn) {
			&.single {
				-servicestudio-padding-top: min(300px, 100%);
				-servicestudio-height: 0;
			}

			&.time12h {
				-servicestudio-padding-top: min(344px, 100%);
				-servicestudio-height: 0;
			}

			&.time24h {
				-servicestudio-padding-top: min(344px, 100%);
				-servicestudio-height: 0;
			}
		}

		// If has today btn
		&.has-today-btn {
			&.single {
				-servicestudio-padding-top: min(344px, 100%);
				-servicestudio-height: 0;
			}

			&.time12h {
				-servicestudio-padding-top: min(390px, 100%);
				-servicestudio-height: 0;
			}

			&.time24h {
				-servicestudio-padding-top: min(390px, 100%);
				-servicestudio-height: 0;
			}
		}
	}
}
