/* $6.2.1 - Styles - Colors - Brand */
.background-primary {
	background-color: var(--color-primary);
}
.background-secondary {
	background-color: var(--color-secondary);
}

.text-primary,
.text-primary-darker {
	color: var(--color-primary);
}
.text-secondary,
.text-secondary-darker {
	color: var(--color-secondary);
}

/* Background and Text Colors used when IsLight parameter for Badge / Tag / UserInitials is True */
.background-primary-lightest {
	background-color: var(--color-neutral-0);
}

.background-secondary-lightest {
	background-color: var(--color-neutral-0);
}
