.display-flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.align-items-baseline {
	align-items: baseline;
	-webkit-box-align: baseline;
	-ms-flex-align: baseline;
}

.align-items-center {
	align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
}

.align-items-flex-end {
	align-items: flex-end;
	-webkit-box-align: end;
	-ms-flex-align: end;
}

.align-items-initial {
	align-items: initial;
	-webkit-box-align: initial;
	-ms-flex-align: initial;
}

.justify-content-flex-end {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.flex1 {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.flex2 {
	-webkit-box-flex: 2;
	-ms-flex: 2;
	flex: 2;
}

.flex3 {
	-webkit-box-flex: 3;
	-ms-flex: 3;
	flex: 3;
}

.flex-direction-column {
	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
	-ms-flex-direction: column;
	flex-direction: column;
}

.flex-direction-column-reverse {
	-webkit-box-direction: reverse;
	-webkit-box-orient: vertical;
	-ms-flex-direction: column-reverse;
	flex-direction: column-reverse;
}

.flex-direction-row {
	-webkit-box-direction: normal;
	-webkit-box-orient: horizontal;
	-ms-flex-direction: row;
	flex-direction: row;
}

.flex-direction-row-reverse {
	-webkit-box-direction: reverse;
	-webkit-box-orient: horizontal;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}

.top-left {
	align-items: flex-start;
	-webkit-box-align: start;
	-webkit-box-pack: start;
	-ms-flex-align: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.top-center {
	align-items: flex-start;
	-webkit-box-align: start;
	-webkit-box-pack: center;
	-ms-flex-align: start;
	-ms-flex-pack: center;
	justify-content: center;
}

.top-right {
	align-items: flex-start;
	-webkit-box-align: start;
	-webkit-box-pack: end;
	-ms-flex-align: start;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.center-left {
	align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: start;
	-ms-flex-align: center;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.center {
	align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.center-right {
	align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: end;
	-ms-flex-align: center;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.bottom-left {
	align-items: flex-end;
	-webkit-box-align: end;
	-webkit-box-pack: start;
	-ms-flex-align: end;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.bottom-center {
	align-items: flex-end;
	-webkit-box-align: end;
	-webkit-box-pack: center;
	-ms-flex-align: end;
	-ms-flex-pack: center;
	justify-content: center;
}

.bottom-right {
	align-items: flex-end;
	-webkit-box-align: end;
	-webkit-box-pack: end;
	-ms-flex-align: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}
