.display-block {
	display: block;
}

.display-contents {
	display: contents;
}

.fixed {
	position: fixed;
}

.no-transition {
	transition: none !important;
}

.no-transform {
	transform: none !important;
}

.remove-card-gradient .card-background-color:after {
	background: none;
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
}

.wcag-hide-text {
	border: 0;
	clip: rect(0 0 0 0);
	-servicestudio-display: none;
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.is-rtl [align='right'],
.is-rtl .text-align-right {
	text-align: left;
}

.is-rtl [align='left'],
.is-rtl .text-align-left {
	text-align: right;
}

.tablet .tablet-full-width,
.phone .phone-full-width {
	margin-left: 0;
	width: 100%;
}

/* Skip-nav link used on Accessibility*/
/* Accessibility Styles */
.skip-nav[data-showskipcontent='false'] {
	display: none;
}

.skip-nav[data-showskipcontent='true'] {
	display: block;
}

.skip-nav {
	left: var(--space-xl);
	opacity: 0;
	padding: var(--space-s) var(--space-base);
	pointer-events: none;
	position: absolute;
	text-transform: uppercase;
	top: 10px;
	z-index: 200;
}

.has-accessible-features .skip-nav:focus,
.has-accessible-features .skip-nav:active {
	opacity: 1;
	pointer-events: auto;
}

/* Hide StickyObserve when HideOnScroll is used*/
.sticky-observer {
	height: var(--header-size);
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	visibility: hidden;
}

/* Pull to Refresh*/
.pull-to-refresh {
	color: var(--color-neutral-6);
	-servicestudio-display: none;
	font-size: var(--font-size-h3);
	left: 0;
	padding: var(--space-s);
	position: absolute;
	text-align: center;
	width: 100%;
}

.pull-to-refresh-loading {
	display: none;
	text-align: center;
}

.ptr-loading .pull-to-refresh-loading {
	display: block;
}

@-webkit-keyframes ptr-loading {
	0% {
		opacity: 0;
		-webkit-transform: translateY(0) scale(0.3);
		transform: translateY(0) scale(0.3);
	}
	100% {
		background-color: var(--color-neutral-0);
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes ptr-loading {
	0% {
		opacity: 0;
		-webkit-transform: translateY(0) scale(0.3);
		transform: translateY(0) scale(0.3);
	}
	100% {
		background-color: var(--color-neutral-0);
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

.ptr-loading .content,
.ptr-reset .content,
.ptr-loading .pull-to-refresh,
.ptr-reset .pull-to-refresh {
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

.ptr-reset .content {
	-webkit-transform: translate3D(0, 0, 0);
	transform: translate3D(0, 0, 0);
}

.ptr-loading .content {
	-webkit-transform: translate3D(0, 50px, 0);
	transform: translate3D(0, 50px, 0);
}

/* icon */
.pull-to-refresh .genericon {
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.ptr-refresh .pull-to-refresh .genericon {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.ptr-loading .pull-to-refresh .genericon,
.ptr-reset .pull-to-refresh .genericon {
	display: none;
}

.slide-from-left-enter .layout-native .pull-to-refresh,
.slide-from-left-leave .layout-native .pull-to-refresh,
.slide-from-right-enter .layout-native .pull-to-refresh,
.slide-from-right-leave .layout-native .pull-to-refresh,
.slide-from-top-enter .layout-native .pull-to-refresh,
.slide-from-top-leave .layout-native .pull-to-refresh,
.slide-from-bottom-enter .layout-native .pull-to-refresh,
.slide-from-bottom-leave .layout-native .pull-to-refresh,
.fade-enter .layout-native .pull-to-refresh,
.fade-leave .layout-native .pull-to-refresh {
	display: none;
}

/* Menu ServiceStudio Preview */
body .app-menu-content {
	-servicestudio-align-items: flex-start;
	-servicestudio-height: 100% !important;
	-servicestudio-left: 0 !important;
	-servicestudio-position: relative !important;
	-servicestudio-width: 100% !important;
}

.layout-native .aside-navigation,
.layout-top .aside-navigation {
	-servicestudio-display: none !important;
}

body .app-menu-content .app-menu-links {
	-servicestudio-align-items: flex-start;
	-servicestudio-padding: var(--space-none);
	-servicestudio-width: 100% !important;
}

.tablet .app-menu-links a,
.phone .app-menu-links a {
	-servicestudio-margin-left: var(--space-none);
	-servicestudio-padding: var(--space-s) var(--space-m);
	-servicestudio-width: 100%;
}
