.break-word {
	word-break: break-word;
}

.text-align-left {
	text-align: left;
}

.text-align-center {
	text-align: center;
}

.text-align-right {
	text-align: right;
}

.white-space-nowrap {
	white-space: nowrap;
}
