/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
	-moz-box-sizing: border-box;
	-moz-user-select: none;
	-ms-touch-action: none;
	-ms-user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	box-sizing: border-box;
	touch-action: none;
	user-select: none;
}
.noUi-target {
	position: relative;
}
.noUi-base,
.noUi-connects {
	height: 100%;
	position: relative;
	width: 100%;
	z-index: 1;
}
/* Wrapper for all connect elements.
  */
.noUi-connects {
	overflow: hidden;
	z-index: 0;
}
.noUi-connect,
.noUi-origin {
	-ms-transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
	-webkit-transform-style: preserve-3d;
	height: 100%;
	inset-inline-end: 0;
	position: absolute;
	top: 0;
	transform-origin: 0 0;
	transform-style: flat;
	width: 100%;
	will-change: transform;
	z-index: 1;
}
/* Offset direction
  */
.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
	inset-inline-end: auto;
	inset-inline-start: 0;
}
/* Give origins 0 height/width so they don't interfere with clicking the
  * connect elements.
  */
.noUi-vertical .noUi-origin {
	top: -100%;
	width: 0;
}
.noUi-horizontal .noUi-origin {
	height: 0;
}
.noUi-handle {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	position: absolute;
}
.noUi-touch-area {
	height: 100%;
	width: 100%;
}
.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
	-webkit-transition: transform 0.3s;
	transition: transform 0.3s;
}
.noUi-state-drag * {
	cursor: inherit !important;
}
/* Slider size and handle placement;
  */
.noUi-horizontal {
	height: 18px;
}
.noUi-horizontal .noUi-handle {
	height: 28px;
	inset-inline-end: -17px;
	top: -6px;
	width: 34px;
}
.noUi-vertical {
	width: 18px;
}
.noUi-vertical .noUi-handle {
	bottom: -17px;
	height: 34px;
	inset-inline-end: -6px;
	width: 28px;
}
.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
	inset-inline-end: auto;
	inset-inline-start: -17px;
}
/* Styling;
  * Giving the connect element a border radius causes issues with using transform: scale
  */
.noUi-target {
	background: #fafafa;
	border: 1px solid #d3d3d3;
	border-radius: 4px;
	box-shadow:
		inset 0 1px 1px #f0f0f0,
		0 3px 6px -5px #bbb;
}
.noUi-connects {
	border-radius: 3px;
}
.noUi-connect {
	background: #3fb8af;
}
/* Handles and cursors;
  */
.noUi-draggable {
	cursor: ew-resize;
}
.noUi-vertical .noUi-draggable {
	cursor: ns-resize;
}
.noUi-handle {
	background: #fff;
	border: 1px solid #d9d9d9;
	border-radius: 3px;
	cursor: default;
	box-shadow:
		inset 0 0 1px #fff,
		inset 0 1px 7px #ebebeb,
		0 3px 6px -3px #bbb;
}
.noUi-active {
	box-shadow:
		inset 0 0 1px #fff,
		inset 0 1px 7px #ddd,
		0 3px 6px -3px #bbb;
}
/* Handle stripes;
  */
.noUi-handle:before,
.noUi-handle:after {
	background: #e8e7e6;
	content: '';
	display: block;
	height: 14px;
	inset-inline-start: 14px;
	position: absolute;
	top: 6px;
	width: 1px;
}
.noUi-handle:after {
	inset-inline-start: 17px;
}
.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after {
	height: 1px;
	inset-inline-start: 6px;
	top: 14px;
	width: 14px;
}
.noUi-vertical .noUi-handle:after {
	top: 17px;
}
/* Disabled state;
  */
[disabled] .noUi-connect {
	background: #b8b8b8;
}
[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle {
	cursor: not-allowed;
}
/* Base;
  *
  */
.noUi-pips,
.noUi-pips * {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.noUi-pips {
	color: #999;
	position: absolute;
}
/* Values;
  *
  */
.noUi-value {
	position: absolute;
	text-align: center;
	white-space: nowrap;
}
.noUi-value-sub {
	color: #ccc;
	font-size: 10px;
}
/* Markings;
  *
  */
.noUi-marker {
	background: #ccc;
	position: absolute;
}
.noUi-marker-sub {
	background: #aaa;
}
.noUi-marker-large {
	background: #aaa;
}
/* Horizontal layout;
  *
  */
.noUi-pips-horizontal {
	height: 80px;
	inset-inline-start: 0;
	padding-block: 10px;
	padding-inline: 0;
	top: 100%;
	width: 100%;
}
.noUi-value-horizontal {
	-webkit-transform: translate(-50%, 50%);
	transform: translate(-50%, 50%);
}
.noUi-rtl .noUi-value-horizontal {
	-webkit-transform: translate(50%, 50%);
	transform: translate(50%, 50%);
}
.noUi-marker-horizontal.noUi-marker {
	height: 5px;
	margin-inline-start: -1px;
	width: 2px;
}
.noUi-marker-horizontal.noUi-marker-sub {
	height: 10px;
}
.noUi-marker-horizontal.noUi-marker-large {
	height: 15px;
}
/* Vertical layout;
  *
  */
.noUi-pips-vertical {
	height: 100%;
	inset-inline-start: 100%;
	padding-block: 0;
	padding-inline: 10px;
	top: 0;
}
.noUi-value-vertical {
	-webkit-transform: translate(0, -50%);
	padding-inline-start: 25px;
	transform: translate(0, -50%);
}
.noUi-rtl .noUi-value-vertical {
	-webkit-transform: translate(0, 50%);
	transform: translate(0, 50%);
}
.noUi-marker-vertical.noUi-marker {
	height: 2px;
	margin-block-start: -1px;
	width: 5px;
}
.noUi-marker-vertical.noUi-marker-sub {
	width: 10px;
}
.noUi-marker-vertical.noUi-marker-large {
	width: 15px;
}
.noUi-tooltip {
	background: #fff;
	border: 1px solid #d9d9d9;
	border-radius: 3px;
	color: #000;
	display: block;
	padding: 5px;
	position: absolute;
	text-align: center;
	white-space: nowrap;
}
.noUi-horizontal .noUi-tooltip {
	-webkit-transform: translate(-50%, 0);
	bottom: 120%;
	left: 50%;
	transform: translate(-50%, 0);
}
.noUi-vertical .noUi-tooltip {
	-webkit-transform: translate(0, -50%);
	right: 120%;
	top: 50%;
	transform: translate(0, -50%);
}
.noUi-horizontal .noUi-origin > .noUi-tooltip {
	-webkit-transform: translate(50%, 0);
	bottom: 10px;
	left: auto;
	transform: translate(50%, 0);
}
.noUi-vertical .noUi-origin > .noUi-tooltip {
	-webkit-transform: translate(0, -18px);
	right: 28px;
	top: auto;
	transform: translate(0, -18px);
}
