/*! Patterns - Interaction - Range Slider */
////
/// @group Patterns-Range_Slider
/// Patterns - Interaction - Range Slider

/*! NoUiSlider Library Core Styles */
@import './NoUiSlider/noUiSlider';

/*! Base cusotmization that affects all version of Range Sliders (inlcuding deprecated ones) */
@import './osui-rangeslider-base';

///
.osui-range-slider {
	padding: 0 12px;

	// Service Studio Preview
	& {
		-servicestudio-margin-bottom: 16px;
	}

	.noUi-vertical {
		height: var(--vertical-height);
	}

	.noUi {
		&-base {
			background-color: transparent;
		}

		&-horizontal {
			.noUi-handle {
				left: auto;
				position: absolute;
				right: -12px;
			}
		}

		&-connect {
			background-color: var(--color-primary);
			height: 100%;
			width: 100%;
		}

		&-handle {
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			position: absolute;
		}

		&-pips-horizontal {
			height: 40px;
			left: 0;
			padding: 12px 0 0;
			top: 100%;
			width: 100%;
		}

		&-marker {
			position: absolute;

			&-sub {
				background-color: var(--color-neutral-5);
			}

			&-large {
				background-color: var(--color-neutral-6);
			}

			&-horizontal {
				&.noUi-marker {
					height: 4px;
					margin-left: -1px;
					width: 2px;

					&-sub {
						height: 10px;
					}

					&-large {
						height: 4px;
					}
				}
			}
		}

		&-value {
			position: absolute;
			text-align: center;
			white-space: nowrap;

			&-sub {
				background-color: var(--color-neutral-6);
				font-size: 10px;
			}

			&-horizontal {
				top: 6px;
				transform: translate(-50%, 50%);
			}
		}

		&-rtl {
			.noUi-value-horizontal {
				transform: translate(50%, 50%);
			}
		}
	}

	&[data-disabled='true'] {
		pointer-events: none;

		.noUi {
			&-target {
				background-color: var(--color-neutral-4);
			}

			&-connect {
				background-color: var(--color-neutral-6);
			}

			&-handle {
				background-color: var(--color-neutral-2);
				border: var(--border-size-s) solid var(--color-neutral-5);
				box-shadow: none;

				&:before,
				&:after {
					border-color: var(--color-neutral-6);
				}
			}

			&-pips {
				color: var(--color-neutral-6);
			}
		}
	}
}

// Accessibility -----------------------------------------------------------------
///
.has-accessible-features {
	.range-slider {
		.noUi-handle:focus {
			border-color: var(--color-focus-inner);
			box-shadow: 0 0 0 3px var(--color-focus-outer);
		}
	}
}
