/* Patterns - Content - Wizard */
////
/// @group Patterns-Wizard
/// Patterns - Content - Wizard

///
.osui-wizard-item {
	display: flex;
	flex-direction: column;
	width: 100%;

	&.is-reversed {
		flex-direction: column-reverse;
	}

	&.is-past {
		.osui-wizard-item-icon {
			background-color: get-background-color('primary');
			border-color: get-border-color('primary');
			color: get-text-color('neutral-0');
		}

		.osui-wizard-item-icon-wrapper:before {
			background-color: get-background-color('primary');
		}
	}

	&.is-active {
		.osui-wizard-item-icon {
			background-color: get-background-color('neutral-0');
			border-color: get-border-color('primary');
			color: get-text-color('primary');
		}

		.osui-wizard-item-icon-wrapper:before {
			background-color: get-background-color('primary');
		}

		.osui-wizard-item-label {
			color: get-text-color('neutral-10');
		}
	}

	&.is-next {
		.osui-wizard-item-icon-wrapper:before {
			background-color: get-background-color('neutral-5');
		}

		.icon {
			color: get-text-color('neutral-5');
		}
	}

	&-icon-wrapper {
		margin: var(--space-s) var(--space-none);
		position: relative;
		width: 100%;

		&:before {
			content: '';
			height: 2px;
			position: absolute;
			right: calc(50% + 12px);
			top: 50%;
			transform: translateY(-50%);
			width: calc(100% - 24px);
			z-index: var(--layer-global-screen);
		}
	}

	&-icon {
		align-items: center;
		background-color: get-background-color('neutral-0');
		border: var(--border-size-s) solid get-border-color('neutral-5');
		border-radius: var(--border-radius-circle);
		color: get-text-color('neutral-7');
		display: flex;
		height: 32px;
		justify-content: center;
		margin: 0 auto;
		position: relative;
		width: 32px;
		z-index: var(--layer-local-tier-1);

		&:empty {
			height: 8px;
			width: 8px;
		}

		.icon {
			font-size: var(--font-size-xs);
			width: auto;
		}
	}

	&-label {
		color: get-text-color('neutral-7');
		text-align: center;
	}
}

// IsRTL ---------------------------------------------------------------------------
///
.is-rtl {
	.osui-wizard-item {
		&-icon-wrapper {
			&:before {
				left: calc(50% + 12px);
				right: auto;
			}
		}
	}
}

/* Hybrid Service Studio => Service Studio Preview */
html[data-uieditorversion^='1'] {
	.osui-wizard-item {
		& {
			-servicestudio-display: flex;
			-servicestudio-flex-direction: column;
			-servicestudio-width: 100%;

			&.is-reversed {
				-servicestudio-flex-direction: column-reverse;
			}
		}
	}
}
