/*! Patterns - Interaction - TimePicker */
////
/// @group Patterns-TimePicker
/// Patterns - Interaction - TimePicker

/// Import Flatpickr library styles
@import '../../../../Providers/SharedProviderResources/Flatpickr/flatpickr';

///
.osui-timepicker {
	input {
		// Hack used to disable dateTime input pseudoElements (browser native placeholders)
		&[type='date'] {
			&::-webkit-inner-spin-button,
			&::-webkit-calendar-picker-indicator,
			&::-webkit-datetime-edit-year-field,
			&::-webkit-datetime-edit-month-field,
			&::-webkit-datetime-edit-day-field,
			&::-webkit-datetime-edit-fields-wrapper {
				display: none;
				-moz-appearance: none;
			}
		}

		// Disable states for Datepicker
		&.flatpickr-input[disabled] + input {
			background-color: var(--color-neutral-2);
			border: var(--border-size-s) solid var(--color-neutral-4);
			color: var(--color-neutral-6);
			pointer-events: none;
		}
	}

	// Service Studio Preview Container Styles
	&-dropdown-ss-preview {
		display: none;

		// Service Studio Preview
		& {
			-servicestudio-background-color: var(--color-neutral-0);
			-servicestudio-background-position: top center;
			-servicestudio-background-repeat: no-repeat;
			-servicestudio-background-size: contain;
			-servicestudio-border-radius: var(--border-radius-soft);
			-servicestudio-border: var(--border-size-s) solid var(--color-neutral-5);
			-servicestudio-display: inline-block;
			-servicestudio-height: 0;
			-servicestudio-margin-top: 2px;
			-servicestudio-max-width: 320px;
			-servicestudio-overflow: hidden;
			-servicestudio-position: relative;
			-servicestudio-width: 100%;
			-servicestudio-z-index: 1;

			&.single {
				-servicestudio-background-image: $calendar_single_img_base64;
				-servicestudio-height: 310px;
			}

			&.time12h {
				-servicestudio-background-image: $calendar_time12h_img_base64;
				-servicestudio-height: 344px;
			}

			&.time24h {
				-servicestudio-background-image: $calendar_time24h_img_base64;
				-servicestudio-height: 344px;
			}

			& + .placeholder-ss-preview {
				-servicestudio-height: 0;
				-servicestudio-opacity: 0;
				-servicestudio-overflow: hidden;
				-servicestudio-width: 100%;
			}
		}
	}
}

///
.form {
	// Service Studio Preview
	.osui-timepicker-dropdown-ss-preview {
		-servicestudio-margin-top: -22px;
	}
}

// If Hybrid IDE
///
html[data-uieditorversion^='1'] {
	.osui-timepicker-dropdown-ss-preview {
		// If has not today btn

		&.single {
			-servicestudio-padding-top: min(300px, 100%);
			-servicestudio-height: 0;
		}

		&.time12h,
		&.time24h {
			-servicestudio-padding-top: min(344px, 100%);
			-servicestudio-height: 0;
		}
	}
}

.osui-timepicker-dropdown {
	&.hasTime.noCalendar {
		.flatpickr-time {
			padding: 0;
			height: var(--space-xl);

			&.time24hr:after {
				display: none;
			}

			.numInputWrapper {
				height: var(--space-xl);
				flex-grow: 1;
			}

			.flatpickr-am-pm {
				position: relative;
				margin-left: var(--space-s);
			}
		}

		&.dropdown-large {
			.flatpickr-time {
				height: var(--space-xxl);
				max-height: var(--space-xxl);

				.numInputWrapper {
					height: var(--space-xxl);
				}
				.flatpickr-time-separator {
					line-height: var(--space-xxl);
				}
			}
		}

		&.dropdown-small {
			.flatpickr-time {
				height: var(--space-l);
				max-height: var(--space-l);

				.numInputWrapper {
					height: var(--space-l);
				}
				.flatpickr-time-separator {
					line-height: var(--space-l);
				}
			}
		}
	}

	&:before,
	&:after {
		display: none;
	}
}
