/* Patterns - section - SectionIndex */
////
/// @group Patterns-SectionIndex
/// Patterns - section - SectionIndex

///
.osui-section-index {
	// ─── Component CSS API ─────────────────────────────────────────────
	--osui-section-index-border-color: var(--token-border-default);
	// ───────────────────────────────────────────────────────────────────

	--top-position: calc(var(--header-size) + var(--header-size-content) + #{android-safe-area-top()});
	display: flex;
	flex-direction: column;
	position: relative;

	&::before {
		background-color: var(--osui-section-index-border-color);
		bottom: 0;
		content: '';
		left: 0;
		position: absolute;
		top: 0;
		width: 1px;
	}

	&.osui-section-index--is-sticky {
		position: sticky;
		top: var(--top-position);
	}
}

.osui-section-index-item {
	// ─── Component CSS API ─────────────────────────────────────────────
	--osui-section-index-item-color:            var(--token-text-subtlest);
	--osui-section-index-item-active-color:     var(--token-text-default);
	--osui-section-index-active-indicator-color: var(--token-semantics-primary-base);
	// ───────────────────────────────────────────────────────────────────

	&,
	&:visited {
		color: var(--osui-section-index-item-color);
		cursor: pointer;
		display: flex;
		padding-bottom: var(--token-scale-100);
		padding-left: var(--token-scale-600);
		padding-top: var(--token-scale-100);
		position: relative;
	}

	&:hover {
		color: var(--osui-section-index-item-active-color);
	}

	&--is-active {
		color: var(--osui-section-index-item-active-color);
		font-weight: var(--token-font-weight-semi-bold);
		&::before {
			background-color: var(--osui-section-index-active-indicator-color);
			bottom: 0;
			content: '';
			left: 0;
			position: absolute;
			top: 0;
			width: 2px;
		}
	}

	&__target {
		scroll-margin: var(--target-scroll-margin);
	}
}

// Accessibility -----------------------------------------------------------------
///
.has-accessible-features {
	.osui-section-index-item {
		&:focus {
			background-color: transparent;
			@include a11y-default-outline;
		}
	}
}

// OS HighContrast Enabled -------------------------------------------------------
///
.os-high-contrast {
	.osui-section-index::before {
		@include a11y-high-contrast-outline(true, var(--token-border-size-025), left);
	}

	.osui-section-index-item {
		&--is-active {
			&::before {
				@include a11y-high-contrast-outline(true, var(--token-border-size-075), left);
			}
		}
	}
}

// IsRTL -------------------------------------------------------------------------
///
.is-rtl {
	.osui-section-index {
		&::before {
			left: auto;
			right: 0;
		}
	}

	.osui-section-index-item {
		&,
		&:visited {
			padding-left: var(--token-scale-0);
			padding-right: var(--token-scale-600);
		}

		&--is-active {
			&::before {
				left: auto;
				right: 0;
			}
		}
	}
}

// Responsive --------------------------------------------------------------------
///
.phone {
	.osui-section-index {
		&--is-sticky {
			left: calc(var(--os-safe-area-right) + var(--token-scale-400));
			padding: 0 var(--token-scale-400) 0 0;
			position: fixed;
			top: var(--top-position);
			z-index: var(--layer-local-tier-1);
		}
	}

	.is-rtl {
		.osui-section-index {
			&--is-sticky {
				left: initial;
				right: calc(var(--os-safe-area-right) + var(--token-scale-400));
				padding: 0 0 var(--token-scale-400) 0;
			}
		}
	}
}

// Browser -----------------------------------------------------------------------

// Fixes the sticky problem on Safari 14.1
///
.safari {
	[data-block*='SectionIndex'] {
		display: contents;
	}
}
