/* Patterns - Interaction - Balloon */
////
/// @group Patterns-Balloon
/// Patterns - Interaction - Balloon

.osui-balloon {
    box-shadow: var(--shadow-s);
    border-radius: var(--osui-balloon-shape);
    background-color: var(--color-neutral-0);
    display: none;
    padding: var(--space-s);
    position: absolute;
    top: 0;
    left: 0;
    width: max-content;
    min-width: 100px;
    height: auto;
    min-height: 100px;
    transform: translate(var(--osui-floating-position-x),var(--osui-floating-position-y));
    transition: transform 150ms ease;
    will-change: transform;
    z-index: var(--layer-global-elevated);

    &--is-open {
        display: block;
    }
}