/* Patterns - Interaction - DropdownSearch */
////
/// @group Patterns-DropdownSearch
/// Patterns - Interaction - DropdownSearch

///
.osui-dropdown-search {
	// If not valid
	&.osui-dropdown--not-valid {
		// Virtual Select provider
		.vscomp-toggle-button {
			border-color: get-border-color('error');
		}
	}

	// Service Studio Preview
	&-ss-preview {
		-servicestudio-background-color: get-background-color('neutral-0');
		-servicestudio-border-radius: var(--border-radius-soft);
		-servicestudio-border: var(--border-size-s) solid get-border-color('neutral-5');
		-servicestudio-color: get-text-color('neutral-3');
		-servicestudio-display: inline-block;
		-servicestudio-height: 40px;
		-servicestudio-line-height: 40px;
		-servicestudio-min-width: 180px;
		-servicestudio-padding-left: var(--space-s);
		-servicestudio-position: relative;
		-servicestudio-vertical-align: middle;
		-servicestudio-width: 100%;

		.icon {
			-servicestudio-color: get-text-color('neutral-7');
			-servicestudio-font-size: var(--font-size-h4);
			-servicestudio-position: absolute;
			-servicestudio-right: 16px;
			-servicestudio-top: 8px;
		}
	}
}
