/* Patterns - Interaction - Dropdown */
////
/// @group Patterns-Dropdown
/// Patterns - Interaction - Dropdown

// Import common dropdown styles based on Current provider
@import 'provider/virtualselect';

// Common dropdown styles
.osui-dropdown {
	// ─── Component CSS API ─────────────────────────────────────────────
	--osui-dropdown-disabled-background:   #{$token-bg-input-disabled};
	--osui-dropdown-disabled-border-color: #{$token-border-default};
	--osui-dropdown-disabled-color:        #{$token-text-disabled};
	// ───────────────────────────────────────────────────────────────────

	&-search,
	&-tags {
		/// Disable states for dropdowns
		&.vscomp-ele[disabled] {
			// Override of library cursor on disable states
			cursor: initial;

			.vscomp {
				&-toggle-button {
					background-color: var(--osui-dropdown-disabled-background);
					border: $token-border-size-025 solid var(--osui-dropdown-disabled-border-color);
					color: var(--osui-dropdown-disabled-color);
					pointer-events: none;
				}

				&-wrapper,
				&-wrapper:not(.has-value) .vscomp-value {
					opacity: inherit;
				}
			}
		}

		// Override the font-family of provider
		.vscomp-wrapper {
			font-family: inherit;
		}
	}

	/// Dropdown Option Item image
	&-option {
		&-image {
			border-radius: 100%;
			display: inline-block;
			height: 24px;
			margin-right: $token-scale-200;
			width: 24px;
			background-color: $token-bg-neutral-subtle-default;
			overflow: hidden;
		}

		&-icon {
			color: $token-text-default;
			font-size: $token-font-size-450;
			margin-right: $token-scale-200;
		}
	}

	/// Error message
	&-error-message {
		color: $token-semantics-danger-base;
		font-size: $token-font-size-300;
		margin-left: $token-scale-0;
		margin-top: 3px;
	}
}

// IsRTL -------------------------------------------------------------------------
.is-rtl {
	.osui-dropdown {
		&-option-image,
		&-option-icon {
			margin-left: $token-scale-200;
			margin-right: initial;
		}
	}
}
