@use "../../../tokens/variables";

/* Patterns - Interaction - DropdownTags */
////
/// @group Patterns-DropdownTags
/// Patterns - Interaction - DropdownTags

///
.osui-dropdown-tags {
	// ─── Component CSS API ─────────────────────────────────────────────
	--osui-dropdown-border-radius:       var(--border-radius-soft);
	--osui-dropdown-background:          var(--color-background-input);
	--osui-dropdown-border-color:        var(--color-border-input);
	--osui-dropdown-hover-border-color:  var(--color-border-input-hover);
	--osui-dropdown-focus-border-color:  var(--color-border-primary);
	--osui-dropdown-focus-ring-color:    #{variables.$token-border-focus-default};
	--osui-dropdown-list-background:     var(--color-background-surface);
	--osui-dropdown-arrow-color:        #{variables.$token-icon-subtlest};
	--osui-dropdown-arrow-size:         #{variables.$token-scale-400};
	--osui-dropdown-tag-color:          #{variables.$token-text-subtlest};
	// ───────────────────────────────────────────────────────────────────

	// If not valid
	&.osui-dropdown--not-valid {
		// Virtual Select provider
		.vscomp-toggle-button {
			border-color: var(--color-border-danger);
		}
	}
}
