/* Patterns - section - DropdownServerSideItem */
////
/// @group Patterns-DropdownServerSideItem
/// Patterns - section - DropdownServerSideItem

///
.osui-dropdown-serverside-item {
	align-items: center;
	background-color: get-background-color('transparent');
	color: get-text-color('neutral-9');
	cursor: pointer;
	display: flex;
	flex: 1;
	min-height: 40px;
	overflow: hidden;
	padding: var(--space-s) var(--space-base);
	position: relative;
	transition: background 250ms ease;
	width: 100%;
	z-index: var(--layer-global-screen);

	&:hover,
	&--is-selected {
		background-color: get-background-color('neutral-2');
		z-index: var(--layer-local-tier-1);

		// Service Studio Preview
		& {
			-servicestudio-background-color: get-background-color('neutral-0');
		}
	}

	&__content {
		align-items: center;
		display: flex;
		flex: 1;
		height: inherit;
		overflow: hidden;
		pointer-events: none;

		& > *:first-child {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			width: 100%;
		}
	}
}

// Accessibility -----------------------------------------------------------------
///
.has-accessible-features {
	.osui-dropdown-serverside-item {
		&:hover {
			background-color: get-background-color('neutral-4');
		}

		&:focus {
			box-shadow: inset 0 0 0 3px get-background-color('focus-outer');
		}
	}
}

// OS HighContrast Enabled -------------------------------------------------------
///
.os-high-contrast {
	.osui-dropdown-serverside-item {
		&:hover,
		&:focus {
			outline: none;

			&:before {
				@include a11y-high-contrast-outline(true);
				bottom: 0;
				content: '';
				display: block;
				left: 0;
				position: absolute;
				right: 0;
				top: 0;
			}
		}
	}
}

// Responsive --------------------------------------------------------------------
///
.tablet,
.phone {
	.osui-dropdown-serverside-item {
		height: 48px;
	}
}
