/*! KeyFrames - Button Loading */
////
/// @group KeyFrames-Button_Loading
/// KeyFrames - Button Loading

///
@keyframes loadingSpinner {
	0% {
		transform: rotate(0deg) translateZ(0);
	}
	100% {
		transform: rotate(360deg) translateZ(0);
	}
}
