/* KeyFrames - Miscellaneous */
////
/// @group KeyFrames-Miscellaneous
/// KeyFrames - Miscellaneous

///
@keyframes fade {
	0%,
	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

///
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
