/* KeyFrames - Pull To Refresh */
////
/// @group KeyFrames-Pull_To_Refresh
/// KeyFrames - Pull To Refresh

///
@keyframes ptr-loading {
	0% {
		opacity: 0;
		transform: translateY(0) scale(0.3);
	}
	100% {
		background-color: get-background-color('neutral-0');
		opacity: 1;
		transform: scale(1);
	}
}
