// Flatpickr - MonthPicker
.osui-monthpicker__dropdown {
	&.flatpickr-calendar {
		width: auto;
	}

	.flatpickr-months {
		padding-bottom: 0;
	}
}

.flatpickr-monthSelect-months {
	display: grid;
	gap: $token-scale-200;
	grid-template-columns: repeat(3, max-content);
	justify-items: center;
	margin: 0;

	.flatpickr-monthSelect-month {
		align-items: center;
		border: $token-border-size-025 solid transparent;
		border-radius: $token-border-radius-200;
		display: flex;
		height: $token-scale-1000;
		margin: 0;
		min-width: 70px;
		transition: background-color $token-transition-time-100 $token-transition-curve-base;
		width: 100%;

		&:hover,
		&:focus {
			background: $token-border-subtle;
		}

		&.selected {
			background-color: $token-semantics-primary-base;
			border-color: transparent;
			color: $token-text-inverse;
		}

		&.flatpickr-disabled {
			background-color: $token-bg-input-disabled;
			color: $token-border-input-default;

			&:hover {
				background-color: $token-bg-input-disabled !important; // override provider !important rule
			}

			&.today:hover,
			&.today:focus {
				border: none;
			}
		}

		// Today indicator — only when not selected or disabled
		&.today:not(.selected):not(.flatpickr-disabled) {
			border-color: $token-border-input-default;

			&:hover,
			&:focus {
				background: $token-border-subtle;
				border-color: var(--osui-border-subtle);
				color: $token-semantics-primary-base;
			}
		}
	}
}

// RTL
.is-rtl {
	.osui-monthpicker__dropdown {
		.flatpickr-monthSelect-months {
			direction: rtl;
		}
	}
}
