/* Patterns - Navigation - Submenu */
////
/// @group Patterns-Submenu
/// Patterns - Navigation - Submenu

///
.osui-submenu {
	// ─── Component CSS API ─────────────────────────────────────────────
	--osui-submenu-items-background:    var(--token-bg-surface-default);
	--osui-submenu-items-border-color:  var(--token-border-default);
	--osui-submenu-items-shadow:        var(--token-elevation-2);
	--osui-submenu-item-color:          var(--token-text-subtlest);
	// ───────────────────────────────────────────────────────────────────

	cursor: pointer;
	display: inline-flex;
	position: relative;

	// Service Studio Preview
	& {
		-servicestudio-height: auto !important;
	}

	// Multi level menu
	&:first-of-type:not(.osui-submenu--is-open) {
		.osui-submenu {
			&__items {
				display: none;
				opacity: 0;
			}
		}
	}

	&.active {
		&--is-open {
			.osui-submenu__header__item {
				color: var(--token-semantics-primary-base);
			}
		}

		.osui-submenu {
			&__header {
				border-bottom: var(--token-border-size-050) solid var(--token-semantics-primary-base);

				&__item {
					&,
					a {
						color: var(--token-semantics-primary-base);
						text-decoration: none;
					}
				}
			}
		}
	}

	&--is-open {
		.osui-submenu {
			&__items {
				opacity: 1;
				pointer-events: auto;
				transform: translateY(0px);
			}
		}
	}

	&--is-hover {
		&.osui-submenu {
			&--is-open {
				.osui-submenu {
					&__header {
						position: relative;

						// This is needed for the OpenOnHover feature, to fit in the gap between submenu_header and items
						&:after {
							content: '';
							height: 100%;
							left: 0;
							position: absolute;
							right: 0;
							top: 100%;
						}
					}
				}
			}
		}
	}

	&__header {
		align-items: center;
		border-bottom: var(--token-border-size-050) solid transparent;
		border-top: var(--token-border-size-050) solid transparent;
		display: flex;
		padding: var(--token-scale-0) var(--token-scale-200);
		transition: all 150ms linear;

		&__item {
			align-items: center;
			color: var(--token-text-default);
			display: inline-flex;
			height: 100%;
			position: relative;
			transition: all 150ms linear;

			-servicestudio-min-width: 100px;
			-servicestudio-margin-left: calc(var(--token-scale-200) * -1);

			a {
				align-items: center;
				color: var(--token-text-subtlest);
				display: flex;
				height: 100%;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	&__items {
		background-color: var(--osui-submenu-items-background);
		border: var(--token-border-size-025) solid var(--osui-submenu-items-border-color);
		border-radius: var(--token-border-radius-100);
		box-shadow: var(--osui-submenu-items-shadow);
		display: flex;
		flex-direction: column;
		left: 0;
		min-width: 100px;
		opacity: 0;
		padding: var(--token-scale-200) var(--token-scale-0);
		pointer-events: none;
		position: absolute;
		top: calc(100% + var(--token-scale-100));
		transform: translateY(-8px);
		transition: all 130ms ease-out;
		z-index: var(--layer-global-elevated);

		// Service Studio Preview
		& {
			-servicestudio-opacity: 1 !important;
			-servicestudio-pointer-events: auto !important;
			-servicestudio-top: 100% !important;
			-servicestudio-transform: translateY(0px) !important;
		}

		a {
			color: var(--osui-submenu-item-color);
			margin: 0;
			padding: var(--token-scale-200) var(--token-scale-400);
			white-space: nowrap;

			&.active {
				color: var(--token-semantics-primary-base);
			}
		}
	}
}

///
.layout {
	&:not(.layout-side) {
		.app-menu-links {
			.osui-submenu a {
				border-bottom: none;
			}
		}
	}

	.header .osui-submenu__items {
		-servicestudio-display: none !important;
	}
}

///
.layout-side {
	.app-menu-links {
		.osui-submenu a {
			border-left: none;
		}

		.osui-submenu {
			flex-direction: column;
			width: 100%;

			&.active .osui-submenu__header {
				border-left: var(--token-border-size-050) solid var(--token-semantics-primary-base);
			}

			&--is-open > .osui-submenu__items {
				display: flex;
			}

			.osui-submenu__header {
				border-bottom: 0;
				border-left: var(--token-border-size-050) solid transparent;
				border-top: 0;
				padding: var(--token-scale-200) var(--token-scale-600);

				&__item {
					flex: 1;
				}
			}

			&__items {
				border: none;
				box-shadow: none;
				display: none;
				opacity: 1;
				padding: var(--token-scale-100) var(--token-scale-600);
				pointer-events: auto;
				position: relative;
				top: 0;
				transform: translateY(0);

				a {
					padding: var(--token-scale-200) var(--token-scale-400);
				}
			}
		}
	}
}

///
.layout-side,
.menu-visible {
	.app-menu-links {
		.osui-submenu__header a {
			padding: var(--token-scale-0);
		}
	}
}

// Responsive --------------------------------------------------------------------
///
.desktop {
	.osui-submenu {
		&:hover {
			.osui-submenu__header__item {
				color: var(--token-text-default);
			}
		}

		&.active {
			.osui-submenu__header:hover .osui-submenu__header__item {
				color: var(--token-semantics-primary-base);
			}
		}

		&__header {
			&:hover {
				border-bottom: var(--token-border-size-050) solid var(--token-semantics-primary-base);
			}

			&__item {
				a:hover {
					color: var(--token-text-default);
				}
			}
		}

		&__items {
			a {
				&:hover {
					background-color: var(--token-bg-neutral-subtle-default);
					color: var(--token-text-default);
				}

				&.active:hover {
					color: var(--token-semantics-primary-base);
				}
			}
		}
	}

	.layout:not(.layout-side) {
		.app-menu-links {
			.osui-submenu {
				height: 100%;
			}
		}
	}

	.layout-side {
		.app-menu-links {
			.osui-submenu {
				&__header {
					&:hover {
						border-bottom: none;
						border-left: var(--token-border-size-050) solid var(--token-semantics-primary-base);
					}
				}
			}
		}
	}
}

.has-accessible-features .osui-submenu:focus-within {
	-webkit-box-shadow: 0 0 0 3px var(--color-focus-outer);
	box-shadow: 0 0 0 3px var(--color-focus-outer);
	outline: 0;
}

///
.tablet,
.phone {
	.has-accessible-features .osui-submenu:focus-within {
		-webkit-box-shadow: 0 0 0 3px var(--color-focus-outer);
		box-shadow: 0 0 0 3px var(--color-focus-outer);
		outline: 0;
	}

	.osui-submenu {
		flex-direction: column;
		width: 100%;

		&.active .osui-submenu__header {
			border-left: var(--token-border-size-050) solid var(--token-semantics-primary-base);
			border-bottom: 0;
		}

		&--is-open .osui-submenu__items {
			display: flex;
		}

		&__header {
			border-bottom: 0;
			border-left: var(--token-border-size-050) solid transparent;
			border-top: 0;
			padding: var(--token-scale-200) var(--token-scale-600);

			&__item {
				flex: 1;
			}
		}

		&__items {
			border: none;
			box-shadow: none;
			display: none;
			opacity: 1;
			padding: var(--token-scale-100) var(--token-scale-600);
			pointer-events: auto;
			position: relative;
			top: 0;
			transform: translateY(0);
		}
	}
}

// IsRTL -------------------------------------------------------------------------
///
.is-rtl {
	.layout-side {
		.osui-submenu {
			.osui-submenu__header {
				border-left: 0;
				border-right: var(--token-border-size-050) solid transparent;
			}

			&.active .osui-submenu__header {
				border-left: var(--token-border-size-0);
				border-right: var(--token-border-size-050) solid var(--token-semantics-primary-base);
			}
		}
	}

	&.tablet,
	&.phone {
		.osui-submenu {
			&.active .osui-submenu__header {
				border-left: 0;
				border-right: var(--token-border-size-050) solid var(--token-semantics-primary-base);
			}

			.osui-submenu__header {
				border-left: 0;
				border-right: var(--token-border-size-050) solid transparent;
			}
		}
	}
}

// OS HighContrast Enabled -------------------------------------------------------
///
.os-high-contrast {
	.layout:not(.layout-side) .app-menu-links .osui-submenu a {
		border-top: none;
		border-bottom: none;
	}

	.osui-submenu__header {
		border-top: none;
	}
}
