/* Patterns - Navigation - OverflowMenu */
////
/// @group Patterns-OverflowMenu
/// Patterns - Navigation - OverflowMenu

.osui-overflow-menu {
    &__trigger {
        --osui-floating-offset: var(--space-s);

        background-color: var(--color-neutral-3);
        border: var(--border-size-s) solid transparent;
        border-radius: var(--border-radius-soft);
        cursor: pointer;
        height: 32px;
        width: 32px;

        &:hover {
            background-color: var(--color-neutral-5);
        }

        * {
            pointer-events: none;
        }
    }

    &--is-open {
        .osui-overflow-menu__trigger {
            background-color: var(--color-neutral-5);
        }
    }
}