// TimePicker
.osui-timepicker__dropdown {
	.numInputWrapper {
		span {
			&.arrowUp:after {
				border-bottom-color: $token-border-input-press;
			}
			&.arrowDown:after {
				border-top-color: $token-border-input-press;
			}
		}

		.numInput {
			color: $token-text-default;
		}
	}

	.flatpickr-time {
		.flatpickr-time-separator,
		.numInputWrapper .numInput {
			font-weight: $token-font-weight-semi-bold;
		}

		.flatpickr-time-separator {
			color: $token-primitives-neutral-700;
			line-height: $token-scale-1000;
		}
	}

	// AM/PM selector
	.flatpickr-am-pm {
		background-color: $token-border-input-default;
		border-radius: $token-border-radius-full;
		height: $token-scale-600;
		line-height: $token-scale-600;
		position: absolute;
		right: $token-scale-100;
		text-transform: uppercase;
		width: $token-scale-1000;

		&:hover,
		&:focus {
			background-color: $token-border-input-press;
		}
	}
}
