// TimePicker
.osui-timepicker__dropdown {
	.numInputWrapper {
		.numInput {
			color: var(--color-text);
		}
	}

	.flatpickr-time {
		.flatpickr-time-separator,
		.numInputWrapper .numInput {
			font-weight: $token-font-weight-semi-bold;
		}

		.flatpickr-time-separator {
			color: $token-primitives-neutral-700;
			line-height: $token-scale-1000;
		}
	}

	// AM/PM selector
	.flatpickr-am-pm {
		background-color: var(--color-border-input);
		border-radius: var(--border-radius-rounded);
		height: $token-scale-600;
		line-height: $token-scale-600;
		position: absolute;
		right: $token-scale-100;
		text-transform: uppercase;
		width: $token-scale-1000;

		&:hover,
		&:focus {
			background-color: var(--color-border-input-press);
		}
	}
}
