/* Patterns - Content - Accordion */
/* Since this pattern is Deprecated, it should not appear at SASSDCS! */

[data-block*='AccordionItem'] {
	&:first-of-type .section-expandable {
		border-radius: var(--token-border-radius-100) var(--token-border-radius-100) var(--token-border-radius-0)
			var(--token-border-radius-0);
	}

	&:last-of-type .section-expandable {
		border-bottom-width: var(--token-border-size-025);
		border-radius: var(--token-border-radius-0) var(--token-border-radius-0) var(--token-border-radius-100)
			var(--token-border-radius-100);
	}

	&:only-of-type .section-expandable {
		border-radius: var(--token-border-radius-100);
	}
}

.section-expandable {
	background-color: var(--token-primitives-base-white);
	border: var(--token-border-size-025) solid var(--token-primitives-neutral-400);
	border-bottom-width: var(--token-border-size-0);

	&.is- {
		&-open {
			border-top: var(--token-border-size-050) solid var(--token-semantics-primary-base);

			> .section-expandable-title {
				font-weight: var(--token-font-weight-semi-bold);
			}

			& > .section-expandable-title > .section-expandable-icon {
				transform: rotate(180deg);
			}
		}

		&-disabled {
			color: var(--token-primitives-neutral-700);
			pointer-events: none;

			// Service Studio Preview
			& {
				-servicestudio-color: var(--token-primitives-neutral-900);
				-servicestudio-pointer-events: auto;
			}

			.section-expandable-icon {
				color: var(--token-primitives-neutral-600);
			}
		}
	}

	.section-expandable {
		&-title {
			align-items: flex-start;
			cursor: pointer;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			font-size: var(--token-font-size-450);
			line-height: 1;
			padding: var(--token-scale-600);
			width: 100%;
		}

		&-icon {
			color: var(--token-semantics-primary-base);
			font-family: FontAwesome;
			font-size: 24px;
			font-weight: 400;
			transition: all 300ms ease-in-out;

			&:after {
				content: '\f107';
			}
		}

		&-content {
			display: block;
			overflow: hidden;

			&,
			&.is- {
				&-collapsed {
					height: 0;
					padding: var(--token-scale-0) var(--token-scale-600);
					visibility: hidden;

					// Service Studio Preview
					& {
						-servicestudio-height: auto;
						-servicestudio-padding: var(--token-scale-0) var(--token-scale-600) var(--token-scale-600);
					}
				}

				&-expanded {
					height: auto;
					padding: var(--token-scale-0) var(--token-scale-600) var(--token-scale-600);
					visibility: visible;
				}

				&-animating {
					transition: all 300ms ease-in-out;
				}
			}

			&.no-padding {
				padding: var(--token-scale-0);
			}

			/* Add a margin-top when animated label is the first child */
			& [data-block*='AnimatedLabel']:first-child .animated-label {
				margin-top: var(--token-scale-200);
			}
		}
	}

	/* Rare case of using new accordion inside old one*/
	.osui-accordion {
		margin-top: 2px;
	}

	// New Dropdown Search an Tags when inside AccordionItem
	// Virtual Select dropdown content
	.pop-comp-wrapper {
		position: relative;
		// The !important is need to overwrite an inline style
		transform: translate3d(0px, var(--token-scale-100), 0px) !important;
	}
}

// Responsive -------------------------------------------------------------------------
.tablet {
	.section-expandable .section-expandable-title {
		font-size: calc(var(--token-font-size-450) - 1px);
	}
}

.phone {
	.section-expandable {
		.section-expandable-title {
			font-size: calc(var(--token-font-size-450) - 2px);
		}

		.choices__list.choices__list--dropdown,
		& [data-dropdown] > div.dropdown-list {
			position: initial;
		}
	}
}

.layout-native {
	.section-expandable {
		.section-expandable-title {
			padding: var(--token-scale-400);
		}

		.section-expandable-content {
			padding: var(--token-scale-0) var(--token-scale-400);

			&.is- {
				&-collapsed {
					padding: var(--token-scale-0) var(--token-scale-400);
				}

				&-expanded {
					padding: var(--token-scale-0) var(--token-scale-400) var(--token-scale-400);
				}
			}

			&.no-padding {
				padding: var(--token-scale-0);
			}
		}
	}
}

// Accessibility -------------------------------------------------------------------------
.has-accessible-features {
	.section-expandable {
		.section-expandable-title:focus,
		.section-expandable-content:focus {
			box-shadow: none;
			outline: 3px solid var(--color-focus-outer);
		}
	}
}
