/* Patterns - Interaction - DatePicker */
/* Since this pattern is Deprecated, it should not appear at SASSDCS! */

.pika {
	&-single {
		background: $token-primitives-base-white;
		border: $token-border-size-025 solid $token-primitives-neutral-400;
		border-radius: $token-border-radius-100;
		display: block;
		margin-top: $token-scale-100;
		max-width: 320px;
		position: relative;

		.layout-native & {
			max-width: 100%;
		}

		&.is-bound {
			box-shadow: $token-elevation-1;
			position: absolute !important;
			z-index: var(--layer-global-elevated);
		}

		&.is-hidden {
			display: none;
		}
	}

	&-title {
		align-items: center;
		display: flex;
		justify-content: space-between;
		padding: $token-scale-600 $token-scale-400;

		select {
			cursor: pointer;
			left: 0;
			margin: 0;
			opacity: 0;
			position: absolute;
			right: 0;
		}

		.pika-time-container {
			select {
				opacity: 1;
				position: static;
			}
		}
	}

	&-labels {
		display: flex;
		flex: 1;
	}

	&-select-month {
		margin-left: $token-scale-400;
		margin-right: 0;

		.year-first & {
			margin-left: $token-scale-400;
			margin-right: 0;
		}
	}

	&-prev {
		background-color: transparent;
		border: $token-border-size-0;
		color: $token-primitives-neutral-700;
		cursor: pointer;
		font: normal normal normal 0 FontAwesome;
		padding: $token-scale-0 $token-scale-200;

		&:before {
			content: '\f104';
			font-size: $token-font-size-500;
			position: relative;
		}
	}

	&-next {
		background-color: transparent;
		border: $token-border-size-0;
		color: $token-primitives-neutral-700;
		cursor: pointer;
		font: normal normal normal 0 FontAwesome;
		margin-left: $token-scale-400;
		padding: $token-scale-0 $token-scale-200;

		&:before {
			content: '\f105';
			font-size: $token-font-size-500;
			position: relative;
		}
	}

	&-label {
		color: $token-semantics-primary-base;
		cursor: pointer;
		position: relative;

		&:first-child {
			margin-right: $token-scale-400;
		}

		&:hover {
			color: #295fd6;
			text-decoration: underline;
		}
	}

	&-table {
		display: flex;
		flex-direction: column;
		padding: $token-scale-0 $token-scale-400 $token-scale-400;
		width: 100%;

		thead {
			display: flex;
			flex-direction: row;

			tr {
				display: flex;
				flex: 1;
			}
		}

		th {
			color: $token-primitives-neutral-700;
			flex: 1;
			font-weight: $token-font-weight-regular;

			abbr[title] {
				text-decoration: none;
			}
		}

		tbody {
			margin-top: $token-scale-200;
			overflow: hidden;

			tr {
				display: flex;
				flex-direction: row;
				margin-bottom: $token-scale-100;

				&:last-child {
					margin-bottom: $token-scale-0;
				}
			}

			td {
				align-items: center;
				display: inline-flex;
				flex: 1;
				justify-content: center;
			}
		}
	}

	&-button {
		background-color: transparent;
		border: $token-border-size-0;
		border-radius: $token-border-radius-100;
		color: $token-primitives-neutral-900;
		cursor: pointer;
		height: 32px;
		padding: $token-scale-0;
		position: relative;
		width: 32px;
		z-index: var(--layer-local-tier-1);

		&:hover {
			background-color: $token-primitives-neutral-300;
		}

		.is-today & {
			background-color: $token-primitives-neutral-400;
		}

		.is-inrange & {
			background: $token-semantics-primary-base linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
		}

		.is-startrange &,
		.is-selected &,
		.is-endrange & {
			background: $token-semantics-primary-base;
			color: $token-primitives-base-white;
		}

		.is-disabled &,
		.is-disabled.is-outside-current-month & {
			color: $token-primitives-neutral-700;
			pointer-events: none;
			text-decoration: line-through;
		}

		.is-outside-current-month & {
			color: $token-primitives-neutral-700;
			text-decoration: none;
		}

		.has-event &:before {
			background-color: $token-semantics-primary-base;
			border-radius: 50%;
			bottom: 3px;
			content: '';
			height: 4px;
			left: 50%;
			margin-left: -2px;
			position: absolute;
			width: 4px;
		}

		.is-selected.has-event &:before {
			background-color: $token-primitives-base-white;
		}
	}

	&-today-container {
		height: auto;
		margin: $token-scale-0 $token-scale-0;
		padding: $token-scale-0 $token-scale-0 $token-scale-0;
		width: 100%;

		&:hover {
			background-color: transparent;
		}
	}

	&-go-today {
		background-color: transparent;
		border: $token-border-size-0;
		color: $token-semantics-primary-base;
		cursor: pointer;
		font-weight: normal;
		padding: $token-scale-0;

		&:hover {
			color: #295fd6;
		}
	}

	&-month,
	&-year {
		align-items: center;
		display: flex;
		justify-content: center;
		margin-bottom: $token-scale-400;
		width: 33.333%;

		&.is-selected {
			background-color: $token-semantics-primary-base;
			color: $token-primitives-base-white;
		}
	}

	&-time-container {
		margin: 0 $token-scale-400;

		select {
			background-color: transparent;
			border: 0;
			color: $token-semantics-primary-base;
		}

		option {
			color: $token-primitives-neutral-1200;
		}
	}
}

input.OSFillParent.calendar-input {
	display: none;
}

.is-inrange {
	position: relative;

	&:before {
		background: $token-semantics-primary-base linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
		border-radius: $token-border-radius-100;
		content: '';
		height: 100%;
		left: -8px;
		position: absolute;
		right: -14px;
		top: 0;
	}

	&:first-child {
		&:before {
			left: 3px;
		}
	}

	&:last-child {
		&:before {
			right: 3px;
		}
	}
}

.month-picker,
.year-picker {
	-webkit-box-direction: normal;
	-webkit-box-orient: horizontal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: $token-scale-0;
}

.prev-year,
.next-year {
	color: $token-primitives-neutral-700;
}

/* Keycode shortcuts dialog */
.calendar-help {
	&-dialog {
		background-color: $token-primitives-base-white;
		bottom: 0;
		color: $token-primitives-neutral-1200;
		display: none;
		left: 0;
		padding: $token-scale-200;
		position: absolute;
		right: 0;
		top: 0;
		z-index: var(--laber-global-elevated);

		&.is--open {
			display: block;
		}
	}

	&-content {
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: space-between;
		overflow-y: auto;

		p {
			margin: 0;
		}

		ul {
			padding-left: $token-scale-600;
		}
	}

	&-trigger {
		background-color: $token-semantics-info-base;
		clip: rect(0, 0, 0, 0);
		color: $token-primitives-base-white;
		height: 0;
		left: 50%;
		overflow: hidden;
		padding: $token-scale-200;
		position: absolute;
		top: $token-scale-1200;
		transform: translateX(-50%);
		white-space: nowrap;
		width: 0;

		&:focus {
			clip: initial;
			height: auto;
			overflow: visible;
			width: auto;
			z-index: var(--laber-global-elevated);
		}
	}

	&-close {
		background-color: $token-primitives-base-white;
		color: $token-primitives-neutral-1200;
		height: auto;
	}
}

.portal-class ~ .pika-single.is-bound {
	/* Fix datepicker when inside Popup Widget */
	z-index: calc(var(--layer-above) + var(--popup-layer));
}

// Responsive --------------------------------------------------------------------
.phone {
	.pika {
		&-lendar {
			tr {
				border-bottom: 0;
			}
		}

		&-time {
			td {
				display: initial;
			}
		}
	}
}

// IsRTL -------------------------------------------------------------------------
.is-rtl {
	.pika {
		&-next {
			margin-left: 0;
			margin-right: $token-scale-600;
			padding: $token-scale-0 $token-scale-100;

			&:before {
				content: '\f104';
			}
		}

		&-prev {
			&:before {
				content: '\f105';
			}
		}

		&-label {
			&:first-child {
				margin-left: $token-scale-400;
				margin-right: 0;
			}
		}
	}
}

// Accessibility ---------------------------------------------------------------------
.has-accessible-features {
	.desktop & {
		.pika {
			&-title {
				select {
					border: none;
					color: $token-semantics-primary-base;
					opacity: 1;

					&:hover {
						border-bottom: $token-border-size-025 solid $token-semantics-primary-base;
					}

					option {
						color: $token-primitives-neutral-1200;
					}
				}

				.pika-label {
					align-items: center;
					display: flex;
				}
			}
		}
	}
}
