/* Patterns - Interaction - Dropdown Search */
/* Since this pattern is Deprecated, it should not appear at SASSDCS! */

.choices[data-type*='select-one'] {
	cursor: pointer;

	&:after {
		color: var(--token-primitives-neutral-700);
		content: '\f107';
		font: normal normal normal 24px/1 FontAwesome;
		font-family: 'FontAwesome';
		position: absolute;
		right: 16px;
		top: 8px;
		transform-origin: center;
		transition: all 300ms ease;
	}

	&.is {
		&-open {
			&:after {
				color: var(--token-semantics-primary-base);
				transform: rotate(180deg);
			}
		}

		&-disabled {
			&:after {
				color: var(--token-primitives-neutral-500);
			}

			.choices__list--single {
				.choices__item {
					color: var(--token-primitives-neutral-600);
				}
			}
		}
	}

	.choices__button {
		display: none;
		height: auto;
		margin-right: var(--token-scale-600);
		margin-top: -10px;
		padding: var(--token-scale-0);
		position: absolute;
		right: 0;
		top: 50%;
		width: 20px;

		&:hover,
		&:focus {
			opacity: 1;
		}

		&:focus {
			box-shadow: 0 0 0 2px var(--token-elevation-1);
		}
	}

	.search--wrapper {
		input:not(.btn):not(.checkbox):not(.radio-button),
		.input {
			max-width: 100%;
			padding-left: var(--token-scale-800);
		}
	}
}

.choices__list--single {
	.choices__item {
		color: var(--token-primitives-neutral-1200);
		overflow: hidden;
		padding-right: var(--token-scale-400);
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 99%;
	}
}

.dropdown-tag-select {
	opacity: 0;
}

// Responsive --------------------------------------------------------------------
.tablet,
.phone {
	.choices[data-type*='select-one'] {
		&:after {
			top: 14px;
		}
	}
}

// IsRTL -------------------------------------------------------------------------
.choices[dir='rtl'] {
	&[data-type*='select-one'] {
		&:after {
			left: 16px;
			right: auto;
		}

		.choices__button {
			left: 0;
			margin-left: var(--token-scale-600);
			margin-right: var(--token-scale-0);
			right: auto;
		}
	}

	.choices__list--single {
		padding-left: var(--token-scale-400);
		padding-right: var(--token-scale-100);
	}
}

// Accessibility -----------------------------------------------------------------
.has-accessible-features {
	.choices[data-type*='select-one'] {
		border-radius: var(--token-border-radius-100);
	}
}
