/* Patterns - Interaction - Dropdown Tags */
/* Since this pattern is Deprecated, it should not appear at SASSDCS! */

.choices__list--multiple {
	display: inline;

	.choices__item {
		align-items: center;
		background-color: var(--token-primitives-neutral-300);
		border: var(--token-border-size-025) solid var(--token-primitives-neutral-300);
		border-radius: var(--token-border-radius-100);
		color: var(--token-primitives-neutral-900);
		display: inline-table;
		font-size: var(--token-font-size-300);
		font-weight: var(--token-font-weight-semi-bold);
		height: 32px;
		margin-left: var(--token-scale-100);
		margin-top: var(--token-scale-100);
		padding: var(--token-scale-100) var(--token-scale-200);
		vertical-align: middle;
		word-break: break-all;

		&.is-highlighted {
			background-color: var(--token-semantics-primary-base);
			border: var(--token-border-size-025) solid var(--token-semantics-primary-base);
			color: var(--token-primitives-base-white);
		}
	}
}

.choices[data-type*='select-multiple'] {
	&.is-open {
		&.is-focused {
			.choices__inner {
				border: var(--token-border-size-025) solid var(--token-semantics-primary-base);
				border-radius: var(--token-border-radius-100);
			}
		}

		.choices__inner {
			border: var(--token-border-size-025) solid var(--token-primitives-neutral-500);
		}
	}

	&.is-disabled {
		.choices__item {
			&.choices__item--selectable {
				color: var(--token-primitives-neutral-700);
			}
		}
	}

	.choices {
		&__button {
			border: var(--token-border-size-0);
			display: inline-block;
			line-height: 1;
			margin-bottom: var(--token-scale-0);
			margin-left: var(--token-scale-200);
			margin-right: -4px;
			margin-top: var(--token-scale-0);
			padding-left: var(--token-scale-400);
			position: relative;
			width: 8px;

			&::after {
				color: var(--token-primitives-neutral-700);
				content: '\f00d';
				font: normal normal normal 14px/1 FontAwesome;
				font-family: 'FontAwesome';
				left: 0;
				position: absolute;
				text-indent: 0;
				top: 50%;
				transform: translateY(-50%);
			}

			&:hover,
			&:focus {
				opacity: 1;
			}
		}

		&__inner {
			border-radius: var(--token-border-radius-100);
			cursor: text;
			height: auto;
			padding: 0;
		}

		&__item {
			&.is-highlighted {
				.choices__button::after {
					color: var(--token-primitives-base-white);
				}
			}

			&[data-deletable] {
				padding-right: var(--token-scale-100);
			}
		}

		&__input {
			background-color: transparent;
		}
	}

	.search--wrapper {
		padding: 0 var(--token-scale-100) 0 0;
		width: auto;

		&::before {
			left: var(--token-scale-400);
		}

		input:not(.btn):not(.checkbox):not(.radio-button),
		.input {
			padding-left: var(--token-scale-1000);
			width: 100% !important;
		}

		input {
			border: 0;

			&:focus {
				border: 0;
				box-shadow: none;
			}
		}
	}
}

.is-disabled {
	.choices__list--multiple {
		.choices__item {
			background-color: var(--token-primitives-neutral-600);
			border: var(--token-border-size-025) solid var(--token-primitives-neutral-700);
		}
	}
}

.dropdown-tag-select {
	opacity: 0;
}

.dropdown-tag-preview {
	.card {
		padding: var(--token-scale-100);
	}
}

// IsRTL -------------------------------------------------------------------------
.choices[dir='rtl'] {
	.choices__list--multiple {
		.choices__item {
			margin-left: var(--token-scale-0);
			margin-right: var(--token-scale-100);
		}
	}

	&[data-type*='select-multiple'] {
		.choices__button {
			margin-left: 0;
			margin-right: var(--token-scale-200);
			padding-left: var(--token-scale-0);
		}
	}
}

// Accessibility -----------------------------------------------------------------
.has-accessible-features {
	.choices[data-type='select-multiple'] {
		&.is-open {
			&.is-focused {
				.choices__inner {
					border-color: var(--color-focus-inner);
					box-shadow: 0px 0px 0px 3px var(--color-focus-outer);
				}
			}
		}
	}
}
