/* Patterns - Numbers - Progress Circle Fraction */
////
/// @group Patterns-Progress_Circle_Fraction
/// Patterns - Numbers - Progress Circle Fraction

///
.progress-circle {
	&-text {
		@include absolute-center();

		line-height: 1.2;

		// Service Studio Preview
		& {
			-servicestudio--webkit-transform: translate(0);
			-servicestudio-position: static;
		}

		&-numerator {
			font-size: var(--font-size-h4);
		}

		&-denominator {
			font-size: var(--font-size-h6);
		}
	}

	&-medium {
		.progress-circle-text {
			&-numerator {
				font-size: var(--font-size-h1);
			}

			&-denominator {
				font-size: var(--font-size-h4);
			}
		}
	}

	&-large {
		.progress-circle-text {
			&-numerator {
				font-size: 44px;
			}

			&-denominator {
				font-size: var(--font-size-h2);
			}
		}
	}
}
