/* Patterns - Numbers - Progress Circle */
/* Since this pattern is Deprecated, it should not appear at SASSDCS! */

.progress-circle {
	position: relative;

	svg {
		height: 100%;
		stroke-linecap: round;
	}

	.progressbar-text {
		text-align: center;
	}

	&-outer {
		display: flex;
		justify-content: center;
		padding: var(--token-scale-400);
	}

	&-small .progressbar-text {
		font-size: var(--token-font-size-550);
	}

	&-medium .progressbar-text {
		font-size: var(--token-font-size-650);
	}

	&-large .progressbar-text {
		font-size: var(--token-font-size-900);
	}
}
