/* Patterns - Numbers - Progress Bar */
/* Since this pattern is Deprecated, it should not appear at SASSDCS! */

.progress {
	background-color: get-background-color('primary');
	transform-origin: left;
	transition: all 750ms ease-out;
	will-change: width;

	&-bar {
		background-color: get-background-color('neutral-3');
		overflow: hidden;
		position: relative;

		&-text {
			display: none;
		}
	}
}
