/* Patterns - Interaction - RangeSlider */
/* Since this pattern is Deprecated, it should not appear at SASSDCS! */

.SliderInterval .noUi-base {
	background-color: get-background-color('neutral-5');
}

.range-slider .noUi-base {
	background-color: get-background-color('primary');
	border-radius: var(--border-radius-soft);
}

.range-slider .noUi-origin {
	background-color: get-background-color('neutral-5');
}

.range-slider .noUi-target,
.range-slider .noUi-target * {
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-ms-touch-action: none;
	touch-action: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.range-slider .noUi-target {
	background: get-background-color('neutral-5');
	border: var(--border-size-none);
	border-radius: var(--border-radius-soft);
	box-shadow: none;
	height: 4px;
	margin: var(--space-m) var(--space-none) 45px;
	position: relative;
}

.range-slider .noUi-vertical {
	margin: var(--space-m) var(--space-none);
	width: 4px;
}

.range-slider .noUi-touch-area {
	height: 100%;
	width: 100%;
}

.range-slider .noUi-base,
.range-slider .noUi-connects {
	height: 100%;
	position: relative;
	width: 100%;
	z-index: var(--layer-local-tier-1);
}

.range-slider .noUi-connect,
.range-slider .noUi-origin {
	position: absolute;
	right: 0;
	top: 0;
	-ms-transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform-style: preserve-3d;
	transform-style: flat;
	will-change: transform;
	z-index: var(--layer-local-tier-1);
}

.range-slider .noUi-connects {
	border-radius: var(--border-radius-soft);
	overflow: hidden;
	z-index: var(--layer-global-screen);
}

.range-slider .noUi-horizontal .noUi-handle,
.range-slider .noUi-vertical .noUi-handle {
	background-color: get-background-color('neutral-0');
	border: var(--border-size-s) solid get-border-color('neutral-7');
	border-radius: var(--border-radius-circle);
	box-shadow: var(--shadow-xs);
	cursor: pointer;
	display: inline-block;
	height: 24px;
	left: -10px;
	position: relative;
	top: -10px;
	transition: transform 150ms ease-out;
	width: 24px;
}

.range-slider .noUi-vertical .noUi-handle {
	left: -14px;
}

.range-slider .noUi-horizontal .noUi-handle:before,
.range-slider .noUi-horizontal .noUi-handle:after,
.range-slider .noUi-vertical .noUi-handle:before,
.range-slider .noUi-vertical .noUi-handle:after {
	background: get-background-color('transparent');
	border-color: get-border-color('neutral-6');
	border-style: solid;
	content: '';
	height: 10px;
	margin-top: -5px;
	position: absolute;
	top: 50%;
}

.range-slider .noUi-horizontal .noUi-handle:before,
.range-slider .noUi-vertical .noUi-handle:before {
	border-width: var(--border-size-none) var(--border-size-none) var(--border-size-none) var(--border-size-s);
	content: '';
	left: 6px;
	right: auto;
}

.range-slider .noUi-horizontal .noUi-handle:after,
.range-slider .noUi-vertical .noUi-handle:after {
	border-style: solid;
	border-width: var(--border-size-none) var(--border-size-s);
	left: 10px;
	width: 3px;
}

.range-slider .noUi-horizontal .noUi-handle.noUi-active,
.range-slider .noUi-horizontal .noUi-handle:hover,
.range-slider .noUi-vertical .noUi-handle.noUi-active,
.range-slider .noUi-vertical .noUi-handle:hover {
	border: var(--border-size-s) solid get-border-color('primary');
}

.range-slider .noUi-horizontal .noUi-handle.noUi-active:before,
.range-slider .noUi-horizontal .noUi-handle.noUi-active:after,
.range-slider .noUi-horizontal .noUi-handle:hover:before,
.range-slider .noUi-horizontal .noUi-handle:hover:after,
.range-slider .noUi-vertical .noUi-handle.noUi-active:before,
.range-slider .noUi-vertical .noUi-handle.noUi-active:after,
.range-slider .noUi-vertical .noUi-handle:hover:before,
.range-slider .noUi-vertical .noUi-handle:hover:after {
	border-color: get-border-color('primary');
}

.range-slider .noUi-horizontal .noUi-pips {
	color: get-text-color('neutral-8');
	position: absolute;
}

.range-slider .noUi-background {
	box-shadow: none;
}

.range-slider .noUi-origin.noUi-connect {
	background-color: get-background-color('primary');
	box-shadow: none;
}

.range-slider .noUi-horizontal.noUi-pips-margin {
	margin-bottom: 60px;
}

.range-slider .noUi-origin {
	height: 10%;
	width: 10%;
}

.range-slider .noUi-vertical .noUi-origin {
	width: 0;
}

.range-slider .noUi-horizontal .noUi-origin {
	height: 0;
}

.range-slider .noUi-pips-vertical {
	color: get-text-color('neutral-8');
	height: 100%;
	left: 100%;
	padding: 0 0 0 var(--space-base);
	top: 0;
}

.range-slider .noUi-value-vertical {
	padding-left: var(--space-s);
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
}

.range-slider .noUi-marker-vertical.noUi-marker {
	height: 2px;
	margin-top: -1px;
	width: 5px;
}

.range-slider .noUi-marker-vertical.noUi-marker-sub {
	width: 10px;
}

.range-slider .noUi-marker-vertical.noUi-marker-large {
	width: 4px;
}

.range-slider .noUi-tooltip {
	background: get-background-color('neutral-0');
	border: var(--border-size-s) solid get-border-color('neutral-5');
	border-radius: var(--border-radius-soft);
	color: get-text-color('neutral-10');
	display: block;
	padding: var(--space-xs);
	position: absolute;
	text-align: center;
	white-space: nowrap;
}

.range-slider .noUi-horizontal .noUi-tooltip {
	bottom: 120%;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}

.range-slider .noUi-vertical .noUi-tooltip {
	right: 120%;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
}

/* RTL */
.range-slider .noUi-rtl .noUi-value-vertical {
	-webkit-transform: translate(0, 50%);
	transform: translate(0, 50%);
}

.is-rtl .noUi-value.noUi-value-vertical {
	padding-left: var(--space-none);
	padding-right: var(--space-m);
}

.is-rtl .noUi-marker.noUi-marker-vertical {
	margin-right: var(--space-base);
}

/* $4.3.12 - Patterns - Interaction - RangeSlider */
.range-slider {
	padding: 0 12px;
}

.range-slider .noUi-base {
	background-color: get-background-color('transparent');
}

.range-slider .noUi-horizontal .noUi-handle {
	left: auto;
	position: absolute;
	right: -12px;
}

.range-slider .noUi-connect {
	background-color: get-background-color('primary');
	height: 100%;
	width: 100%;
}

.range-slider .noUi-handle {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	position: absolute;
}

.range-slider .noUi-pips-horizontal {
	height: 40px;
	left: 0;
	padding: 12px 0 0;
	top: 100%;
	width: 100%;
}

.range-slider .noUi-marker {
	position: absolute;
}

.range-slider .noUi-marker-sub {
	background-color: get-background-color('neutral-5');
}

.range-slider .noUi-marker-large {
	background-color: get-background-color('neutral-6');
}

.range-slider .noUi-marker-horizontal.noUi-marker {
	height: 4px;
	margin-left: -1px;
	width: 2px;
}

.range-slider .noUi-marker-horizontal.noUi-marker-sub {
	height: 10px;
}

.range-slider .noUi-marker-horizontal.noUi-marker-large {
	height: 4px;
}

.range-slider .noUi-value {
	position: absolute;
	text-align: center;
	white-space: nowrap;
}

.range-slider .noUi-value-sub {
	background-color: get-background-color('neutral-6');
	font-size: 10px;
}

.range-slider .noUi-value-horizontal {
	top: 6px;
	-webkit-transform: translate(-50%, 50%);
	transform: translate(-50%, 50%);
}

.range-slider .noUi-rtl .noUi-value-horizontal {
	-webkit-transform: translate(50%, 50%);
	transform: translate(50%, 50%);
}

/* Range Slider - Disabled */
.range-slider[data-disabled='true'] {
	pointer-events: none;
}

.range-slider[data-disabled='true'].noUi-target {
	background-color: get-background-color('neutral-4');
}

.range-slider[data-disabled='true'] .noUi-connect {
	background-color: get-background-color('neutral-6');
}

.range-slider[data-disabled='true'] .noUi-handle {
	background-color: get-background-color('neutral-2');
	border: var(--border-size-s) solid get-border-color('neutral-5');
	box-shadow: none;
}

.range-slider[data-disabled='true'] .noUi-handle:before,
.range-slider[data-disabled='true'] .noUi-handle:after {
	border-color: get-border-color('neutral-6');
}

.range-slider[data-disabled='true'] .noUi-pips {
	color: get-text-color('neutral-6');
}

/* Accessibility Styles */
.has-accessible-features .range-slider .noUi-handle:focus {
	border-color: get-border-color('focus-inner');
	box-shadow: 0px 0px 0px 3px get-background-color('focus-outer');
}
