/* Patterns - Navigation - Section Index */
///
.section-index {
	border-left: var(--token-border-size-025) solid var(--token-primitives-neutral-500);
	display: flex;
	flex-direction: column;

	&.is--sticky {
		position: -webkit-sticky; //Fix for older iPhones
		position: sticky;
		top: var(--top-position);
	}

	&-item {
		cursor: pointer;

		&:last-child {
			margin-bottom: var(--token-scale-0);
		}

		&.is--active {
			border-left: var(--token-border-size-050) solid var(--token-semantics-primary-base);
			color: var(--token-primitives-neutral-900);
			font-weight: var(--token-font-weight-semi-bold);
		}
	}

	a {
		&,
		&:visited {
			border-left: var(--token-border-size-050) solid transparent;
			color: var(--token-primitives-neutral-800);
			margin-bottom: var(--token-scale-200);
			padding-left: var(--token-scale-400);
		}

		&:hover {
			color: var(--token-primitives-neutral-900);
		}
	}
}

///
.layout-native {
	.section-index {
		&.is--sticky {
			position: fixed;
			top: calc(var(--header-size) + var(--header-size-content) + var(--top-position) + var(--os-safe-area-top));
		}
	}
}

// Responsive ---------------------------------------------------------------------------
///
.android {
	.layout-native {
		.section-index {
			&.is--sticky {
				top: calc(
					var(--header-size) + var(--header-size-content) + var(--top-position) + #{android-safe-area-top()}
				);
			}
		}
	}
}

///
// Fixes the sticky problem on Safari 14.1
.safari {
	[data-block*='SectionIndex'] {
		display: contents;
	}
}

// Accessibility ---------------------------------------------------------------------------
///
.has-accessible-features {
	.section-index {
		a {
			&:focus {
				background-color: transparent;
				box-shadow: 0 0 0 3px var(--color-focus-outer);
			}
		}
	}
}
