/* Patterns - Content - Submenu */
/* Since this pattern is Deprecated, it should not appear at SASSDCS! */

.submenu {
	cursor: pointer;
	display: inline-flex;
	height: 100%;
	margin-left: $token-scale-400;
	position: relative;

	// Service Studio Preview
	& {
		-servicestudio-height: auto !important;
	}

	&:hover {
		.submenu-icon:before {
			border: $token-border-size-025 solid $token-primitives-neutral-900;
			border-right: 0;
			border-top: 0;
		}
	}

	&.active {
		&.open {
			.submenu-item {
				color: $token-semantics-primary-base;
			}
		}

		.submenu {
			&-header {
				border-bottom: $token-border-size-050 solid $token-semantics-primary-base;
			}

			&-item {
				&,
				a {
					color: $token-semantics-primary-base;
				}
			}

			&-icon:before {
				border: $token-border-size-025 solid $token-semantics-primary-base;
				border-right: 0;
				border-top: 0;
			}
		}
	}

	&.open {
		.submenu {
			&-icon {
				top: 3px;
				transform: rotate(135deg);
			}

			&-items {
				opacity: 1;
				pointer-events: auto;
				transform: translateY(0px);
			}
		}
	}

	&.is--dropdown {
		.submenu-icon {
			display: inline-flex;
		}
	}

	&-header {
		align-items: center;
		border-bottom: $token-border-size-050 solid transparent;
		border-top: $token-border-size-050 solid transparent;
		display: flex;
		padding: $token-scale-0 $token-scale-200;
		transition: all 150ms linear;
	}

	&-icon {
		display: none;
		margin-left: $token-scale-200;
		position: relative;
		top: -1px;
		transform: rotate(-45deg);
		transition: all 150ms linear;

		&:before {
			border: $token-border-size-025 solid $token-primitives-neutral-800;
			border-right: 0;
			border-top: 0;
			box-sizing: border-box;
			content: '';
			height: 6px;
			transition: all 150ms linear;
			width: 6px;
		}
	}

	&-item {
		align-items: center;
		color: $token-primitives-neutral-900;
		display: inline-flex;
		height: 100%;
		position: relative;
		transition: all 150ms linear;

		a {
			align-items: center;
			color: $token-primitives-neutral-800;
			display: flex;
			height: 100%;
		}
	}

	&-items {
		background-color: $token-primitives-base-white;
		border: $token-border-size-025 solid $token-primitives-neutral-400;
		border-radius: $token-border-radius-100;
		box-shadow: $token-elevation-2;
		display: flex;
		flex-direction: column;
		left: 0;
		min-width: 100px;
		opacity: 0;
		padding: $token-scale-200 $token-scale-0;
		pointer-events: none;
		position: absolute;
		top: calc(100% + $token-scale-100);
		transform: translateY(-8px);
		transition: all 130ms ease-out;
		z-index: var(--layer-global-elevated);

		// Service Studio Preview
		& {
			-servicestudio-opacity: 1 !important;
			-servicestudio-pointer-events: auto !important;
			-servicestudio-top: 100% !important;
			-servicestudio-transform: translateY(0px) !important;
		}

		a {
			color: $token-primitives-neutral-800;
			margin: 0;
			padding: $token-scale-200 $token-scale-400;
			white-space: nowrap;

			&.active {
				color: $token-semantics-primary-base;
			}
		}
	}
}

.layout {
	&:not(.layout-side) {
		.app-menu-links {
			.submenu a {
				border-bottom: none;
			}
		}
	}

	.header .submenu-items {
		-servicestudio-display: none !important;
	}

	.submenu {
		// Service Studio Preview
		& {
			-servicestudio-height: 100% !important;
		}
	}
}

.layout-side {
	.app-menu-links {
		.submenu a {
			border-left: none;
		}
	}

	.submenu {
		flex-direction: column;
		margin-left: $token-scale-0;
		width: 100%;

		&.active .submenu-header {
			border-left: $token-border-size-050 solid $token-semantics-primary-base;
		}

		&.open .submenu-items {
			display: flex;
		}

		.submenu-header {
			border-bottom: 0;
			border-left: $token-border-size-050 solid transparent;
			border-top: 0;
			padding: $token-scale-200 $token-scale-600;
		}

		&-item {
			flex: 1;
		}

		&-items {
			border: none;
			box-shadow: none;
			display: none;
			opacity: 1;
			padding: $token-scale-100 $token-scale-600;
			pointer-events: auto;
			position: relative;
			top: 0;
			transform: translateY(0);

			a {
				padding: $token-scale-200 $token-scale-400;
			}
		}
	}
}

.layout-side,
.menu-visible {
	.app-menu-links {
		.submenu-header a {
			padding: $token-scale-0;
		}
	}
}

// Responsive --------------------------------------------------------------------

.desktop {
	.submenu {
		&:hover {
			.submenu-item {
				color: $token-primitives-neutral-900;
			}
		}

		&.active {
			.submenu-header:hover .submenu-item {
				color: $token-semantics-primary-base;
			}
		}
	}

	.submenu {
		&-header {
			&:hover {
				border-bottom: $token-border-size-050 solid $token-semantics-primary-base;
			}
		}

		&-item {
			a:hover {
				color: $token-primitives-neutral-900;
			}
		}

		&-items {
			a {
				&:hover {
					background-color: $token-primitives-neutral-200;
					color: $token-primitives-neutral-900;
				}

				&.active:hover {
					color: $token-semantics-primary-base;
				}
			}
		}
	}

	.layout-side {
		.submenu {
			.submenu-header {
				border-bottom: $token-border-size-050 solid transparent;

				&:hover {
					border-bottom: $token-border-size-050 solid transparent;
				}
			}
		}
	}
}

.tablet,
.phone {
	.submenu {
		flex-direction: column;
		margin-left: $token-scale-0;
		width: 100%;

		&.active .submenu-header {
			border-left: $token-border-size-050 solid $token-semantics-primary-base;
			border-bottom: 0;
		}

		&.open .submenu-items {
			display: flex;
		}

		&-header {
			border-bottom: 0;
			border-left: $token-border-size-050 solid transparent;
			border-top: 0;
			padding: $token-scale-200 $token-scale-600;
		}
	}

	.submenu {
		&-item {
			flex: 1;
		}

		&-items {
			border: none;
			box-shadow: none;
			display: none;
			opacity: 1;
			padding: $token-scale-100 $token-scale-600;
			pointer-events: auto;
			position: relative;
			top: 0;
			transform: translateY(0);
		}
	}
}

// IsRTL -------------------------------------------------------------------------

.is-rtl {
	.layout-side {
		.submenu {
			.submenu-header {
				border-left: 0;
				border-right: $token-border-size-050 solid transparent;
			}
		}
	}

	&.tablet,
	&.phone {
		.submenu {
			&.active .submenu-header {
				border-left: 0;
				border-right: $token-border-size-050 solid $token-semantics-primary-base;
			}

			.submenu-header {
				border-left: 0;
				border-right: $token-border-size-050 solid transparent;
			}
		}
	}

	.submenu-icon {
		margin-left: $token-scale-0;
		margin-right: $token-scale-200;
	}

	.layout-side {
		.submenu {
			&.active .submenu-header {
				border-left: $token-border-size-0;
				border-right: $token-border-size-050 solid $token-semantics-primary-base;
			}
		}
	}
}
