/* Patterns - Numbers - Badge */
////
/// @group Patterns-Badge
/// Patterns - Numbers - Badge

///
.badge {
	// ─── Component CSS API ─────────────────────────────────────────────
	--osui-badge-color: var(--color-text-inverse);
	--osui-badge-primary-color: var(--color-primary);
	--osui-badge-on-light-color: var(--color-text);
	// ───────────────────────────────────────────────────────────────────

	align-items: center;
	color: var(--osui-badge-color);
	display: inline-flex;
	font-weight: $token-font-weight-semi-bold;
	height: $token-scale-500;
	justify-content: center;
	line-height: 1;
	min-width: $token-scale-500;
	padding: $token-scale-0 $token-scale-150;

	&.background {
		&-neutral {
			&-0 {
				color: var(--osui-badge-primary-color);
			}

			&-1,
			&-2,
			&-3,
			&-4 {
				color: var(--osui-badge-on-light-color);
			}
		}

		&-transparent {
			color: var(--osui-badge-primary-color);
		}

		&-primary-lightest {
			background-color: $token-semantics-primary-100;
			color: $token-semantics-primary-700;
		}
	}

	&-small {
		font-size: $token-font-size-300;
		height: $token-scale-400;
		min-width: $token-scale-400;
		padding: $token-scale-0 $token-scale-100;
	}

	&-medium {
		font-size: $token-font-size-400;
		height: $token-scale-700;
		min-width: $token-scale-700;
	}

	span {
		width: auto;
	}
}
