/* Patterns - Numbers - Badge */
////
/// @group Patterns-Badge
/// Patterns - Numbers - Badge

///
.badge {
	align-items: center;
	color: get-text-color('neutral-0');
	display: inline-flex;
	font-weight: var(--font-semi-bold);
	height: 32px;
	justify-content: center;
	line-height: 1;
	min-width: 32px;

	&.background {
		&-neutral {
			&-0 {
				color: get-text-color('primary');
			}

			&-1,
			&-2,
			&-3,
			&-4 {
				color: get-text-color('neutral-9');
			}
		}

		&-transparent {
			color: get-text-color('primary');
		}
	}

	&-small {
		font-size: var(--font-size-xs);
		height: 24px;
		min-width: 24px;
		padding: var(--space-none) var(--space-xs);
	}

	&-medium {
		font-size: var(--font-size-base);
		height: 40px;
		min-width: 40px;
	}

	span {
		width: auto;
	}
}
