/* Patterns - Numbers - Counter */
////
/// @group Patterns-Counter
/// Patterns - Numbers - Counter

///
.counter {
	display: flex;
	padding: $token-scale-0 $token-scale-600;
	word-break: keep-all;

	&.background-transparent {
		border: none;
	}

	.center-align {
		align-items: center;
		display: flex;
		width: 100%;

		&.flex-direction {
			&-column {
				justify-content: center;
			}

			&-row {
				justify-content: space-between;
			}
		}
	}
}
