/*! Patterns - Numbers - Counter */
////
/// @group Patterns-Counter
/// Patterns - Numbers - Counter Styles

///
.counter {
	display: flex;
	padding: var(--space-none) var(--space-m);
	word-break: keep-all;

	&.background-transparent {
		border: none;
	}

	.center-align {
		display: flex;
		width: 100%;

		&.flex-direction {
			&-column {
				align-items: center;
				justify-content: center;
			}

			&-row {
				align-items: center;
				justify-content: space-between;
			}
		}
	}
}
