/*! Patterns - Numbers - ProgressBar */

.progress-bar {
	background-color: var(--color-neutral-3);
	overflow: hidden;
	position: relative;
}

.progress {
	background-color: var(--color-primary);
	transform-origin: left;
	transition: all 750ms ease-out;
	will-change: width;
}

.progress-bar-text {
	display: none;
}
