/*! Patterns - Numbers - Rating */
////
/// @group Patterns-Rating
/// Patterns - Numbers - Rating

///
.rating {
	display: inline-flex;
	font-size: var(--rating-size);
	pointer-events: none;

	// Service Studio Preview
	& {
		-servicestudio-display: inline-flex;
	}

	&.rating {
		&-small {
			.rating-item {
				padding-right: calc(var(--rating-size) + var(--space-xs));
			}

			--rating-size: 8px;
		}

		&-medium {
			--rating-size: 24px;
		}
	}

	&.is-half {
		&:hover input:checked + label .rating-item-filled {
			opacity: 1;
		}

		.rating-item-half {
			z-index: 1;
		}

		input {
			&:checked + label .rating-item {
				&-half {
					opacity: 1;
				}

				&-filled {
					opacity: 0;
				}
			}

			&:hover ~ label.rating-item .rating-item {
				&-filled,
				&-half {
					opacity: 0;
				}
			}
		}
	}

	&.is-edit {
		.rating-item {
			cursor: pointer;
			pointer-events: auto;
		}
	}

	fieldset {
		border: none;
		display: contents;
		margin: 0;
		padding: 0;
	}

	&-item {
		display: inline-block;
		height: var(--rating-size);
		// Padding is used to avoid flicks on hover due to rating-items gap
		padding-right: calc(var(--rating-size) + var(--space-s));
		position: relative;
		width: var(--rating-size);

		&-filled,
		&-half,
		&-empty {
			left: 0;
			line-height: 1;
			position: absolute;
			top: 0;
			transition: opacity linear 150ms;
		}

		&-filled {
			opacity: 1;
			z-index: 1;
		}

		&-empty,
		&-half {
			opacity: 0;
			z-index: 0;
		}
	}

	.rating-item[class*='rating-']:last-of-type {
		padding-right: 0;
	}

	input {
		&:checked + label .rating-item-empty,
		&:checked ~ label .rating-item-filled,
		&:focus + label .rating-item-empty,
		&:hover ~ label .rating-item-filled {
			opacity: 0;
		}

		&:checked ~ label .rating-item-empty,
		&:checked + label .rating-item-filled,
		&:checked + label .rating-item-half,
		&:hover ~ label .rating-item-empty,
		&:hover + label .rating-item-filled,
		&:focus ~ label .rating-item-empty,
		&:focus + label .rating-item-filled {
			opacity: 1;
		}
	}

	&-item-filled,
	&-item-half,
	&-item-empty {
		// Service Studio Preview
		& {
			-servicestudio-margin-right: var(--space-s);
			-servicestudio-min-height: 24px;
			-servicestudio-min-width: 24px;
			-servicestudio-opacity: 1 !important;
			-servicestudio-position: relative;
		}
	}

	--rating-size: 16px;
}

///
.form {
	.rating {
		span.wcag-hide-text {
			position: absolute;
		}
	}
}

///
.icon-states {
	div[data-block*='Rating'] span {
		// Service Studio Preview
		& {
			-servicestudio-display: flex;
		}
	}
}

// Responsive -------------------------------------------------------------------------
///
.ios {
	.rating {
		.rating-item {
			//Fix for preventing FastClick issues on iOS
			// Check here for details: https://github.com/ftlabs/fastclick/issues/60 */
			& > * {
				display: block;
				pointer-events: none;
			}
		}
	}
}

// IsRTL -------------------------------------------------------------------------
///
.is-rtl {
	.rating {
		&:not(.is-half) .rating-item:nth-of-type(2) {
			padding: 0;
		}

		.rating-item {
			padding-left: calc(var(--rating-size) + var(--space-s));
			padding-right: 0;
			transform: scaleX(-1);
		}
	}
}

// Accessibility -----------------------------------------------------------------
///
.has-accessible-features {
	input:focus + .rating-item > div {
		box-shadow: 0 0 0 3px var(--color-focus-outer);
	}
}
