////
/// @group global

/// default outline style
@mixin a11y-default-outline($isInner: false) {
  @if $isInner {
    box-shadow: inset 0 0 0 var(--border-size-l) var(--color-focus-outer);
  } @else {
    box-shadow: 0 0 0 var(--border-size-l) var(--color-focus-outer);
  }
}

/// outline style for high contrast mode
@mixin a11y-high-contrast-outline($isBorder: false, $size: var(--border-size-l), $borderType: 'all') {
	@if $isBorder == false {
		outline: $size solid var(--color-focus-outer);
	} @else {
		@if $borderType == 'all' {
			border: $size solid var(--color-focus-outer);
		} @else {
			border-#{$borderType}: $size solid var(--color-focus-outer);
		}
	}
}

/// AppLogo
@mixin app-logo {
	border-radius: var(--border-radius-soft);
	margin-right: var(--space-s);
	max-height: var(--header-size);
	max-width: 120px;
}

///
@mixin absolute-center() {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

///
@mixin absolute-left-top($left: 0, $top: 0) {
	left: $left;
	position: absolute;
	top: $top;
}
