////
/// @group global

/// AppLogo
@mixin app-logo {
	border-radius: var(--border-radius-soft);
	margin-right: var(--space-s);
	max-height: var(--header-size);
	max-width: 120px;
}

///
@mixin absolute-center() {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

///
@mixin absolute-left-top($left: 0, $top: 0) {
	left: $left;
	position: absolute;
	top: $top;
}

///
@mixin osui-sized($attribute)
{
    /* #{$attribute} */
    .#{$attribute} {
	    @each $type, $value in $osui-sizes {
	    	&-#{$type} {
    			#{$attribute}: var($value);
	    }
    	}
    }
}
