////
/// @group global

/// default outline style
@mixin a11y-default-outline {
	box-shadow: 0 0 0 3px var(--color-focus-outer);
}

/// outline style for high contrast mode
@mixin a11y-high-contrast-outline {
	box-shadow: none;
	outline: 3px solid var(--color-focus-outer);
}

/// AppLogo
@mixin app-logo {
	border-radius: var(--border-radius-soft);
	margin-right: var(--space-s);
	max-height: var(--header-size);
	max-width: 120px;
}

///
@mixin absolute-center() {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

///
@mixin absolute-left-top($left: 0, $top: 0) {
	left: $left;
	position: absolute;
	top: $top;
}
