////
/// @group SCSS_Setup_Global_Variables

/* ---------------------------------------------------------------------------- */
/* DEVICES																		*/
/* ---------------------------------------------------------------------------- */

/// Devices
$osui-devices: 'phone', 'tablet', 'desktop';

/* ---------------------------------------------------------------------------- */
/* BOX 																			*/
/* ---------------------------------------------------------------------------- */

/// Box Sides
$osui-box-sides: 'top', 'right', 'bottom', 'left';

/// Box Corners
$osui-box-corners: 'top-left', 'top-right', 'bottom-right', 'bottom-left';

/* ---------------------------------------------------------------------------- */
/* Sizes																		*/
/* ---------------------------------------------------------------------------- */

/// Predefined sizes
$osui-sizes: 'none' 'xs' 's' 'base' 'm' 'l' 'xl' 'xxl';

/* ---------------------------------------------------------------------------- */
/* Font																			*/
/* ---------------------------------------------------------------------------- */

$osui-font-sizes: 'base', 's', 'xs';

/* ---------------------------------------------------------------------------- */
/* SHADOWS																		*/
/* ---------------------------------------------------------------------------- */

/// Shadow Types
$osui-shadow-types: 'none', 'xs', 's', 'm', 'l', 'xl';
