////
/// @group SCSS_Setup_Global_Variables

/* ---------------------------------------------------------------------------- */
/* App Settings 																*/
/* ---------------------------------------------------------------------------- */
/// Header Size
$header-size: 56px;

/// Header Content Size
$header-size-content: 48px;

/// Side Menu Size
$side-menu-size: 300px;

/// Bottom Bar Size
$bottom-bar-size: 56px;

/// Footer Height Size
$footer-height: 0px;

/* ---------------------------------------------------------------------------- */
/* Devices																		*/
/* ---------------------------------------------------------------------------- */
/// Devices
$osui-devices: 'phone', 'tablet', 'desktop';

/* ---------------------------------------------------------------------------- */
/* BOX 																			*/
/* ---------------------------------------------------------------------------- */
/// Box Sides
$osui-box-sides: 'top', 'right', 'bottom', 'left';
$osui-box-x-sides: 'right', 'bottom';
$osui-box-y-sides: 'top', 'bottom';

/// Box Corners
$osui-box-corners: 'top-left', 'top-right', 'bottom-right', 'bottom-left';

/* ---------------------------------------------------------------------------- */
/* Space / Sizes																*/
/* ---------------------------------------------------------------------------- */
/// Predefined spaces / sizes
$osui-sizes:
	'none' 0,
	'xs' 4px,
	's' 8px,
	'base' 16px,
	'm' 24px,
	'l' 32px,
	'xl' 40px,
	'xxl' 48px;

/* ---------------------------------------------------------------------------- */
/* SHADOWS																		*/
/* ---------------------------------------------------------------------------- */

/// Shadow Types
$osui-shadow-types:
	'none' 'none',
	'xs' '0 1px 2px rgba(0, 0, 0, 0.1)',
	's' '0 2px 4px rgba(0, 0, 0, 0.1)',
	'm' '0 4px 6px rgba(0, 0, 0, 0.1)',
	'l' '0 6px 8px rgba(0, 0, 0, 0.1)',
	'xl' '0 8px 10px rgba(0, 0, 0, 0.1)';
