////
/// @group SCSS_Setup_Borders_Variables

/* ---------------------------------------------------------------------------- */
/* BORDERS																		*/
/* ---------------------------------------------------------------------------- */

/// Border Sizes
$osui-border-size: 'none' 0, 's' 1px, 'm' 2px, 'l' 3px;

/// Border Radius
$osui-border-radius-types: 'none' 0, 'soft' 4px, 'rounded' 100px, 'circle' 100%;

/// Border Radius BoxSides
$osui-border-radius-box-sides: (
	'top' 'left' 'right',
	'right' 'top' 'bottom',
	'bottom' 'left' 'right',
	'left' 'top' 'bottom'
);
