////
/// @group SCSS_Setup_Borders_Variables

/* ---------------------------------------------------------------------------- */
/* BORDERS																		*/
/* ---------------------------------------------------------------------------- */

/// Border Sizes
$osui-border-size-types: 'none', 's', 'm', 'l';

/// Border Radius
$osui-border-radius-types: 'none', 'soft', 'rounded', 'circle';

/// Border Radius BoxSides
$osui-border-radius-box-sides: (
	'top' 'left' 'right',
	'right' 'top' 'bottom',
	'bottom' 'left' 'right',
	'left' 'top' 'bottom'
);
