////
/// @group SCSS_Setup_Global_Variables

/* ---------------------------------------------------------------------------- */
/* Pattern Zindex values														*/
/* ---------------------------------------------------------------------------- */
/// BottomSheet
$bottom-sheet-zindex: 300;

/// Notification
$notification-zindex: 300;

/// Popup
$popup-zindex: 250;

/// Sidebar
$sidebar-zindex: 140;
