////
/// @group SCSS_Setup_Typography_Variables

/* ---------------------------------------------------------------------------- */
/* Typography																	*/
/* ---------------------------------------------------------------------------- */

/// Typography sizes
$osui-typography-sizes: 'display' 36px, 'base' 16px, 's' 14px, 'xs' 12px;

/// Typography Headings sizes
$osui-typography-heading-sizes: 1 32px, 2 28px, 3 26px, 4 22px, 5 20px, 6 18px;

/// Typography Weight
$osui-typography-weight: 'light' 300, 'regular' 400, 'semi-bold' 600, 'bold' 700;
