/*! Patterns - Utilities - AlignCenter */
.vertical-align {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -ms-flex-direction: row;
}

.vertical-align span {
    display: inherit;
}

[style*="text-align: center"] .vertical-align {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

[style*="text-align: right"] .vertical-align {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
