/*! Patterns - Utilities - Button Loading */
////
/// @group Patterns-Button_Loading
/// Patterns - Utilities - Button Loading

///
.btn {
	&-loading {
		display: none;
		position: absolute;

		.loading-spinner {
			animation: loadingSpinner 850ms cubic-bezier(0.7, 1.05, 0.78, 0.78) infinite;
			border: var(--border-size-m) solid currentColor;
			border-radius: var(--border-radius-circle);
			border-top: var(--border-size-m) solid transparent;
			height: 16px;
			width: 16px;
			will-change: transform;
		}

		.btn-show-label & {
			position: relative;
		}

		.is--loading & {
			display: inline-flex;
		}
	}

	&-label {
		.is--loading & {
			opacity: 0;
		}
		.btn-show-label & {
			opacity: 1;
		}
	}
}
