/* Patterns - Utilities - List Updating */
////
/// @group Utilities-List_Updating
/// Patterns - Utilities - List Updating

///
.list-updating {
	height: 40px;
	margin-top: var(--space-m);
	position: relative;

	&:before {
		animation:
			spin 1s infinite linear,
			fade 300ms ease;
		border: 5px solid get-border-color('neutral-5');
		border-radius: 50%;
		border-top-color: get-border-color('neutral-7');
		box-sizing: border-box;
		content: '';
		height: 40px;
		left: 50%;
		margin-left: -20px;
		position: absolute;
		width: 40px;

		// Service Studio Preview
		& {
			-servicestudio--webkit-animation: none;
			-servicestudio-animation: none;
		}
	}
}
