@use "../../tokens/variables";

/* Patterns - Utilities - List Updating */
////
/// @group Utilities-List_Updating
/// Patterns - Utilities - List Updating

///
.list-updating {
	height: variables.$token-scale-1000;
	margin-block-start: variables.$token-scale-600;
	position: relative;

	&:before {
		animation:
			spin variables.$token-transition-time-1000 infinite variables.$token-transition-curve-linear,
			fade variables.$token-transition-time-300 variables.$token-transition-curve-expressive;
		border: 5px solid var(--color-border-input);
		border-block-start-color: variables.$token-primitives-neutral-700;
		border-radius: 50%;
		box-sizing: border-box;
		content: '';
		height: variables.$token-scale-1000;
		inset-inline-start: 50%;
		margin-inline-start: -20px;
		position: absolute;
		width: variables.$token-scale-1000;

		// Service Studio Preview
		& {
			-servicestudio--webkit-animation: none;
			-servicestudio-animation: none;
		}
	}
}
