/* Patterns - Utilities - Margin Container */
////
/// @group Patterns-Margin_Container
/// Patterns - Utilities - Margin Container

///
.margin-container {
	padding: var(--space-m);
}

///
.layout-native {
	.margin-container {
		padding: var(--space-l);
	}
}

// Responsive --------------------------------------------------------------------
///
.tablet {
	.layout-native {
		.margin-container {
			padding: var(--space-m);
		}
	}
}

///
.phone {
	.layout-native {
		.margin-container {
			padding: var(--space-base);
		}
	}
}
