/* Patterns - Utilities - Margin Container */
////
/// @group Patterns-Margin_Container
/// Patterns - Utilities - Margin Container

///
.margin-container {
	padding: $token-scale-600;
}

///
.layout-native {
	.margin-container {
		padding: $token-scale-800;
	}
}

// Responsive --------------------------------------------------------------------
///
.tablet {
	.layout-native {
		.margin-container {
			padding: $token-scale-600;
		}
	}
}

///
.phone {
	.layout-native {
		.margin-container {
			padding: $token-scale-400;
		}
	}
}
