/* Patterns - Utilities - Pull to Refresh */
////
/// @group Utilities-Pull_To_Refresh
/// Patterns - Utilities - Pull to Refresh

///
.pull-to-refresh {
	color: var(--text-color-neutral-6);
	font-size: var(--font-size-h3);
	left: 0;
	padding: var(--space-s);
	position: absolute;
	text-align: center;
	width: 100%;

	// Service Studio Preview
	& {
		-servicestudio-display: none;
	}

	&-loading {
		display: none;
		text-align: center;
	}

	.genericon {
		transition: all 0.25s ease;
	}
}

///
.ptr {
	&-loading,
	&-reset {
		.content,
		.pull-to-refresh {
			transition: all 0.25s ease;
		}

		.pull-to-refresh {
			.genericon {
				display: none;
			}
		}
	}

	&-loading {
		.pull-to-refresh-loading {
			display: block;
		}

		&:not(.osui-bottom-sheet--is-active) .content {
			transform: translate3D(0, 50px, 0);
		}
	}

	&-loading:not(.osui-bottom-sheet--is-active),
	&-reset:not(.osui-bottom-sheet--is-active) {
		.osui-bottom-sheet {
			display: none;
		}
	}

	&-reset {
		transform: translate3D(0, 0, 0);
	}

	&-refresh {
		.pull-to-refresh {
			.genericon {
				transform: rotate(180deg);
			}
		}
	}
}

///
.slide-from-left-enter,
.slide-from-left-leave,
.slide-from-right-enter,
.slide-from-right-leave,
.slide-from-top-enter,
.slide-from-top-leave,
.slide-from-bottom-enter,
.slide-from-bottom-leave,
.fade-enter,
.fade-leave {
	.layout-native {
		.pull-to-refresh {
			display: none;
		}
	}
}

// iOS ---------------------------------------------------------------------------
///
.ios.ptr-refresh {
	.layout-native.ios-bounce {
		.main {
			overflow: hidden;
		}
	}
}
