/* Patterns - Utilities - Separator */
////
/// @group Patterns-Separator
/// Patterns - Utilities - Separator

///
.separator {
	background-color: get-background-color('primary');

	&-vertical {
		display: inline-block;
		height: 100%;
		min-height: 20px;
		min-width: 1px;
		width: 1px;
	}

	&-horizontal {
		height: 1px;
		width: 100%;
	}
}
