// TimePicker
.osui-timepicker__dropdown {
	.numInputWrapper {
		span {
			&.arrowUp:after {
				border-bottom-color: var(--token-primitives-neutral-800);
			}
			&.arrowDown:after {
				border-top-color: var(--token-primitives-neutral-800);
			}
		}

		.numInput {
			color: var(--token-primitives-neutral-900);
		}
	}

	.flatpickr-time {
		.flatpickr-time-separator,
		.numInputWrapper .numInput {
			font-weight: var(--token-font-weight-semi-bold);
		}

		.flatpickr-time-separator {
			color: var(--token-primitives-neutral-700);
			line-height: var(--token-scale-1000);
		}
	}

	// AM/PM selector
	.flatpickr-am-pm {
		background-color: var(--token-primitives-neutral-700);
		border-radius: var(--token-border-radius-full);
		height: var(--token-scale-600);
		line-height: var(--token-scale-600);
		position: absolute;
		right: var(--token-scale-100);
		text-transform: uppercase;
		width: var(--token-scale-1000);

		&:hover,
		&:focus {
			background-color: var(--token-primitives-neutral-800);
		}
	}
}
