// TimePicker
.osui-timepicker__dropdown {
	.numInputWrapper {
		span {
			&.arrowUp:after {
				border-bottom-color: get-border-color('neutral-8');
			}
			&.arrowDown:after {
				border-top-color: get-border-color('neutral-8');
			}
		}

		.numInput {
			color: get-text-color('neutral-9');
		}
	}

	.flatpickr-time {
		.flatpickr-time-separator,
		.numInputWrapper .numInput {
			font-weight: var(--font-semi-bold);
		}

		.flatpickr-time-separator {
			color: get-text-color('neutral-7');
			line-height: var(--space-xl);
		}
	}

	// AM/PM selector
	.flatpickr-am-pm {
		background-color: get-background-color('neutral-7');
		border-radius: var(--border-radius-rounded);
		height: var(--space-m);
		line-height: var(--space-m);
		position: absolute;
		right: var(--space-xs);
		text-transform: uppercase;
		width: var(--space-xl);

		&:hover,
		&:focus {
			background-color: get-background-color('neutral-8');
		}
	}
}
