// TimePicker
.osui-timepicker__dropdown {
	.numInputWrapper {
		span {
			&.arrowUp:after {
				border-bottom-color: var(--color-neutral-8);
			}
			&.arrowDown:after {
				border-top-color: var(--color-neutral-8);
			}
		}

		.numInput {
			color: var(--text-color-neutral-9);
		}
	}

	.flatpickr-time {
		.flatpickr-time-separator,
		.numInputWrapper .numInput {
			font-weight: var(--font-semi-bold);
		}

		.flatpickr-time-separator {
			color: var(--text-color-neutral-7);
			line-height: var(--space-xl);
		}
	}

	// AM/PM selector
	.flatpickr-am-pm {
		background-color: var(--color-neutral-7);
		border-radius: var(--border-radius-rounded);
		height: var(--space-m);
		line-height: var(--space-m);
		position: absolute;
		right: var(--space-xs);
		text-transform: uppercase;
		width: var(--space-xl);

		&:hover,
		&:focus {
			background-color: var(--color-neutral-8);
		}
	}
}
