////
/// @group Accordion
/// Patterns - Content - Accordion

/*! Patterns - Content - Accordion */

///
[data-block*='AccordionItem'] {
	&:first-child .section-expandable {
		border-radius: var(--border-radius-soft) var(--border-radius-soft) var(--border-radius-none)
			var(--border-radius-none);
	}

	&:last-child .section-expandable {
		border-bottom-width: var(--border-size-s);
		border-radius: var(--border-radius-none) var(--border-radius-none) var(--border-radius-soft)
			var(--border-radius-soft);
	}
}

///
.section-expandable {
	background-color: var(--color-neutral-0);
	border: var(--border-size-s) solid var(--color-neutral-4);
	border-bottom-width: var(--border-size-none);

	&.is--open {
		border-top: var(--border-size-m) solid var(--color-primary);
	}

	& .section-expandable-title {
		align-items: flex-start;
		-webkit-box-align: start;
		cursor: pointer;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: start;
		font-size: var(--font-size-h6);
		line-height: 1;
		padding: var(--space-m);
		width: 100%;
	}

	&.is--open {
		& .section-expandable-title {
			font-weight: var(--font-semi-bold);
		}

		& > .section-expandable-title > .section-expandable-icon {
			-webkit-transform: rotate(180deg);
			transform: rotate(180deg);
		}
	}

	&.is--disabled {
		-servicestudio-color: var(--color-neutral-9);
		color: var(--color-neutral-7);
		-servicestudio-pointer-events: auto;
		pointer-events: none;

		& .section-expandable-icon {
			color: var(--color-neutral-6);
		}
	}

	& .section-expandable-icon {
		color: var(--color-primary);
		font-family: FontAwesome;
		font-size: 24px;
		font-weight: 400;
		-webkit-transition: all 300ms ease-in-out;
		transition: all 300ms ease-in-out;

		&:after {
			content: '\f107';
		}
	}

	& .section-expandable-content {
		display: block;
		overflow: hidden;

		&,
		&.is--collapsed {
			-servicestudio-height: auto;
			height: 0;
			-servicestudio-padding: var(--space-none) var(--space-m) var(--space-m);
			padding: var(--space-none) var(--space-m);
			visibility: hidden;
		}

		&.is--expanded {
			height: auto;
			padding: var(--space-none) var(--space-m) var(--space-m);
			visibility: visible;
		}

		&.is--animating {
			-webkit-transition: all 300ms ease-in-out;
			transition: all 300ms ease-in-out;
		}

		&.no-padding {
			padding: var(--space-none);
		}

		/* Add a margin-top when animated label is the first child */
		& [data-block*='AnimatedLabel']:first-child .animated-label {
			margin-top: var(--space-s);
		}
	}

	& .choices__list.choices__list--dropdown,
	& [data-dropdown] > div.dropdown-list {
		position: initial;
	}
}

///
.tablet {
	& .section-expandable .section-expandable-title {
		font-size: calc(var(--font-size-h6) - 1px);
	}
}

///
.phone {
	& .section-expandable .section-expandable-title {
		font-size: calc(var(--font-size-h6) - 2px);
	}
}

///
.layout-native {
	& .section-expandable {
		& .section-expandable-title {
			padding: var(--space-base);
		}

		& .section-expandable-content {
			padding: var(--space-none) var(--space-base);

			&.is--collapsed {
				padding: var(--space-none) var(--space-base);
			}

			&.is--expanded {
				padding: var(--space-none) var(--space-base) var(--space-base);
			}

			&.no-padding {
				padding: var(--space-none);
			}
		}
	}
}

// Accessibility -------------------------------------------------------------------------
///
.has-accessible-features {
	& .section-expandable {
		& .section-expandable-title:focus,
		& .section-expandable-content:focus {
			box-shadow: none;
			outline: 3px solid var(--color-focus-outer);
		}
	}
}
