/* Patterns - Content - Alert */
////
/// @group Patterns-Alert
/// Patterns - Content - Alert

///
.alert {
	align-items: center;
	border-radius: var(--border-radius-soft);
	color: var(--text-color-neutral-0);
	display: flex;
	padding: var(--space-base);

	.alert-icon {
		align-self: flex-start;
		display: inline-flex;
		font-size: 24px;
		margin-right: var(--space-base);
	}

	.fa-fw {
		width: auto;
	}

	.alert-message {
		flex: 1;
	}

	&-info {
		background-color: var(--color-info);
	}

	&-success {
		background-color: var(--color-success);
	}

	&-error {
		background-color: var(--color-error);
	}

	&-warning {
		background-color: var(--color-warning);
		color: var(--text-color-neutral-10);
	}
}

// RTL -------------------------------------------------------------------------
///
.is-rtl {
	.alert-icon {
		margin-left: var(--space-base);
		margin-right: 0;
	}
}
