/* Patterns - Content - Alert */
////
/// @group Patterns-Alert
/// Patterns - Content - Alert

///
.alert {
	// ─── Component CSS API ─────────────────────────────────────────────
	--osui-alert-background:    transparent;
	--osui-alert-color:         #{$token-text-inverse};
	--osui-alert-border-radius: #{$token-border-radius-100};
	--osui-alert-padding:       #{$token-scale-400};
	// ───────────────────────────────────────────────────────────────────

	align-items: center;
	background-color: var(--osui-alert-background);
	border-radius: var(--osui-alert-border-radius);
	color: var(--osui-alert-color);
	display: flex;
	padding: var(--osui-alert-padding);

	.alert-icon {
		align-self: flex-start;
		display: inline-flex;
		font-size: 24px;
		margin-right: $token-scale-400;
	}

	.fa-fw {
		width: auto;
	}

	.alert-message {
		flex: 1;
	}

	&-info {
		--osui-alert-background: #{$token-semantics-info-base};
	}

	&-success {
		--osui-alert-background: #{$token-semantics-success-base};
	}

	&-error {
		--osui-alert-background: #{$token-semantics-danger-base};
	}

	&-warning {
		--osui-alert-background: #{$token-semantics-warning-base};
		--osui-alert-color:      #{$token-text-default};
	}
}

// RTL -------------------------------------------------------------------------
///
.is-rtl {
	.alert-icon {
		margin-left: $token-scale-400;
		margin-right: 0;
	}
}
