/* Patterns - Content - Blank Slate */
////
/// @group Patterns-Blank_Slate
/// Patterns - Content - Blank Slate

///
.blank-slate {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;

	&.large {
		height: 100%;

		& .blank-slate-icon {
			font-size: 120px;
		}

		& .blank-slate-actions {
			padding: var(--space-xxl) var(--space-base);
		}
	}

	&-description {
		color: get-text-color('neutral-9');
		padding: var(--space-none) var(--space-base);
	}

	&-actions {
		padding: var(--space-base);
	}

	&-icon {
		color: get-text-color('neutral-6');
		font-size: 70px;
	}
}
