/* Patterns - Content - Blank Slate */
////
/// @group Patterns-Blank_Slate
/// Patterns - Content - Blank Slate

///
.blank-slate {
	// ─── Component CSS API ─────────────────────────────────────────────
	--osui-blank-slate-description-color: #{$token-text-default};
	--osui-blank-slate-icon-color:        #{$token-text-disabled};
	// ───────────────────────────────────────────────────────────────────

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;

	&.large {
		height: 100%;

		& .blank-slate-icon {
			font-size: 120px;
		}

		& .blank-slate-actions {
			padding: $token-scale-1200 $token-scale-400;
		}
	}

	&-description {
		color: var(--osui-blank-slate-description-color);
		padding: $token-scale-0 $token-scale-400;
	}

	&-actions {
		padding: $token-scale-400;
	}

	&-icon {
		color: var(--osui-blank-slate-icon-color);
		font-size: 70px;
	}
}
