/* Patterns - Content - Card Sectioned */
////
/// @group Patterns-Card_Sectioned
/// Patterns - Content - Card Sectioned

///
.card {
	&-sectioned {
		display: flex;
		justify-content: space-between;
		padding: $token-scale-0;

		&-top {
			display: flex;
			flex: 1;
		}

		&.flex-direction-row {
			.card {
				&-image {
					padding: $token-scale-600 $token-scale-0 $token-scale-600 $token-scale-600;

					&.padding-none {
						padding: $token-scale-0;
					}
				}

				&-sectioned-right .card-image {
					order: 2;
					padding: $token-scale-600 $token-scale-600 $token-scale-600 $token-scale-0;

					&.padding-none {
						padding: $token-scale-0;
					}
				}
			}
		}
	}

	&-image {
		padding: $token-scale-600 $token-scale-600 $token-scale-0;

		& img {
			display: block;
			margin: 0 auto;
		}
	}

	&-title {
		font-size: $token-font-size-550;
		font-weight: $token-font-weight-semi-bold;
		padding: $token-scale-600 $token-scale-600 $token-scale-0 $token-scale-600;
	}

	&-content {
		flex: 1;
		padding: $token-scale-600;
	}

	&-bottom {
		padding: $token-scale-0 $token-scale-600 $token-scale-600;
	}
}

///
.layout-native {
	.card {
		&-sectioned {
			padding: 0;

			&.flex-direction-row .card-image {
				padding: $token-scale-400 $token-scale-0 $token-scale-400 $token-scale-400;

				&.padding-none {
					padding: $token-scale-0;
				}
			}
		}

		&-title {
			padding: $token-scale-400 $token-scale-400 $token-scale-0 $token-scale-400;
		}

		&-image {
			padding: $token-scale-400 $token-scale-400 $token-scale-0;

			&.padding-none {
				padding: $token-scale-0;
			}
		}

		&-content {
			padding: $token-scale-400;

			&.padding-none {
				padding: $token-scale-0;
			}
		}

		&-bottom {
			padding: $token-scale-0 $token-scale-400 $token-scale-400;
		}
	}
}

// Responsive -------------------------------------------------------------------------
///
.tablet {
	.card-title {
		font-size: calc($token-font-size-550 - 1px);
	}
}

.phone {
	.card-title {
		font-size: calc($token-font-size-550 - 2px);
	}
}
