/* Patterns - Content - Card Sectioned */
////
/// @group Patterns-Card_Sectioned
/// Patterns - Content - Card Sectioned

///
.card {
	&-sectioned {
		display: flex;
		justify-content: space-between;
		padding: var(--token-scale-0);

		&-top {
			display: flex;
			flex: 1;
		}

		&.flex-direction-row {
			.card {
				&-image {
					padding: var(--token-scale-600) var(--token-scale-0) var(--token-scale-600) var(--token-scale-600);

					&.padding-none {
						padding: var(--token-scale-0);
					}
				}

				&-sectioned-right .card-image {
					order: 2;
					padding: var(--token-scale-600) var(--token-scale-600) var(--token-scale-600) var(--token-scale-0);

					&.padding-none {
						padding: var(--token-scale-0);
					}
				}
			}
		}
	}

	&-image {
		padding: var(--token-scale-600) var(--token-scale-600) var(--token-scale-0);

		& img {
			display: block;
			margin: 0 auto;
		}
	}

	&-title {
		font-size: var(--token-font-size-550);
		font-weight: var(--token-font-weight-semi-bold);
		padding: var(--token-scale-600) var(--token-scale-600) var(--token-scale-0) var(--token-scale-600);
	}

	&-content {
		flex: 1;
		padding: var(--token-scale-600);
	}

	&-bottom {
		padding: var(--token-scale-0) var(--token-scale-600) var(--token-scale-600);
	}
}

///
.layout-native {
	.card {
		&-sectioned {
			padding: 0;

			&.flex-direction-row .card-image {
				padding: var(--token-scale-400) var(--token-scale-0) var(--token-scale-400) var(--token-scale-400);

				&.padding-none {
					padding: var(--token-scale-0);
				}
			}
		}

		&-title {
			padding: var(--token-scale-400) var(--token-scale-400) var(--token-scale-0) var(--token-scale-400);
		}

		&-image {
			padding: var(--token-scale-400) var(--token-scale-400) var(--token-scale-0);

			&.padding-none {
				padding: var(--token-scale-0);
			}
		}

		&-content {
			padding: var(--token-scale-400);

			&.padding-none {
				padding: var(--token-scale-0);
			}
		}

		&-bottom {
			padding: var(--token-scale-0) var(--token-scale-400) var(--token-scale-400);
		}
	}
}

// Responsive -------------------------------------------------------------------------
///
.tablet {
	.card-title {
		font-size: calc(var(--token-font-size-550) - 1px);
	}
}

.phone {
	.card-title {
		font-size: calc(var(--token-font-size-550) - 2px);
	}
}
