/* Patterns - Content - CardItem */
////
/// @group Patterns-Card_Item
/// Patterns - Content - CardItem

///
.card-detail {
	align-items: center;
	display: flex;

	&-left {
		max-width: 120px;
		padding-right: var(--token-scale-400);
	}

	&-center {
		flex: 1;
	}

	&-right {
		padding-left: var(--token-scale-400);
	}

	&-title {
		color: var(--token-text-default);
		font-size: var(--token-font-size-500);
		font-weight: var(--token-font-weight-semi-bold);
	}

	&-text {
		color: var(--token-primitives-neutral-700);
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

// IsRTL -------------------------------------------------------------------------
///
.is-rtl {
	.card-detail {
		&-left {
			padding-left: var(--token-scale-400);
			padding-right: 0;
		}

		&-right {
			padding-left: 0;
			padding-right: var(--token-scale-400);
		}
	}
}
