/* Patterns - Content - CardItem */
////
/// @group Patterns-Card_Item
/// Patterns - Content - CardItem

///
.card-detail {
	align-items: center;
	display: flex;

	&-left {
		max-width: 120px;
		padding-right: var(--space-base);
	}

	&-center {
		flex: 1;
	}

	&-right {
		padding-left: var(--space-base);
	}

	&-title {
		color: var(--text-color-neutral-10);
		font-size: var(--font-size-h5);
		font-weight: var(--font-semi-bold);
	}

	&-text {
		color: var(--text-color-neutral-7);
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

// IsRTL -------------------------------------------------------------------------
///
.is-rtl {
	.card-detail {
		&-left {
			padding-left: var(--space-base);
			padding-right: 0;
		}

		&-right {
			padding-left: 0;
			padding-right: var(--space-base);
		}
	}
}
