@use '../../tokens/variables';

/* Patterns - Content - Card */
////
/// @group Patterns-Card
/// Patterns - Content - Card Styles

///
.card {
	// ─── Component CSS API ─────────────────────────────────────────────
	--osui-card-background: var(--color-background-surface);
	--osui-card-border-color: #{variables.$token-border-subtle};
	--osui-card-border-width: #{variables.$token-border-size-025};
	--osui-card-border-radius: var(--border-radius-softer);
	--osui-card-padding: #{variables.$token-scale-600};
	--osui-card-shadow: none;
	// ───────────────────────────────────────────────────────────────────

	background-color: var(--osui-card-background);
	border: var(--osui-card-border-width) solid var(--osui-card-border-color);
	border-radius: var(--osui-card-border-radius);
	box-shadow: var(--osui-card-shadow);
	overflow: hidden;
	padding: var(--osui-card-padding);
}

// Layout -------------------------------------------------------------------------
///
.layout-native {
	& .card {
		padding: variables.$token-scale-400;
	}
}
