/* Patterns - Content - Card */
////
/// @group Patterns-Card
/// Patterns - Content - Card Styles

///
.card {
	background-color: get-background-color('neutral-0');
	border: var(--border-size-s) solid get-border-color('neutral-4');
	border-radius: var(--border-radius-soft);
	padding: var(--space-m);
}

// Layout -------------------------------------------------------------------------
///
.layout-native {
	& .card {
		padding: var(--space-base);
	}
}
