@use "../../tokens/variables";

/* Patterns - Content - Chat Message */
////
/// @group Patterns-Chat_Message
/// Patterns - Content - Chat Message

///
.chat {
	// ─── Component CSS API ─────────────────────────────────────────────
	--osui-chat-message-background:      #{variables.$token-bg-neutral-subtle-default};
	--osui-chat-message-border-radius:   #{variables.$token-border-radius-200};
	--osui-chat-message-sent-background: var(--color-primary);
	--osui-chat-message-sent-color:      var(--color-text-inverse);
	// ───────────────────────────────────────────────────────────────────

	display: flex;

	&.right {
		flex-direction: row-reverse;

		.chat {
			&-photo {
				margin-left: variables.$token-scale-400;
				margin-right: variables.$token-scale-0;
			}

			&-message {
				background-color: var(--osui-chat-message-sent-background);
				color: var(--osui-chat-message-sent-color);
				text-align: right;
			}
		}
	}

	&-photo {
		margin-right: variables.$token-scale-400;

		img {
			border-radius: var(--border-radius-rounded);
			height: variables.$token-scale-1000;
			object-fit: cover;
			width: variables.$token-scale-1000;
		}
	}

	&-message {
		background-color: var(--osui-chat-message-background);
		border-radius: var(--osui-chat-message-border-radius);
		display: flex;
		flex-direction: column;
		max-width: 600px;
		padding: variables.$token-scale-400;
		position: relative;
		word-break: break-word;

		&-status {
			display: block;
			font-size: variables.$token-font-size-300;
			margin-top: variables.$token-scale-200;

			&.hidden {
				display: none;
			}
		}
	}
}

// IsRTL --------------------------------------------------------------------
///
.is-rtl {
	.chat {
		&.right {
			.chat {
				&-photo {
					margin-left: variables.$token-scale-0;
					margin-right: variables.$token-scale-400;
				}
			}
		}

		&-photo {
			margin-left: variables.$token-scale-400;
			margin-right: 0;
		}
	}
}
