////*! Patterns - Content - FlipContent */
////
/// @group Patterns-FlipContent
/// Patterns - Content - FlipContent Styles

///
.flip-content {
	perspective: 1000;
	position: relative;

	// Service Studio preview
	& {
		-servicestudio--webkit-perspective: initial;
		-servicestudio-perspective: initial;
	}

	&.flipped {
		.flip-content {
			&-front {
				position: absolute;
			}

			&-back {
				position: relative;
				transform: rotateY(90deg);
			}

			&-container {
				transform: rotateY(-90deg);
			}
		}
	}

	&-container {
		position: relative;
		transform-style: preserve-3d;
		transition: all 630ms cubic-bezier(0.03, 0.01, 0.67, 1.97);

		// Service Studio preview
		& {
			-servicestudio--webkit-transform-style: initial;
			-servicestudio-transform-style: initial;
		}
	}

	&-front,
	&-back {
		backface-visibility: hidden;
		left: 0;
		top: 0;

		&:empty {
			// Service Studio preview
			& {
				-servicestudio-min-height: 80px;
			}
		}
	}

	&-front {
		position: relative;
		z-index: 2;
	}

	&-back {
		position: absolute;
		width: 100%;

		// Service Studio preview
		& {
			-servicestudio-position: static;
		}
	}
}
