/* Patterns - Content - List Item Content */
////
/// @group Patterns-List_Item_Content
/// Patterns - Content - List Item Content

///
.list-item-content {
	// ─── Component CSS API ─────────────────────────────────────────────
	--osui-list-item-content-title-color: #{$token-text-default};
	--osui-list-item-content-text-color:  #{$token-primitives-neutral-700};
	// ───────────────────────────────────────────────────────────────────

	align-items: center;
	display: flex;

	&-left {
		max-width: 120px;
		padding-right: $token-scale-600;
	}

	&-center {
		flex: 1;
		overflow: hidden;
	}

	&-right {
		padding-left: $token-scale-600;
	}

	&-title,
	&-text {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	&-title {
		color: var(--osui-list-item-content-title-color);
		font-size: $token-font-size-500;
		font-weight: $token-font-weight-semi-bold;
	}

	&-text {
		color: var(--osui-list-item-content-text-color);
	}
}

///
.layout-native {
	.list-item-content {
		&-left {
			padding-right: $token-scale-400;
		}

		&-right {
			padding-left: $token-scale-400;
		}
	}
}

// Responsive --------------------------------------------------------------------
///
.tablet {
	.list-item-content-title {
		font-size: calc($token-font-size-500 - 1px);
	}
}

///
.phone {
	.list-item-content-title {
		font-size: calc($token-font-size-500 - 2px);
	}
}

// IsRTL -------------------------------------------------------------------------
///
.is-rtl {
	.list-item-content {
		&-left {
			padding-left: $token-scale-600;
			padding-right: 0;
		}

		&-right {
			padding-left: 0;
			padding-right: $token-scale-600;
		}
	}

	.layout-native {
		.list-item-content {
			&-left {
				padding-left: $token-scale-400;
				padding-right: 0;
			}

			&-right {
				padding-left: 0;
				padding-right: $token-scale-400;
			}
		}
	}

	[data-list-item] {
		.list-item-float {
			&-left {
				float: right;
			}

			&-right {
				float: left;
			}
		}
	}
}
