/* Patterns - Content - Section */
////
/// @group Patterns-Section
/// Patterns - Content - Section

///
.section {
	&-title {
		background-color: transparent;
		border-bottom: var(--token-border-size-025) solid var(--token-border-default);
		color: var(--token-text-default);
		font-size: var(--token-font-size-700);
		font-weight: var(--token-font-weight-semi-bold);
		padding: var(--token-scale-0) var(--token-scale-0) var(--token-scale-200) var(--token-scale-0);
		position: relative;
		text-transform: none;
		width: 100%;
	}

	&-content {
		padding: var(--token-scale-200) var(--token-scale-0) var(--token-scale-0);
	}

	&-group {
		&.is--sticky {
			.section-title {
				position: -webkit-sticky; //Fix for older iPhones
				position: sticky;
				top: calc(var(--section-top-position) + var(--os-safe-area-top));
				z-index: calc(var(--layer-below) + var(--layer-global-navigation));
			}
		}

		.section-title {
			background-color: var(--background-color-body, var(--color-background-body));
		}
	}
}

///
.layout-native {
	.section {
		&-title {
			padding: var(--token-scale-200) var(--token-scale-400) var(--token-scale-200) var(--token-scale-400);
		}

		&-content {
			padding: 0;
		}
	}
}

// Responsive --------------------------------------------------------------------
///
.android {
	.section-group {
		&.is--sticky {
			.section-title {
				top: calc(var(--section-top-position) + #{android-safe-area-top()});
			}
		}
	}
}

///
.ios {
	.section-group {
		&.is--sticky {
			.section-title {
				top: 0;
			}
		}
	}
}

///
.ios {
	.layout-native {
		.section-group {
			.sticky {
				position: static;
			}
		}
	}
}

///
.tablet {
	.section-title {
		font-size: calc(var(--token-font-size-700) - 2px);
	}
}

///
.phone {
	.section-title {
		font-size: calc(var(--token-font-size-700) - 4px);
	}
}
