/* Patterns - Content - Tag */
////
/// @group Patterns-Tag
/// Patterns - Content - Tag

///
.tag {
	// ─── Component CSS API ─────────────────────────────────────────────
	--osui-tag-color:             #{$token-text-inverse};
	--osui-tag-primary-color:     #{$token-semantics-primary-base};
	--osui-tag-on-light-color:    #{$token-text-default};
	// ───────────────────────────────────────────────────────────────────

	align-items: center;
	color: var(--osui-tag-color);
	display: inline-flex;
	font-weight: $token-font-weight-semi-bold;
	height: 32px;
	justify-content: center;
	line-height: 1;
	min-width: 32px;
	padding: $token-scale-0 $token-scale-400;
	word-break: normal;

	&.tag {
		&-small {
			font-size: $token-font-size-300;
			height: 24px;
			padding: $token-scale-0 $token-scale-200;
		}

		&-medium {
			font-size: $token-font-size-400;
			height: 40px;
			padding: $token-scale-0 $token-scale-600;
		}
	}

	&.background {
		&-transparent {
			color: var(--osui-tag-primary-color);
		}

		&-neutral {
			&-0 {
				color: var(--osui-tag-primary-color);
			}

			&-1,
			&-2,
			&-3,
			&-4 {
				color: var(--osui-tag-on-light-color);
			}
		}
	}
}
