/* Patterns - Content - User Avatar */
////
/// @group Patterns-User_Avatar
/// Patterns - Content - User Avatar

///
.avatar {
	align-items: center;
	color: var(--token-text-inverse);
	display: inline-flex;
	font-weight: var(--token-font-weight-semi-bold);
	height: 32px;
	justify-content: center;
	line-height: 1;
	text-transform: uppercase;
	width: 32px;

	&.background {
		&-transparent {
			color: var(--token-semantics-primary-base);
		}

		&-neutral {
			&-0 {
				color: var(--token-semantics-primary-base);
			}

			&-1,
			&-2,
			&-3,
			&-4 {
				color: var(--token-text-default);
			}
		}
	}

	&-small {
		font-size: var(--token-font-size-300);
		height: 24px;
		width: 24px;
	}

	&-medium {
		font-size: var(--token-font-size-400);
		height: 40px;
		width: 40px;
	}

	span {
		width: auto;
	}
}
