/*! Patterns - Content - Carousel */
////
/// @group Patterns-Carousel
/// Patterns - Content - Carousel

///
.osui-carousel {
	&.has-scale {
		.splide__slide {
			transform: scale(0.8);
			transition: transform 300ms ease;

			&.is-active {
				transform: scale(1);
			}
		}
	}
}
