/*! Patterns - Interaction - Carousel */
////
/// @group Patterns-Carousel
/// Patterns - Interaction - Carousel

/* Splide Library Core Default Styles */
@import '../../../../Providers/Carousel/Splide/scss/splide-core.scss';

/* OutSystems UI Carousel customization */
///
.osui-carousel {
	.splide__arrow {
		background-color: var(--color-neutral-0);
		box-shadow: var(--shadow-xs);
		height: 40px;
		opacity: 1;
		transition: opacity 150ms linear;
		width: 40px;
		will-change: opacity;

		&[disabled] {
			cursor: default;
			opacity: 0.3;
		}

		svg {
			height: 14px;
			width: 14px;

			path {
				fill: var(--color-neutral-7);
			}
		}

		/* Service Studio Preview*/
		& {
			-servicestudio-transform: translateY(calc(-50% + 20px));
		}
	}

	.splide__pagination {
		margin: 0;

		.splide__pagination__page {
			&.is-active {
				background-color: var(--color-primary);
			}
		}
	}

	.splide__list {
		/* To avoid flickering with multiple items and gap 0*/
		transform-style: flat;
	}

	&__content {
		& > .list {
			overflow: unset;

			// Service Studio Preview
			& {
				-servicestudio-display: inline-flex;
			}
		}
	}

	&__track {
		-servicestudio-position: relative;
	}

	.splide--draggable,
	&.splide--draggable {
		cursor: grab;
	}
}

///
.has-accessible-features {
	.splide__slide {
		box-shadow: none;
	}
}
