//@import './../../../../../../node_modules\@splidejs\splide\src\sass\core\splide-core.scss';

/*! Patterns - Content - Carousel */
////
/// @group Patterns-Carousel
/// Patterns - Content - Carousel

///
.osui-carousel {
	&.has-scale {
		.splide__slide {
			& > * {
				transform: scale(0.8);
				transition: transform 300ms ease;
			}

			&.is-active > * {
				transform: scale(1);
			}
		}
	}

	.splide__arrow {
		background-color: var(--color-neutral-0);
		box-shadow: var(--shadow-xs);
		height: 40px;
		opacity: 1;
		transition: opacity 150ms linear;
		width: 40px;
		will-change: opacity;

		&[disabled] {
			opacity: 0.3;
		}

		svg {
			height: 14px;
			width: 14px;

			path {
				fill: var(--color-neutral-7);
			}
		}
	}

	.splide__pagination {
		background-color: var(--color-neutral-0);
		border-radius: 100px;
		box-shadow: var(--shadow-xs);
		padding: var(--space-xs) var(--space-s);
		width: auto;

		.splide__pagination__page {
			&.is-active {
				background-color: var(--color-primary);
			}
		}
	}
}
