/*! Patterns - Content - ProgressBar */
////
/// @group Patterns-ProgressBar
/// Patterns - Numbers - Progress Bar

///
.osui-progress {
	&-bar {
		min-height: var(--thickness);
		position: relative;
	}

	&-container {
		min-height: var(--thickness);
		position: relative;

		&.animate-entrance .osui-progress-value:before {
			transition-delay: 0.5s;
			transition-duration: 0.35s;
		}
	}

	&-value {
		height: var(--thickness);
		left: 0;
		position: absolute;
		right: 0;

		&:after,
		&:before {
			border-radius: var(--shape);
			content: '';
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
		}

		&:after {
			background: var(--trail-color);
			width: 100%;
		}

		&:before {
			background: var(--progress-color);
			width: var(--progress-value);
			z-index: 1;
		}
	}

	&-content {
		left: 0;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
		z-index: 2;
	}
}

// IsRTL -------------------------------------------------------------------------
///
.is-rtl {
	.osui-progress-value:before {
		left: inherit;
		right: 0;
	}
}
