/* Widgets - Button */
////
/// @group Widgets-Button
/// Widgets - Button

///
.btn {
	align-items: center;
	background-color: var(--token-primitives-base-white);
	border: var(--token-border-size-025) solid currentColor;
	border-radius: var(--token-border-radius-100);
	color: var(--token-semantics-primary-base);
	cursor: pointer;
	display: inline-flex;
	filter: brightness(1);
	font-weight: var(--token-font-weight-semi-bold);
	height: 40px;
	justify-content: center;
	line-height: 1;
	margin: 0;
	padding: var(--token-scale-0) var(--token-scale-400);

	transition: all 100ms linear;

	&:hover:active {
		filter: brightness(0.8);
	}

	&[class*='background-'] {
		border: var(--token-border-size-025) solid transparent;
		color: var(--token-primitives-base-white);
	}

	&[class*='text-'] {
		background-color: var(--token-primitives-base-white);
		border: var(--token-border-size-025) solid currentColor;
	}

	& + .btn {
		margin-left: var(--token-scale-600);
	}

	// States
	&-primary {
		background-color: var(--token-semantics-primary-base);
		border: var(--token-border-size-025) solid var(--token-semantics-primary-base);
		color: var(--token-primitives-base-white);
	}

	&-small {
		font-size: var(--token-font-size-300);
		height: 32px;
		padding: var(--token-scale-0) var(--token-scale-200);
	}

	&-large {
		font-size: var(--token-font-size-400);
		height: 48px;
	}

	&-cancel {
		background-color: var(--token-primitives-base-white);
		border: var(--token-border-size-025) solid var(--token-primitives-neutral-800);
		color: var(--token-primitives-neutral-700);
	}

	&-success {
		background-color: var(--color-success);
		border: var(--token-border-size-025) solid var(--color-success);
		color: var(--token-primitives-base-white);
	}

	&-error {
		background-color: var(--color-error);
		border: var(--token-border-size-025) solid var(--token-semantics-danger-base);
		color: var(--token-primitives-base-white);
	}

	&[disabled] {
		background-color: var(--token-primitives-neutral-200);
		border: var(--token-border-size-025) solid var(--token-primitives-neutral-400);
		color: var(--token-primitives-neutral-600);
		pointer-events: none;
	}
}

// Responsive --------------------------------------------------------------------

///
.desktop {
	.btn {
		&:hover {
			filter: brightness(0.9);
		}
	}
}

///
.tablet,
.phone {
	.btn {
		font-size: var(--token-font-size-400);
		height: 48px;

		&-small {
			font-size: var(--token-font-size-350);
			height: 40px;
		}

		&-large {
			height: 56px;
		}
	}
}

///
.phone {
	.layout:not(.layout-native) {
		.btn {
			display: inline-flex;
			margin-left: 0;
			width: 100%;

			& + .btn {
				margin-top: var(--token-scale-400);
			}
		}

		.flex-direction-column-reverse {
			& + .btn {
				margin-bottom: var(--token-scale-400);
				margin-top: var(--token-scale-0);
			}
		}
	}
}

// Accessibility -----------------------------------------------------------------
///
.has-accessible-features {
	& .btn:focus {
		border-color: var(--color-focus-inner);
	}
}

// Layout Native Context ---------------------------------------------------------
///
.layout-native {
	.header-right {
		.btn {
			background-color: transparent;
			border: 0;
			color: var(--token-semantics-primary-base);
			font-size: var(--token-font-size-400);
			padding: 0;
		}
	}

	.footer {
		> .btn {
			border-radius: 0;
			height: 100%;
			padding-bottom: var(--os-safe-area-bottom);
		}
	}

	.bottom-bar {
		.btn {
			padding-bottom: var(--token-scale-0);
		}
	}
}
