/* Widgets - Checkbox */
////
/// @group Widgets-Checkbox
/// Widgets - Checkbox

///
[data-checkbox] {
	// ─── Component CSS API ─────────────────────────────────────────────
	--osui-checkbox-background:     #{$token-bg-input-default};
	--osui-checkbox-border-color:   #{$token-border-input-default};
	--osui-checkbox-border-radius:  #{$token-border-radius-100};
	--osui-checkbox-checked-color:  #{$token-semantics-primary-base};
	// ───────────────────────────────────────────────────────────────────

	height: 24px;
	padding: $token-scale-0;
	width: 24px;

	&:before {
		background: var(--osui-checkbox-background);
		border: $token-border-size-025 solid var(--osui-checkbox-border-color);
		border-radius: var(--osui-checkbox-border-radius);
		height: 22px;
		opacity: 1;
		transition: all 180ms linear;
		width: 22px;
	}

	&:hover {
		&:before {
			border: $token-border-size-025 solid $token-border-input-default;
		}
	}

	&:checked {
		&:before {
			background: var(--osui-checkbox-checked-color);
			border: $token-border-size-025 solid var(--osui-checkbox-checked-color);
		}

		&:after {
			border: $token-border-size-075 solid $token-text-inverse;
			border-right: $token-border-size-0 !important;
			border-top: $token-border-size-0 !important;
			display: block;
			height: 4px;
			left: 5px;
			top: 7px;
			width: 12px;
		}
	}

	&[disabled] {
		pointer-events: none;

		&:before,
		&:checked:before {
			background-color: $token-bg-input-disabled;
			border: $token-border-size-025 solid $token-border-default;
		}

		&:checked {
			&:after {
				border: $token-border-size-075 solid $token-text-disabled;
			}
		}
	}
}

// Responsive --------------------------------------------------------------------
///
.tablet,
.phone {
	[data-checkbox] {
		height: 32px;
		width: 32px;

		&:before {
			height: 30px;
			width: 30px;
		}

		&:checked {
			&:after {
				left: 9px;
				top: 11px;
			}
		}
	}
}

// Accessibility -----------------------------------------------------------------
///
.has-accessible-features {
	[data-checkbox] {
		border-radius: $token-border-radius-100;

		&:before {
			border-color: $token-border-input-default;
		}

		&:hover {
			&:before {
				border-color: $token-border-input-press;
			}
		}

		&:checked {
			&:before {
				border-color: var(--osui-checkbox-checked-color);
			}
		}

		&:focus {
			&:before {
				border-color: var(--color-focus-inner);
			}
		}
	}
}
