/*! Widgets - Dropdown */
////
/// @group Widgets-Dropdown
/// Default Dropdown styles

/* 
	Note:
		- This are Override Styles from OutSystemsReactWidgets theme!
*/

///
[data-dropdown] {
	cursor: initial;
	position: relative;

	&.dropdown-container:after {
		border: var(--border-size-m) solid var(--color-neutral-7);
		border-right-width: var(--border-size-none);
		border-top-width: var(--border-size-none);
		bottom: 0;
		box-sizing: border-box;
		content: '';
		height: 8px;
		left: auto;
		pointer-events: none;
		position: absolute;
		right: 16px;
		top: 15px;
		transform: rotate(-45deg) translateY(0) translateX(0);
		transition: all 300ms ease-in-out;
		width: 8px;
	}

	& > div,
	& > select {
		&.dropdown {
			&-display {
				align-items: center;
				background-color: var(--color-neutral-0);
				border: var(--border-size-s) solid var(--color-neutral-5);
				border-radius: var(--border-radius-soft);
				color: var(--color-neutral-9);
				cursor: pointer;
				display: flex;
				font-size: var(--font-size-s);
				height: 40px;
				padding: var(--space-none) var(--space-base);
				width: 100%;

				&:hover {
					border: var(--border-size-s) solid var(--color-neutral-6);
				}
			}

			&-disabled {
				background-color: var(--color-neutral-2);
				border: var(--border-size-s) solid var(--color-neutral-4);
				color: var(--color-neutral-6);
				pointer-events: none;
			}
		}
	}

	& > div.dropdown-display {
		&:after {
			content: none;
		}

		&.dropdown-display-content {
			& > span,
			& > div {
				font-size: var(--font-size-s);
			}
		}
	}

	& > select {
		&[disabled] {
			background-color: var(--color-neutral-2);
			border: var(--border-size-s) solid var(--color-neutral-4);
			color: var(--color-neutral-6);
			opacity: 1;
			pointer-events: none;
		}
	}

	// Is expanded
	&.dropdown-expanded {
		&.dropdown {
			&-container:after {
				border-color: var(--color-primary);
				transform: rotate(135deg) translateY(-3px) translateX(3px);
			}

			// Is expanded Down
			&-expanded-down {
				& div.dropdown-list {
					margin-top: var(--space-xs);
					top: 100% !important;
				}
			}

			// Is expanded Up
			&-expanded-up {
				& div.dropdown-list {
					bottom: 100% !important;
					margin-bottom: var(--space-xs);
					top: auto !important;
				}
			}
		}

		& > div.dropdown-display {
			border: var(--border-size-s) solid var(--color-primary);
		}
	}

	// List Options
	& > div.dropdown-list {
		border: var(--border-size-s) solid var(--color-neutral-4);
		border-radius: var(--border-radius-soft);
		box-shadow: none;
		left: 0 !important;
		max-height: 300px;
		overflow-y: auto;
		position: absolute;
		width: 100% !important;

		.scrollable-list-with-scroll {
			background: none;
			max-height: 100%;
			overflow-y: hidden;
			padding: var(--space-s) var(--space-none);

			&:before,
			&:after {
				content: none;
			}
		}

		.dropdown-popup-row {
			align-items: center;
			color: var(--color-neutral-9);
			display: flex;
			height: 40px;
			padding: var(--space-none) var(--space-base);

			&:hover,
			&.dropdown-popup-row-selected:hover {
				background: var(--color-neutral-2);
			}

			&.dropdown-popup-row-selected {
				background-color: var(--color-neutral-2);
				color: var(--color-neutral-9);
			}

			span {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}
	}

	// Is not valid
	&.not-valid {
		&.dropdown-expanded {
			& > div.dropdown-display {
				border: var(--border-size-s) solid var(--color-error);
			}

			&.dropdown-container:after {
				border: var(--border-size-m) solid var(--color-neutral-7);
				border-right-width: var(--border-size-none);
				border-top-width: var(--border-size-none);
				transform: rotate(-45deg) translateY(0) translateX(0);
			}
		}

		& > select.dropdown-display {
			border: var(--border-size-s) solid var(--color-error);
		}
	}
}

// Responsive --------------------------------------------------------------------
.tablet,
.phone {
	.dropdown-container {
		&:after {
			top: 20px;
		}
	}

	div.dropdown-display,
	select.dropdown-display {
		font-size: var(--font-size-base);
		height: 48px;
	}
}

// IsRTL -------------------------------------------------------------------------
///
.is-rtl {
	.dropdown-container {
		&:after {
			left: 16px;
			right: auto;
		}
	}
}

// Accessibility -----------------------------------------------------------------
///
.has-accessible-features {
	[data-dropdown] {
		&.dropdown-expanded {
			& > div.dropdown-display {
				border-color: var(--color-focus-inner);
				box-shadow: 0 0 0 3px var(--color-focus-outer);
			}
		}

		& > div,
		& > select {
			&:hover {
				border-color: var(--color-neutral-8);
			}

			&.dropdown-display {
				border-color: var(--color-neutral-7);
			}
		}

		& > select.dropdown-display:focus {
			border-color: var(--color-focus-inner);
		}
	}
}
