/* Widgets - Dropdown */
////
/// @group Widgets-Dropdown
/// Widgets - Dropdown

.dropdown {
	&-container {
		cursor: initial;
		position: relative;

		& > .dropdown-display:after {
			content: none;
		}

		& > div,
		& > select {
			&.dropdown-display {
				align-items: center;
				background-color: get-background-color('neutral-0');
				border: var(--border-size-s) solid get-border-color('neutral-5');
				border-radius: var(--border-radius-soft);
				color: get-text-color('neutral-9');
				cursor: pointer;
				display: flex;
				font-size: var(--font-size-s);
				height: 40px;
				padding: var(--space-none) var(--space-base);
				width: 100%;

				&:hover {
					border: var(--border-size-s) solid get-border-color('neutral-6');
				}

				&:focus {
					border: var(--border-size-s) solid get-border-color('primary');
				}
			}
		}

		&.not-valid {
			&.dropdown-expanded > div.dropdown-display,
			& > select.dropdown-display {
				border: var(--border-size-s) solid get-border-color('error');
			}
		}

		&.dropdown-expanded > div.dropdown-display {
			border: var(--border-size-s) solid get-border-color('primary');
		}

		& > div.dropdown-list {
			border: var(--border-size-s) solid get-border-color('neutral-4');
			border-radius: var(--border-radius-soft);
			box-shadow: none;
			left: 0 !important;
			max-height: 300px;
			overflow-y: auto;
			position: absolute;
			width: 100% !important;
		}

		.dropdown-popup-row {
			align-items: center;
			color: get-text-color('neutral-9');
			display: flex;
			height: 40px;
			padding: var(--space-none) var(--space-base);

			&:hover,
			&-selected:hover {
				background: get-background-color('neutral-2');
			}

			&-selected {
				background-color: get-background-color('neutral-2');
				color: get-text-color('neutral-9');
			}

			span {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}

		.scrollable-list-with-scroll {
			background: none;
			max-height: 100%;
			overflow-y: hidden;
			padding: var(--space-s) var(--space-none);

			&:before,
			&:after {
				content: none;
			}
		}
	}

	// Is expanded
	&-expanded {
		&-down div.dropdown-list {
			margin-top: var(--space-xs);
			top: 100% !important;
		}

		&-up div.dropdown-list {
			bottom: 100% !important;
			margin-bottom: var(--space-xs);
			top: auto !important;
		}
	}
}

div,
select {
	&.dropdown-display {
		&.dropdown-disabled,
		&[disabled] {
			background-color: get-background-color('neutral-2');
			border: var(--border-size-s) solid get-border-color('neutral-4');
			color: get-text-color('neutral-6');
			pointer-events: none;
		}
	}
}

div {
	&.dropdown-display-content {
		width: 100%;

		& > span,
		& > div {
			font-size: var(--font-size-s);
		}
	}
}

select.dropdown-display[disabled] {
	opacity: 1;
}

// Responsive --------------------------------------------------------------------
.tablet,
.phone {
	div.dropdown-display,
	select.dropdown-display {
		font-size: var(--font-size-base);
		height: 48px;

		.dropdown-display-content {
			& > span,
			& > div {
				font-size: var(--font-size-base);
			}
		}
	}
}

// Accessibility -----------------------------------------------------------------
///
.has-accessible-features {
	.dropdown-container {
		&.dropdown-expanded {
			& > div.dropdown-display {
				border-color: get-border-color('focus-inner');
				box-shadow: 0 0 0 3px get-background-color('focus-outer');
			}
		}

		& > div,
		& > select {
			&.dropdown-display {
				border-color: get-border-color('neutral-7');

				&:hover {
					border-color: get-border-color('neutral-8');
				}
			}
		}

		& > select {
			&.dropdown-display:focus {
				border-color: get-border-color('focus-inner');
			}
		}
	}
}
