/* Widgets - Feedback Message */
////
/// @group Widgets-Feedback_Message
/// Widgets - Feedback Message

///
.feedback-message {
	// ─── Component CSS API ─────────────────────────────────────────────
	--osui-feedback-message-background:    transparent;
	--osui-feedback-message-color:         #{$token-text-inverse};
	--osui-feedback-message-border-radius: #{$token-border-radius-100};
	// ───────────────────────────────────────────────────────────────────

	align-items: center;
	background-color: var(--osui-feedback-message-background);
	border-radius: var(--osui-feedback-message-border-radius);
	color: var(--osui-feedback-message-color);
	display: flex;
	font-size: $token-font-size-450;
	font-weight: $token-font-weight-regular;
	left: 50%;
	max-width: 600px;
	min-width: 400px;
	padding: $token-scale-400;

	i {
		align-self: flex-start;
		font-size: $token-font-size-500;
		margin-top: 2px;
		position: relative;
	}
}

///
.feedback-message-text {
	padding-left: $token-scale-400;
}

// Mantain due to Retro Compatibility
///
div.feedback-message-error {
	--osui-feedback-message-background: #{$token-semantics-danger-base};
}

// Mantain due to Retro Compatibility
///
div.feedback-message-info {
	--osui-feedback-message-background: #{$token-semantics-info-base};
}

// Mantain due to Retro Compatibility
///
div.feedback-message-success {
	--osui-feedback-message-background: #{$token-semantics-success-base};
}

// Mantain due to Retro Compatibility
///
div.feedback-message-warning {
	--osui-feedback-message-background: #{$token-semantics-warning-base};
	--osui-feedback-message-color:      #{$token-text-default};
}

// Responsive --------------------------------------------------------------------
.phone {
	.feedback-message {
		animation-name: feedbackMessageSlideDownPhone;
		border-radius: 0;
		max-width: 100%;
		min-width: 100%;

		&.feedback-message-autoclose {
			animation-name: feedbackMessageSlideDownThenUpPhone;
		}
	}

	&.ios {
		.feedback-message {
			padding-top: calc(var(--os-safe-area-top) + $token-scale-400);
		}
	}
}

.android {
	.feedback-message {
		padding-top: calc(#{android-safe-area-top()} + $token-scale-400);
	}

	&.landscape {
		.feedback-message {
			animation-name: feedbackMessageSlideDownPhone;
		}
	}
}

// IsRTL -------------------------------------------------------------------------
.is-rtl {
	&.phone {
		.feedback-message {
			animation-name: feedbackMessageSlideDownPhoneRTL;
			border-radius: 0;
			left: 0;
			max-width: 100%;
			min-width: 100%;

			&.feedback-message-autoclose {
				animation-name: feedbackMessageSlideDownThenUpPhoneRTL;
			}
		}
	}
}

// OS HighContrast Enabled -------------------------------------------------------
///
.os-high-contrast {
	.feedback-message {
		border-width: $token-border-size-075;
		border-style: solid;

		&.feedback-message-error {
			border-color: $token-semantics-danger-base;
		}
		&.feedback-message-info {
			border-color: $token-semantics-info-base;
		}
		&.feedback-message-success {
			border-color: $token-semantics-success-base;
		}
		&.feedback-message-warning {
			border-color: $token-semantics-warning-base;
		}
	}
}
