/* Widgets - Feedback Message */
////
/// @group Widgets-Feedback_Message
/// Widgets - Feedback Message

///
.feedback-message {
	align-items: center;
	border-radius: var(--token-border-radius-100);
	display: flex;
	font-size: var(--token-font-size-450);
	font-weight: var(--token-font-weight-regular);
	left: 50%;
	max-width: 600px;
	min-width: 400px;
	padding: var(--token-scale-400);

	i {
		align-self: flex-start;
		font-size: var(--token-font-size-500);
		margin-top: 2px;
		position: relative;
	}
}

///
.feedback-message-text {
	padding-left: var(--token-scale-400);
}

// Mantain due to Retro Compatibility
///
div.feedback-message-error {
	background-color: var(--token-semantics-danger-base);
}

// Mantain due to Retro Compatibility
///
div.feedback-message-info {
	background-color: var(--token-semantics-info-base);
}

// Mantain due to Retro Compatibility
///
div.feedback-message-success {
	background-color: var(--token-semantics-success-base);
}

// Mantain due to Retro Compatibility
///
div.feedback-message-warning {
	background-color: var(--token-semantics-warning-base);
	color: var(--token-text-default);
}

// Responsive --------------------------------------------------------------------
.phone {
	.feedback-message {
		animation-name: feedbackMessageSlideDownPhone;
		border-radius: 0;
		max-width: 100%;
		min-width: 100%;

		&.feedback-message-autoclose {
			animation-name: feedbackMessageSlideDownThenUpPhone;
		}
	}

	&.ios {
		.feedback-message {
			padding-top: calc(var(--os-safe-area-top) + var(--token-scale-400));
		}
	}
}

.android {
	.feedback-message {
		padding-top: calc(#{android-safe-area-top()} + var(--token-scale-400));
	}

	&.landscape {
		.feedback-message {
			animation-name: feedbackMessageSlideDownPhone;
		}
	}
}

// IsRTL -------------------------------------------------------------------------
.is-rtl {
	&.phone {
		.feedback-message {
			animation-name: feedbackMessageSlideDownPhoneRTL;
			border-radius: 0;
			left: 0;
			max-width: 100%;
			min-width: 100%;

			&.feedback-message-autoclose {
				animation-name: feedbackMessageSlideDownThenUpPhoneRTL;
			}
		}
	}
}

// OS HighContrast Enabled -------------------------------------------------------
///
.os-high-contrast {
	.feedback-message {
		border-width: var(--token-border-size-075);
		border-style: solid;

		&.feedback-message-error {
			border-color: var(--token-semantics-danger-base);
		}
		&.feedback-message-info {
			border-color: var(--token-semantics-info-base);
		}
		&.feedback-message-success {
			border-color: var(--token-semantics-success-base);
		}
		&.feedback-message-warning {
			border-color: var(--token-semantics-warning-base);
		}
	}
}
