/*! Widgets - ListItem */
////
/// @group Widgets_ListItem
/// Widgets - ListItem

///
.list-item {
	border-bottom: var(--border-size-s) solid var(--color-neutral-4);
	overflow: hidden;
	padding: var(--space-m);
	position: relative;

	&:last-of-type {
		border-bottom: none;
	}

	.scale-animation {
		animation: list-item-scale-animation 1500ms;
		background-color: rgba(0, 0, 0, 0.1);
		border-radius: 100px;
		display: block;
		height: 10px;
		left: 50%;
		pointer-events: none;
		position: absolute;
		top: 50%;
		width: 10px;
		will-change: transform;
		z-index: 0;
	}
}

/// cenas com coisas aqui
.list {
	.list-item {
		background-color: var(--color-neutral-0);
	}
}

///
.layout-native {
	.list-item {
		padding: var(--space-base);
	}
}

// Responsive --------------------------------------------------------------------
///
.desktop {
	.list {
		.list-item:hover:not(.list-item-selected) {
			background-color: var(--color-neutral-2);
		}
	}
}

///
.desktop,
.tablet.landscape {
	.list {
		.list-item-selected {
			background: var(--color-primary) var(--color-primary-lightest);

			.list-item-content {
				&-title {
					color: var(--color-neutral-10);
				}

				&-text {
					color: var(--color-neutral-8);
				}

				&-right .icon {
					color: var(--color-primary);
				}
			}
		}
	}
}
