/* Widgets - Popover */
////
/// @group Widgets-Popover
/// Widgets - Popover

///
[data-popover] {
	[data-icon] {
		vertical-align: initial;
	}

	& > .popover {
		&-top {
			border: var(--border-size-none);
			padding: var(--space-none);
		}

		&-bottom {
			background-color: get-background-color('neutral-0');
			border: var(--border-size-s) solid get-border-color('neutral-4');
			border-radius: var(--border-radius-soft);
			box-shadow: var(--shadow-s);
			color: get-text-color('neutral-9');
			max-width: 350px;
			min-width: auto;
			padding: var(--space-base);
			z-index: var(--layer-global-elevated);
		}
	}
}

// IsRTL -------------------------------------------------------------------------
///
.is-rtl {
	[data-popover] {
		& > .popover {
			&-top {
				display: inline;
			}
		}
	}
}
