/* Widgets - Popup */
////
/// @group Widgets-Popup
/// Widgets - Popup

///
[data-popup] {
	// Service Studio Preview
	& {
		-servicestudio-top: 0;
	}
}

///
[data-popup-backdrop] {
	z-index: var(--osui-popup-layer);
}

///
.popup {
	&-backdrop {
		background-color: $token-backdrop;
	}

	&-dialog {
		// ─── Component CSS API ─────────────────────────────────────────────
		--osui-popup-background:    #{$token-bg-surface-default};
		--osui-popup-border-radius: #{$token-border-radius-100};
		--osui-popup-shadow:        #{$token-elevation-4};
		--osui-popup-padding:       #{$token-scale-600};
		// ───────────────────────────────────────────────────────────────────

		background-color: var(--osui-popup-background);
		border: 0;
		border-radius: var(--osui-popup-border-radius);
		box-shadow: var(--osui-popup-shadow);
		margin: $token-scale-600;
		max-height: calc(100% - $token-scale-1000);
		max-width: 500px;
		overflow: visible;
		padding: var(--osui-popup-padding);
		width: 100%;

		// Service Studio Preview
		& {
			-servicestudio-margin: auto;
			-servicestudio-overflow: hidden;
		}
	}
}

///
.layout-native {
	.popup {
		&-backdrop,
		&-dialog {
			padding: $token-scale-400;
		}
	}
}

// OS HighContrast Enabled -------------------------------------------------------
///
.os-high-contrast {
	.popup-dialog {
		border: $token-border-size-025 solid $token-bg-surface-default;
		border-radius: $token-border-radius-100;
	}
}
