/* Widgets - Switch */
////
/// @group Widgets-Switch
/// Widgets - Switch

///
[data-switch] {
	// ─── Component CSS API ─────────────────────────────────────────────
	--osui-switch-track-color:          var(--token-border-input-default);
	--osui-switch-track-border-color:   var(--token-border-input-default);
	--osui-switch-disabled-track-color: var(--token-bg-input-disabled);
	// ───────────────────────────────────────────────────────────────────

	background-color: transparent;
	border-radius: 0;
	height: 32px;
	overflow: initial;
	width: 50px;

	&:empty {
		&:before {
			background-color: var(--osui-switch-track-color);
			border: var(--token-border-size-025) solid var(--osui-switch-track-border-color);
			border-radius: var(--token-border-radius-full);
			height: 30px;
			opacity: 1;
			transition: all 180ms linear;
			width: 48px;
		}

		&:after {
			border: 0;
			bottom: 0;
			box-shadow: none;
			height: 24px;
			left: 0;
			margin-left: 0;
			top: 4px;
			transform: translateX(4px) translateZ(0);
			transition: all 180ms linear;
			width: 24px;
		}
	}

	&:hover {
		&:before {
			background-color: var(--token-border-input-default);
			border: var(--token-border-size-025) solid var(--token-border-input-default);
		}
	}

	&:checked {
		&:before {
			background-color: var(--token-semantics-primary-base);
			border: var(--token-border-size-025) solid var(--token-semantics-primary-base);
		}

		&:after {
			transform: translateX(22px) translateZ(0);
		}
	}

	&[disabled] {
		pointer-events: none;

		&:empty {
			&:before {
				background-color: var(--osui-switch-disabled-track-color);
				border: var(--token-border-size-025) solid var(--token-border-default);
			}

			&:after {
				background-color: var(--token-border-input-default);
				border: 0;
			}
		}
	}
}

// Accessibility -----------------------------------------------------------------
///
.has-accessible-features {
	[data-switch] {
		border-radius: var(--token-border-radius-full);

		&:empty {
			&:before {
				background-color: var(--token-border-input-default);
				border-color: var(--token-border-input-default);
			}
		}

		&:hover {
			&:before {
				background-color: var(--token-border-input-press);
				border-color: var(--token-border-input-press);
			}
		}

		&:checked {
			&:before {
				background-color: var(--token-semantics-primary-base);
				border-color: var(--token-semantics-primary-base);
			}
		}

		&:focus {
			&:before {
				border-color: var(--color-focus-inner);
			}
		}
	}
}

// OS HighContrast Enabled -------------------------------------------------------
///
.os-high-contrast {
	[data-switch] {
		&:empty:after {
			align-items: center;
			border: var(--token-border-size-025) solid var(--token-text-disabled);
			content: '0';
			display: flex;
			font-family: monospace;
			font-size: var(--token-font-size-300);
			justify-content: center;
			left: -1px;
			top: 3px;
		}

		&:checked:after {
			content: '1';
		}
	}
}
