/* Widgets - Table */
////
/// @group Widgets-Table
/// Widgets - Table

///
.table {
	border: var(--token-border-size-025) solid var(--token-primitives-neutral-400);
	border-radius: var(--token-border-radius-100);
	border-spacing: 0;
	empty-cells: show;
	white-space: nowrap;
	width: 100%;
	word-break: keep-all;

	&-header {
		// Service Studio Preview
		& {
			-servicestudio-border-bottom: none !important;
		}

		th {
			background-color: var(--token-primitives-base-white);
			border-bottom: var(--token-border-size-025) solid var(--token-primitives-neutral-400);
			color: var(--token-primitives-neutral-800);
			font-weight: var(--token-font-weight-semi-bold);
			height: 48px;
			padding: var(--token-scale-0) var(--token-scale-600);
			text-align: left;

			&:first-child {
				border-radius: var(--token-border-radius-100) var(--token-border-radius-0) var(--token-border-radius-0)
					var(--token-border-radius-0);
			}

			&:last-child {
				border-radius: var(--token-border-radius-0) var(--token-border-radius-100) var(--token-border-radius-0)
					var(--token-border-radius-0);
			}

			&.sortable {
				cursor: pointer;
			}

			&.sorted {
				color: var(--token-semantics-primary-base);
			}
		}
	}

	&-row {
		&:hover td {
			background: var(--token-primitives-neutral-200);
		}

		&.table-row-selected td {
			background: var(--token-semantics-primary-base) linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
		}

		td {
			background: var(--token-primitives-base-white);
			border-bottom: var(--token-border-size-025) solid var(--token-primitives-neutral-400);
			height: 56px;
			padding: var(--token-scale-200) var(--token-scale-600);
			vertical-align: inherit;
		}

		&-small {
			td {
				height: 48px;
			}
		}

		&-medium {
			td {
				height: 64px;
			}
		}

		&-stripping:nth-child(even) {
			td {
				background: var(--token-primitives-neutral-100);
			}
			&:hover td {
				background: var(--token-primitives-neutral-200);
			}
		}
	}

	.table-row:last-child {
		& td {
			border-bottom: none;

			&:last-child {
				border-radius: var(--token-border-radius-0) var(--token-border-radius-0) var(--token-border-radius-100)
					var(--token-border-radius-0);
			}
		}

		td:first-child {
			border-radius: var(--token-border-radius-0) var(--token-border-radius-0) var(--token-border-radius-0)
				var(--token-border-radius-100);
		}
	}
}

// Responsive --------------------------------------------------------------------
///
.desktop {
	.table-header th.sortable:hover {
		color: var(--token-semantics-primary-base);
	}
}

/* enable the horizontal scroll when has the utility class */
///
.tablet {
	.overflow-horizontal {
		.table {
			overflow-x: auto;
		}
	}
}

///
.phone,
.tablet {
	div:not(.overflow-horizontal) {
		& > .table:not(.table-no-responsive) {
			word-break: break-all;
		}
	}

	.table {
		th {
			width: 100%;
		}

		&-no-responsive {
			overflow-x: auto;
			word-break: break-all;

			// Service Studio Preview
			& {
				-servicestudio-word-break: normal;
			}
		}

		&:not(.table-no-responsive) {
			overflow: hidden;

			thead {
				display: none;

				// Service Studio Preview
				& {
					-servicestudio-display: none;
				}
			}

			tr,
			td {
				display: block;

				// Service Studio Preview
				& {
					-servicestudio-word-break: normal;
				}
			}

			tr {
				border-bottom: var(--token-border-size-025) solid var(--token-primitives-neutral-400);
			}

			td {
				border-bottom: 0;
				display: flex;
				height: auto;
				position: relative;
				text-align: left !important;
				width: 100% !important;

				&:before {
					content: attr(data-header);
					display: block;
					font-weight: bold;
					margin-right: 10px;
					max-width: 110px;
					min-width: 110px;
					word-break: break-word;
					white-space: normal;
				}

				&:not([data-header]) {
					&:before {
						display: none;
					}
				}
			}
		}
	}

	.layout-native {
		.table:not(.table-responsive) {
			thead {
				display: table-header-group;
			}

			tr {
				display: table-row;
			}

			td {
				background: var(--token-primitives-base-white);
				border-bottom: var(--token-border-size-025) solid var(--token-primitives-neutral-400);
				display: table-cell;
				padding: var(--token-scale-200) var(--token-scale-600);
				vertical-align: inherit;
				width: auto !important;

				// Service Studio Preview
				& {
					-servicestudio-word-break: break-all;
				}
			}

			td:before {
				display: none;
			}
		}
	}

	.layout:not(.layout-native) .table:not(.table-no-responsive) tbody {
		display: block;
		width: 100%;
	}
}

///
.phone {
	.table {
		&:not(.table-responsive) {
			display: block;
			overflow: auto;
			position: relative;

			// Service Studio Preview
			& {
				-servicestudio-display: table;
			}
		}
	}

	.layout-native {
		.table {
			&:not(.table-responsive) {
				td:before {
					display: none;
				}
			}
		}
	}
}

/* ============================================================================= */
/* Table > td */
/* ============================================================================= */
///td

// Accessibility ------------------------------------------------------------------
///
.has-accessible-features {
	th.sortable:focus {
		box-shadow: 0 0 0 3px var(--color-focus-outer);
		position: relative;
		z-index: var(--layer-global-screen);
	}
}

// IsRTL --------------------------------------------------------------------
///
.is-rtl {
	&.phone,
	&.tablet {
		.table:not(.table-no-responsive) {
			td {
				text-align: right !important;
			}

			td:before {
				margin-left: 10px;
				margin-right: 0px;
			}
		}
	}

	.table-header th {
		text-align: right;
	}

	.sortable-icon {
		margin-left: var(--token-scale-0);
		right: var(--token-scale-200);
	}
}
