/* Widgets - Upload */
////
/// @group Widgets-Upload
/// Widgets - Upload

///
[data-upload] {
	align-items: center;
	background: var(--token-primitives-base-white);
	border: var(--token-border-size-025) solid var(--token-primitives-neutral-400);
	border-radius: var(--token-border-radius-100);
	color: var(--token-primitives-neutral-900);
	display: flex;
	font-size: var(--token-font-size-350);
	margin-bottom: 0;
	min-height: auto;
	padding: var(--token-scale-400);
	position: relative;

	&.upload-image-withoverlay {
		flex-direction: column;

		.change-image {
			background-color: transparent;
			color: var(--token-semantics-primary-base);
			height: auto;
			margin-top: var(--token-scale-400);
			opacity: 1;
			position: relative;
		}
	}

	&.uploaded {
		[data-icon] {
			background-color: transparent;
		}
	}

	[data-icon] {
		background-color: transparent;
		color: var(--token-primitives-neutral-500);
		line-height: 1;
		margin-right: var(--token-scale-400);
		width: auto;
	}

	&:focus-visible {
		border: var(--token-border-size-025) solid var(--token-semantics-primary-base);
	}
}

// IsRTL --------------------------------------------------------------------
///
.is-rtl {
	[data-upload] {
		[data-icon] {
			margin-left: var(--token-scale-400);
			margin-right: var(--token-scale-0);
		}
	}
}

/* Accessibility -------------------------------------------------------------- */
///
.has-accessible-features {
	[data-upload] {
		border: var(--token-border-size-025) solid var(--token-primitives-neutral-700);
	}
}
