// Flatpickr - MonthPicker
.osui-monthpicker__dropdown {
	.flatpickr-innerContainer {
		padding-top: 0;
	}
}

.flatpickr-monthSelect-months {
	display: grid;
	gap: var(--space-xs);
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	margin: 0;

	.flatpickr-monthSelect-month {
		border: 1px solid transparent;
		border-radius: var(--border-radius-soft);
		width: 100%;

		&:hover,
		&:focus {
			background: var(--color-neutral-2);
		}

		&.selected {
			background-color: var(--color-primary);
			color: var(--color-neutral-0);
		}

		&.flatpickr-disabled {
			color: var(--color-neutral-5);
			background-color: var(--color-neutral-1);
		}

		&.today:not(.selected) {
			border-color: var(--color-neutral-6);

			&:hover {
				border-color: var(--color-neutral-3);
				background: var(--color-neutral-3);
				color: var(--color-primary);
			}
		}
	}
}
