/* Patterns - Interaction - Search */
////
/// @group Patterns-Search
/// Patterns - Interaction - Search

///
.osui-search {
	position: relative;

	&:empty {
		// Service Studio Preview
		-servicestudio-height: 40px;
	}

	&__input {
		position: relative;

		&:empty {
			// Service Studio Preview
			-servicestudio-background-color: get-background-color('neutral-0');
			-servicestudio-border-radius: 4px;
			-servicestudio-height: 40px;
		}
	}

	.form-control {
		&[data-input] {
			padding-left: var(--space-xl);
		}
	}
}

.form {
	.osui-search {
		input[data-input] {
			margin-bottom: var(--space-none);
		}
	}
}

// IsRTL -------------------------------------------------------------------------
///
.is-rtl {
	.osui-search {
		&__input:after {
			left: auto;
			right: var(--space-base);
		}

		.form-control[data-input] {
			padding-left: var(--space-base);
			padding-right: var(--space-xl);
		}
	}
}

// Layout Native ------------------------------------------------------------------
///

.layout-native {
	.header {
		.osui-search {
			input[data-input] {
				&,
				&:empty {
					border: var(--border-size-none);
					padding-left: var(--space-xl);
				}
			}
		}
	}

	.header-content {
		.osui-search {
			input[data-input] {
				&,
				&:empty {
					border-radius: var(--border-radius-none);
				}
			}
		}
	}
}

// Hide Search on page transitions
.slide-from-left-enter .layout-native .header-right .osui-search__input,
.slide-from-left-leave .layout-native .header-right .osui-search__input,
.slide-from-right-enter .layout-native .header-right .osui-search__input,
.slide-from-right-leave .layout-native .header-right .osui-search__input,
.slide-from-top-enter .layout-native .header-right .osui-search__input,
.slide-from-top-leave .layout-native .header-right .osui-search__input,
.slide-from-bottom-enter .layout-native .header-right .osui-search__input,
.slide-from-bottom-leave .layout-native .header-right .osui-search__input,
.fade-enter .header-right .layout-native .osui-search__input,
.fade-leave .header-right .layout-native .osui-search__input {
	display: none;
}
