.osui-tabs {
	--header-height: auto;
	display: grid;
	height: var(--tabs-height);
}

.osui-tabs.is--vertical.is--right {
	grid-auto-flow: dense;
}

.osui-tabs.is--vertical.is--right .osui-tabs_header {
	grid-column: 2;
}

.osui-tabs.is--vertical.is--right {
	grid-template-columns: 1fr auto;
}

.osui-tabs.is--vertical.is--right .osui-tabs_header {
	border-left: var(--border-size-s) solid var(--color-neutral-5);
}

.osui-tabs.is--horizontal {
	grid-auto-flow: column;
	grid-template-rows: var(--header-height) 1fr;
}

.osui-tabs.is--vertical {
	grid-auto-flow: row;
	grid-template-columns: var(--header-height) 1fr;
}

.osui-tabs .osui-tabs_header {
	display: flex;
}

.osui-tabs.is--vertical.is--left .osui-tabs_header {
	border-right: var(--border-size-s) solid var(--color-neutral-5);
}

.osui-tabs.is--vertical .osui-tabs_header {
	flex-direction: column;
}

.osui-tabs.is--vertical.is--justified .osui-tabs_header-item {
	flex: 1;
}

.osui-tabs.is--vertical .osui-tabs_header-item {
	height: auto;
	flex: none;
}

.osui-tabs.is--horizontal .osui-tabs_header {
	flex-direction: row;
	border-bottom: var(--border-size-s) solid var(--color-neutral-5);
}

.osui-tabs .osui-tabs_header-item {
	align-items: center;
	background-color: transparent;
	border: none;
	color: var(--color-neutral-8);
	cursor: pointer;
	justify-content: center;
	display: inline-flex;
	height: 100%;
	position: relative;
	min-height: 42px;
	width: 100%;
}

.osui-tabs.is--horizontal:not(.is--justified) .osui-tabs_header-item {
	width: auto;
}

.osui-tabs.is--horizontal .osui-tabs_header-item {
	border-bottom: var(--border-size-m) solid transparent;
	padding: var(--space-base) var(--space-xs);
}

.osui-tabs.is--vertical .osui-tabs_header-item {
	border-right: var(--border-size-m) solid transparent;
	padding: var(--space-xs) var(--space-base);
}

.osui-tabs .osui-tabs_header-item:hover:not(.is--active) {
	color: var(--color-neutral-10);
}

.osui-tabs .osui-tabs_header-item.is--active {
	color: var(--color-neutral-10);
	font-weight: var(--font-semi-bold);
}

.osui-tabs .osui-tabs_header-item::after {
	content: '';
	height: 100%;
	position: absolute;
	z-index: 1;
	width: 100%;
}

.osui-tabs.is--horizontal .osui-tabs_header-item::after {
	bottom: calc(-1px - var(--border-size-m));
}

.osui-tabs.is--vertical.is--left .osui-tabs_header-item::after {
	right: calc(-1px - var(--border-size-m));
}

.osui-tabs.is--vertical.is--right .osui-tabs_header-item::after {
	left: calc(1px - var(--border-size-m));
}

.osui-tabs.is--horizontal .osui-tabs_header-item:hover:not(.is--active)::after {
	border-bottom: var(--border-size-m) solid var(--color-neutral-6);
}

.osui-tabs.is--horizontal .osui-tabs_header-item.is--active::after {
	border-bottom: var(--border-size-m) solid var(--color-primary);
}

.osui-tabs.is--vertical .osui-tabs_header-item.is--active::after {
	height: 100%;
}

.osui-tabs.is--vertical.is--left .osui-tabs_header-item.is--active::after {
	border-right: var(--border-size-m) solid var(--color-primary);
}

.osui-tabs.is--vertical.is--left .osui-tabs_header-item:hover:not(.is--active)::after {
	border-right: var(--border-size-m) solid var(--color-neutral-6);
}

.osui-tabs.is--vertical.is--right .osui-tabs_header-item.is--active::after {
	border-left: var(--border-size-m) solid var(--color-primary);
}

.osui-tabs.is--vertical.is--right .osui-tabs_header-item:hover:not(.is--active)::after {
	border-left: var(--border-size-m) solid var(--color-neutral-6);
}

.osui-tabs .osui-tabs_content {
	width: 100%;
}

.osui-tabs.is--horizontal .osui-tabs_content {
	overflow-x: auto;
	overflow-y: hidden;
	overscroll-behavior-x: contain;
	scroll-snap-type: x mandatory;
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 100%;
}

.osui-tabs.is--vertical .osui-tabs_content {
	overflow-x: hidden;
	overflow-y: auto;
}

.osui-tabs.is--vertical .osui-tabs_content-item:not(.is--active) {
	display: none;
}

.osui-tabs.is--horizontal .osui-tabs_content {
	padding: var(--space-m) var(--space-none);
}

.osui-tabs.is--vertical .osui-tabs_content {
	padding: var(--space-none) var(--space-m);
}

.osui-tabs .osui-tabs_content::-webkit-scrollbar {
	display: none;
}

.osui-tabs .osui-tabs_content-item {
	scroll-snap-align: start;
	scroll-snap-stop: always;
	overflow-y: auto;
}

.osui-tabs_header .OSBlockWidget {
	display: contents;
}

.osui-tabs .osui-tabs_content .ph > .list,
.osui-tabs .osui-tabs_header .ph > .list {
	display: contents;
}
