.osui-tabs {
	--header-height: 50px;
	--accent: #1068eb;

	display: grid;
	grid-template-rows: var(--header-height) 1fr;
	position: relative;
	overflow: hidden;
	padding: 0.25rem;
}

.osui-tabs .osui-tabs_header {
	display: grid;
	grid-gap: 0.25rem;
	gap: 0.25rem;
	grid-auto-flow: column;
	grid-auto-columns: 1fr;
	align-content: stretch;
	justify-content: stretch;
	place-content: stretch;
	list-style-type: none;
}

.osui-tabs .osui-tabs_header-item {
	--background-highlight: hsl(226, 46%, 68%);

	border: none;
	font-size: 1rem;
	outline-color: var(--accent);
	width: 100%;
}

.osui-tabs .osui-tabs_header-item {
	cursor: pointer;
	background: var(--background-highlight);
}

.osui-tabs .osui-tabs_content {
	width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	overscroll-behavior-x: contain;
	scroll-snap-type: x mandatory;

	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 100%;
}

.osui-tabs .osui-tabs_content::-webkit-scrollbar {
	display: none;
}

.osui-tabs .osui-tabs_content-item {
	scroll-snap-align: start;
	scroll-snap-stop: always;

	overflow-y: auto;
}
