/* Patterns - Navigation - Breadcrumbs */
////
/// @group Patterns-Breadcrumbs
/// Patterns - Navigation - Breadcrumbs

///
.breadcrumbs {
	&-content {
		align-items: center;
		display: flex;
	}

	&-item {
		align-items: center;
		color: get-text-color('neutral-8');
		display: inline-flex;

		.icon {
			color: get-text-color('neutral-7');
			display: inline-flex;
			font-size: var(--font-size-xs);
			justify-content: center;
			margin: var(--space-none) var(--space-s);
			width: auto;
		}
	}
}
