/* Patterns - Navigation - Breadcrumbs */
////
/// @group Patterns-Breadcrumbs
/// Patterns - Navigation - Breadcrumbs

///
.breadcrumbs {
	// ─── Component CSS API ─────────────────────────────────────────────
	--osui-breadcrumbs-item-color:      #{$token-text-subtlest};
	--osui-breadcrumbs-separator-color: #{$token-primitives-neutral-700};
	// ───────────────────────────────────────────────────────────────────

	&-content {
		align-items: center;
		display: flex;
	}

	&-item {
		align-items: center;
		color: var(--osui-breadcrumbs-item-color);
		display: inline-flex;

		.icon {
			color: var(--osui-breadcrumbs-separator-color);
			display: inline-flex;
			font-size: $token-font-size-300;
			justify-content: center;
			margin: $token-scale-0 $token-scale-200;
			width: auto;
		}
	}
}
