/* Patterns - Navigation - Breadcrumbs */
////
/// @group Patterns-Breadcrumbs
/// Patterns - Navigation - Breadcrumbs

///
.breadcrumbs {
	&-content {
		align-items: center;
		display: flex;
	}

	&-item {
		align-items: center;
		color: var(--token-text-subtlest);
		display: inline-flex;

		.icon {
			color: var(--token-primitives-neutral-700);
			display: inline-flex;
			font-size: var(--token-font-size-300);
			justify-content: center;
			margin: var(--token-scale-0) var(--token-scale-200);
			width: auto;
		}
	}
}
