/* Patterns - Navigation - Pagination */
////
/// @group Patterns-Pagination
/// Patterns - Navigation - Pagination

///
.pagination {
	// ─── Component CSS API ─────────────────────────────────────────────
	--osui-pagination-button-background:       #{$token-bg-surface-default};
	--osui-pagination-button-border-color:     #{$token-border-default};
	--osui-pagination-button-color:            #{$token-text-subtlest};
	--osui-pagination-button-hover-background: #{$token-bg-neutral-subtle-default};
	--osui-pagination-active-color:            #{$token-semantics-primary-base};
	// ───────────────────────────────────────────────────────────────────

	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-top: $token-scale-600;

	// pagination-container
	&-container {
		align-items: center;
		display: flex;
		justify-content: center;

		& > .pagination-button:first-child {
			margin-left: 0;
		}

		.list {
			// Service Studio Preview
			& {
				-servicestudio-display: none;
			}
		}
	}

	&-button {
		align-items: center;
		background-color: var(--osui-pagination-button-background);
		border: $token-border-size-025 solid var(--osui-pagination-button-border-color);
		border-radius: $token-border-radius-100;
		color: var(--osui-pagination-button-color);
		cursor: pointer;
		display: inline-flex;
		height: 32px;
		justify-content: center;
		margin-left: $token-scale-200;
		padding: 0;
		width: 32px;

		&[disabled] {
			opacity: 0.5;
			pointer-events: none;
		}

		&.is--active {
			border: $token-border-size-025 solid var(--osui-pagination-active-color);
			color: var(--osui-pagination-active-color);
			cursor: auto;
			pointer-events: none;
		}

		&.is--ellipsis {
			background-color: transparent;
			border: 0;
			cursor: auto;
			width: 16px;
		}
	}

	&-input {
		align-items: center;
		display: flex;

		// Service Studio Preview
		& {
			-servicestudio-display: none;
		}
	}

	// pagination-counter
	&-counter {
		color: $token-primitives-neutral-700;
	}

	.list.list-group {
		overflow: initial;
	}

	.form-control[data-input] {
		height: 32px;
		margin: $token-scale-0 $token-scale-200;
		padding: 0;
		text-align: center;
		width: 32px;
	}
}
// Responsive ---------------------------------------------------------------------------
///
.desktop {
	.pagination-button:not(.is--ellipsis):hover {
		background-color: var(--osui-pagination-button-hover-background);
		border: $token-border-size-025 solid var(--osui-pagination-button-border-color);
	}
}

///
.tablet {
	.pagination {
		&-button,
		.form-control[data-input] {
			height: 40px;
			width: 40px;
		}
	}
}

///
.phone {
	.pagination {
		flex-direction: column;

		&-container {
			margin-top: $token-scale-400;
		}

		&-button,
		.form-control[data-input] {
			height: 40px;
			width: 40px;
		}
	}
}

// IsRTL ---------------------------------------------------------------------------
///
.is-rtl {
	.pagination-button {
		margin-left: 0;
		margin-right: $token-scale-200;

		.icon {
			transform: rotate(180deg);
		}
	}
}

// Accessibility ---------------------------------------------------------------------------
///
.has-accessible-features {
	.pagination-button:focus {
		border-color: var(--color-focus-inner);
	}
}

// OS HighContrast Enabled -------------------------------------------------------
///
.os-high-contrast {
	.pagination-button.is--active {
		@include a11y-high-contrast-outline;
	}
}
