/* Patterns - Navigation - Timeline */
////
/// @group Patterns-Timeline
/// Patterns - Navigation - Timeline

///
.timeline {
	// ─── Component CSS API ─────────────────────────────────────────────
	--osui-timeline-line-color:  var(--token-bg-neutral-base-default);
	--osui-timeline-icon-color:  var(--token-text-inverse);
	--osui-timeline-text-color:  var(--token-text-subtlest);
	// ───────────────────────────────────────────────────────────────────

	&-item {
		display: flex;
		justify-content: space-between;
		position: relative;

		.timeline-content {
			flex: 1;
			margin-bottom: var(--token-scale-1000);
		}
	}

	&-icon {
		align-items: center;
		display: flex;
		flex-direction: column-reverse;
		position: relative;

		&-line {
			background-color: var(--osui-timeline-line-color);
			flex: 1;
			margin: var(--token-scale-200) var(--token-scale-0) var(--token-scale-200);
			width: 1px;
		}

		&-container {
			align-items: center;
			border-radius: 50%;
			color: var(--osui-timeline-icon-color);
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			font-size: var(--token-font-size-300);
			height: 24px;
			justify-content: center;
			margin: var(--token-scale-0) var(--token-scale-400);
			text-align: center;
			width: 24px;

			&:empty {
				height: 8px;
				margin-top: var(--token-scale-100);
				width: 8px;
			}
		}
	}

	&-right,
	&-content-inner {
		color: var(--osui-timeline-text-color);
	}
}

///
[data-block='Navigation.TimelineItem'] {
	&:last-of-type {
		.timeline-icon {
			flex-direction: column;
		}

		.timeline-icon-line {
			display: none;
		}
	}
}
