/*! Patterns - Content - Accordion */
////
/// @group Patterns-Accordion
/// Patterns - Content - Accordion

///
.osui-accordion {
	// Style all the accordion items once inside an accordion
	& &-item {
		border-radius: var(--border-size-none);
		border-bottom-width: var(--border-size-none);

		// ServiceStudio Preview
		& {
			-servicestudio-border-bottom-width: var(--border-size-s);
		}

		&.is--first-child {
			border-radius: var(--border-radius-none);
			border-top-left-radius: var(--border-radius-soft);
			border-top-right-radius: var(--border-radius-soft);
		}

		&.is--last-child {
			border-bottom-width: var(--border-size-s);
			border-radius: var(--border-radius-none);
			border-bottom-left-radius: var(--border-radius-soft);
			border-bottom-right-radius: var(--border-radius-soft);
		}

		&.is--first-child.is--last-child {
			border-top-left-radius: var(--border-radius-soft);
			border-top-right-radius: var(--border-radius-soft);
		}
	}

	// Fix virtual-select behavior inside overflow hidden, as dropboxWrapper: 'body' option has other issues.
	// Reported issue on library git: https://github.com/sa-si-dev/virtual-select/issues/126
	// This is the same fix that was applied on accordion-deprecated.scss
	.pop-comp-wrapper {
		position: relative;
		transform: translate3d(0px, var(--space-xs), 0px) !important;
	}
}
