/*! Patterns - Interaction - DropdownServerSide */
////
/// @group Patterns-DropdownServerSide
/// Patterns - Interaction - DropdownServerSide

///
/*! jRio  */
.osui-dropdown-serverside {
	// "Input" section - SelectedValues container
	&__selected-values {
		align-items: center;
		background-color: var(--color-neutral-0);
		border-radius: var(--border-radius-soft);
		border: var(--border-size-s) solid var(--color-neutral-5);
		color: var(--color-neutral-9);
		cursor: pointer;
		display: flex;
		font-size: var(--font-size-s);
		height: 40px;
		padding: var(--space-none) var(--space-base);
		position: relative;
		width: 100%;

		&:hover {
			border-color: var(--color-neutral-6);
		}

		&:after {
			border: var(--border-size-m) solid var(--color-neutral-7);
			border-right-width: var(--border-size-none);
			border-top-width: var(--border-size-none);
			bottom: 0;
			box-sizing: border-box;
			content: '';
			height: 8px;
			left: auto;
			pointer-events: none;
			position: absolute;
			right: 16px;
			top: calc(50% - 4px);
			transform-origin: center;
			transform: rotate(-45deg);
			transition: transform 200ms ease-in-out;
			width: 8px;
		}

		& > *::selection {
			background-color: transparent;
		}

		&-wrapper {
		}
	}

	// Balloon section
	&__balloon {
		// Wrapper
		&-wrapper {
			background-color: var(--color-neutral-0);
			display: flex;
			left: var(--osui-dropdown-ss-left);
			max-height: 0;
			max-width: var(--osui-dropdown-ss-width);
			overflow: hidden;
			position: absolute;
			top: calc(var(--osui-dropdown-ss-top) + var(--osui-dropdown-ss-input-height) + 2px);
			transition: max-height 300ms ease-in-out;
			width: 100%;
			flex-direction: column;
			flex: 1;
		}

		// Content Container
		&-container {
			display: flex;
			flex-direction: column;
			height: 100%;
			overflow: hidden;
		}

		// Search placeholder
		&-search {
		}

		// Options placeholder
		&-content {
			flex: 1;
			overflow-x: hidden;
			overflow-y: auto;

			&::-webkit-scrollbar {
				width: 5px;
			}

			&::-webkit-scrollbar-track {
				background: var(--color-neutral-4);
			}

			&::-webkit-scrollbar-thumb {
				background-color: var(--color-neutral-6);
			}
		}

		// Footer placeholder
		&-footer {
		}
	}

	// Balloon States
	&--is-opened {
		// "Input" section - SelectedValues container
		.osui-dropdown-serverside__selected-values {
			&:after {
				border-color: var(--color-primary);
				transform: rotate(135deg);
			}
		}

		// Ballon wrapper
		&.osui-dropdown-serverside__balloon-wrapper {
			max-height: 320px;
		}
	}
}

// Accessibility -----------------------------------------------------------------
///
.has-accessible-features {
	// css props
}

// IsRTL -------------------------------------------------------------------------
///
.is-rtl {
	// css props
}

// Responsive --------------------------------------------------------------------
///
.tablet,
.phone {
	.osui-dropdown-serverside {
		&__selected-values {
			height: 48px;
		}
	}
}

///
.tablet {
	// css props
}

///
.phone {
	// css props
}
