/* HTML Elements - Links */
////
/// @group HTML_Elements-Link
/// HTML Elements - Links

///
a {
	text-decoration: none;

	-webkit-text-decoration-skip: objects;

	&,
	&:visited {
		color: get-text-color('primary');
		transition: all 180ms linear;
	}

	&:hover,
	&:focus {
		color: get-text-color('primary-hover');
		text-decoration: underline;
	}

	&[disabled] {
		color: get-text-color('neutral-6');
	}
}

// Responsive --------------------------------------------------------------------
///
.phone,
.tablet {
	a {
		&:hover,
		&:focus {
			text-decoration: none;
		}
	}
}

// Accessibility -----------------------------------------------------------------
///
.has-accessible-features {
	a {
		&:focus {
			background-color: get-background-color('focus-outer');
			box-shadow: 0 2px get-background-color('focus-inner');
			color: get-text-color('neutral-10');

			&,
			&:hover {
				text-decoration: none;
			}
		}

		&[disabled] {
			color: get-text-color('neutral-6');
		}
	}
}
