/*! Patterns - Interaction - Action Sheet */
////
/// @group Patterns-Action_Sheet
/// Patterns - Interaction - Action Sheet

///
.action-sheet {
	bottom: 0;
	left: 0;
	margin-top: 0;
	padding-bottom: calc(var(--os-safe-area-bottom) + var(--space-base));
	padding-left: calc(var(--os-safe-area-left) + var(--space-base));
	padding-right: calc(var(--os-safe-area-right) + var(--space-base));
	padding-top: var(--space-base);
	pointer-events: auto;
	position: absolute;
	transform: translateY(100%);
	width: 100%;
	will-change: transform;
	z-index: 60;

	// Service Studio Preview
	& {
		-servicestudio--webkit-transform: translateY(0);
		-servicestudio-transform: translateY(0);
	}

	&-container {
		height: 100%;
		left: 0;
		overflow: hidden;
		pointer-events: none;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 155;

		// Service Studio Preview
		& {
			-servicestudio-margin-top: -20px;
		}

		&:after {
			background-color: rgba(0, 0, 0, 0.25);
			content: '';
			display: block;
			height: 100%;
			left: 0;
			opacity: 0;
			pointer-events: none;
			position: absolute;
			top: 0;
			transition: opacity 0.3s cubic-bezier(0, 0, 0.3, 1);
			width: 100%;
			will-change: opacity;

			// Service Studio Preview
			& {
				-servicestudio-opacity: 1;
			}
		}

		&--visible {
			pointer-events: auto;

			&.action-sheet-container:after {
				opacity: 1;
			}

			.action-sheet {
				transform: none;
			}

			&.action-sheet-container--animatable .action-sheet {
				transition: all 330ms ease-out;
			}
		}

		&--animatable {
			.action-sheet {
				-webkit-transition: all 130ms ease-in;
				transition: all 130ms ease-in;
			}
		}
	}

	&-buttons {
		border-radius: var(--border-radius-soft);
		display: block;
		overflow: hidden;
		position: relative;
		transform: translateZ(0);
	}

	&-actions {
		// Service Studio Preview
		& {
			-servicestudio-min-height: 40px;
		}

		.btn {
			border: none;
			border-radius: 0;
			margin-top: 1px;
			width: 100%;
		}

		&:first-child .btn {
			margin-top: 0;
		}
	}

	&-cancel .btn {
		border: none;
		color: var(--color-neutral-8);
	}
}

// Responsive --------------------------------------------------------------------
///
.desktop,
.tablet {
	.action-sheet {
		&-buttons,
		&-cancel {
			margin: var(--space-none) auto;
			max-width: 500px;
		}

		&-cancel {
			margin: var(--space-base) auto var(--space-none);
		}
	}
}

.tablet {
	.action-sheet-cancel {
		max-width: 600px;
	}
}
