/*! Patterns - Interaction - DropdownSearch */
////
/// @group Interaction-Dropdown_Search
/// dropdown search styles

///
.choices {
	min-width: 150px;
	position: relative;

	&:focus {
		outline: none;
	}

	&:last-child {
		margin-bottom: var(--space-none);
	}

	&.is {
		&-focused,
		&-open {
			.choices {
				&__inner {
					border-color: var(--color-primary);
					border-radius: var(--border-radius-soft);
					color: var(--color-neutral-1);
				}
			}
		}

		&-open {
			&.is {
				&-focused {
					&,
					&[data-type='select-multiple'] {
						.choices__inner {
							border: var(--border-size-s) solid var(--color-primary);
							border-radius: var(--border-radius-soft);
						}
					}
				}

				&-flipped {
					&.is-open {
						.choices__inner {
							border-radius: var(--border-radius-none);
						}
					}
				}
			}

			.choices__inner {
				border-radius: var(--border-radius-none);
			}
		}

		&-disabled {
			.choices {
				&__inner,
				&__input {
					background-color: var(--color-neutral-0);
					cursor: not-allowed;
					user-select: none;
				}

				&__item {
					cursor: not-allowed;

					&.choices__item--selectable {
						color: var(--color-neutral-6);
					}
				}
			}
		}
	}

	&.Not_Valid {
		.choices__inner {
			border: var(--border-size-s) solid var(--color-error);
		}
	}

	&[data-type*='select-one'] {
		cursor: pointer;

		&:after {
			color: var(--color-neutral-7);
			content: '\f107';
			font: normal normal normal 24px/1 FontAwesome;
			font-family: 'FontAwesome';
			position: absolute;
			right: 16px;
			top: 8px;
			transform-origin: center;
			transition: all 300ms ease;
		}

		&.is-open {
			&:after {
				color: var(--color-primary);
				transform: rotate(180deg);
			}
		}

		.choices {
			&__button {
				/// @todo This property (display:none) cames from the commented selector below! Check Why?!?!
				display: none;
				height: auto;
				margin-right: var(--space-m);
				margin-top: -10px;
				padding: var(--space-none);
				position: absolute;
				right: 0;
				top: 50%;
				width: 20px;

				/* 
				.choices[data-type*='select-one'] .choices__button {
					display: none;
				} */

				&:hover,
				&:focus {
					opacity: 1;
				}

				&:focus {
					box-shadow: 0 0 0 2px var(--shadow-xs);
				}
			}
		}

		.search {
			&--wrapper {
				.input,
				input:not(.btn):not(.checkbox):not(.radio-button) {
					max-width: 100%;
					padding-left: var(--space-l);
				}
			}
		}
	}

	&[data-type*='select-multiple'] {
		.search {
			&--wrapper {
				.input,
				input:not(.btn):not(.checkbox):not(.radio-button) {
					padding-left: var(--space-xl);
					width: 100% !important;
				}
			}
		}

		.choices {
			&__inner {
				border-radius: var(--border-radius-soft);
				height: auto;
				padding: 0;
			}
		}
	}

	&[data-type*='select-multiple'],
	&[data-type*='text'] {
		.choices {
			&__inner {
				cursor: text;
			}

			&__button {
				border: var(--border-size-none);
				display: inline-block;
				line-height: 1;
				margin-bottom: var(--space-none);
				margin-left: var(--space-s);
				margin-right: -4px;
				margin-top: var(--space-none);
				padding-left: var(--space-base);
				position: relative;
				width: 8px;

				&:hover,
				&:focus {
					opacity: 1;
				}
			}
		}
	}

	.search--wrapper {
		padding: var(--space-s);
	}

	.choices__inner {
		select {
			opacity: 0;
			pointer-events: none;
			position: absolute;
			width: 1px;
			z-index: -10;
		}
	}

	&__inner {
		background-color: var(--color-neutral-0);
		border: var(--border-size-s) solid var(--color-neutral-5);
		border-radius: var(--border-radius-soft);
		color: var(--color-neutral-3);
		display: inline-block;
		height: 40px;
		line-height: calc(var(--font-size-base) * 2);
		padding-left: var(--space-base);
		transition: all 180ms linear;
		vertical-align: top;
		width: 100%;

		&:hover {
			border: var(--border-size-s) solid var(--color-neutral-6);
		}
	}

	&__list {
		list-style: none;
		margin: var(--space-none);
		padding-left: var(--space-none);

		&--single {
			align-items: center;
			display: inline-flex;
			height: 100%;
			padding-right: var(--space-base);
			width: 100%;
		}

		&.choices__list {
			&--dropdown {
				border-radius: var(--border-radius-soft);

				&.is-active {
					margin-top: var(--space-xs);
				}
			}
		}
	}
}

///
.dropdown-search-select {
	opacity: 0;
}

// Responsive --------------------------------------------------------------------
///
.tablet,
.phone {
	.choices {
		&[data-type*='select-one'] {
			&:after {
				top: 14px;
			}
		}

		&__inner {
			font-size: var(--font-size-base);
			height: 48px;
		}
	}
}

// IsRTL -------------------------------------------------------------------------
///
.choices {
	&[data-type*='select-one'] {
		&[dir='rtl'] {
			&:after {
				left: 16px;
				right: auto;
			}

			.choices {
				&__button {
					left: 0;
					margin-left: var(--space-m);
					margin-right: var(--space-none);
					right: auto;
				}
			}
		}
	}
}

// Accessibility -----------------------------------------------------------------
///
.has-accessible-features {
	.choices {
		&__inner {
			border-color: var(--color-neutral-7);

			&:hover {
				border-color: var(--color-neutral-8);
			}
		}

		&.is-open {
			&.is-focused {
				&,
				&[data-type='select-multiple'] {
					.choices__inner {
						border-color: var(--color-focus-inner);
					}
				}
			}
		}

		&[data-type*='select-one'] {
			border-radius: var(--border-radius-soft);
		}

		&[data-type='select-multiple'] {
			&.is-open {
				&.is-focused {
					.choices__inner {
						box-shadow: 0px 0px 0px 3px var(--color-focus-outer);
					}
				}
			}
		}
	}

	.search--wrapper {
		input:focus {
			border-color: var(--color-focus-inner);
		}
	}
}
