/*! Patterns - Interaction - ScrollableArea */
////
/// @group Patterns-Scrollable_Area
/// Patterns - Interaction - ScrollableArea

///
.scrollable-area {
	&-content {
		height: var(--scrollable-area-height);
		width: var(--scrollable-area-width);

		// Service Studio Preview
		& {
			--scrollable-area-height: auto;
			--scrollable-area-width: 100%;
		}

		&.none {
			-ms-overflow-style: none; /* IE and Edge */
			scrollbar-width: none; /* Firefox */

			&::-webkit-scrollbar {
				display: none;
			}

			&:hover {
				cursor: default;
			}
		}

		&.horizontal-scroll  {
			&,
			.list.list-group {
				overflow-x: auto;
				overflow-y: hidden;
			}
		}

		&.vertical-scroll {
			&,
			.list.list-group {
				overflow-x: hidden;
				overflow-y: auto;
			}
		}

		&.compact {
			&.horizontal,
			&.vertical {
				&-scroll {
					&:hover {
						&::-webkit-scrollbar {
							&-track {
								background-color: transparent;
							}

							&-thumb {
								background-color: rgba(173, 181, 189, 0.5);
								border-radius: 6px;
							}
						}
					}

					&::-webkit-scrollbar {
						height: 8px;
						width: 8px;

						&-track,
						&-thumb {
							background-color: transparent;
						}

						&-thumb {
							&:hover {
								background-color: rgba(106, 113, 120, 0.5);
								border-radius: 6px;
							}
						}
					}
				}
			}
		}
	}
}

///
[data-block='Interaction.ScrollableArea'] {
	&::-webkit-scrollbar {
		height: 8px;
		width: 8px;

		&-track,
		&-thumb {
			background-color: transparent;
		}
	}

	&:hover {
		&::-webkit-scrollbar {
			&-track {
				background-color: transparent;
			}

			&-thumb {
				background-color: rgba(173, 181, 189, 0.5);
				border-radius: 6px;

				&:hover {
					background-color: rgba(106, 113, 120, 0.5);
					border-radius: 6px;
				}
			}
		}
	}
}
