/*! Patterns - Interaction - Video */
////
/// @group Patterns-Video
/// Patterns - Interaction - Video

///
.video {
	.hide-controls {
		pointer-events: none;

		&::-webkit-media-controls-panel,
		&::-webkit-media-controls-panel-container {
			display: none !important;
		}
	}

	&-preview {
		display: block;
	}
}
