/*! Patterns - Interaction - Video */
////
/// @group Patterns-Video
/// Patterns - Adaptive - Video Styles

///
.video {
	.hide-controls {
		pointer-events: none;

		&::-webkit-media-controls-panel,
		&::-webkit-media-controls-panel-container {
			display: none !important;
		}
	}
}

.video-preview {
	display: block;
}
