/*! Patterns - Interaction - Notification */
////
/// @group Patterns-Notification
/// Patterns - Interaction - Notification

///
.osui-notification {
	&__content {
		background-color: var(--color-neutral-0);
		border: var(--border-size-s) solid var(--color-neutral-4);
		border-radius: var(--border-radius-soft);
		box-shadow: var(--shadow-xl);
		color: var(--color-neutral-10);
		opacity: 0;
		padding: var(--space-m);
		pointer-events: none;
		position: fixed;
		transition: all 300ms ease-out;
		user-select: none;
		width: var(--notification-width);
		z-index: 300;

		// Service Studio Preview
		& {
			-servicestudio-opacity: 1;
			-servicestudio-position: relative;
		}
	}

	// Service Studio Preview
	&-preview {
		-servicestudio-position: relative;

		&.bottom .is-bottom,
		&.bottom-right .is-bottom-right,
		&.bottom-left .is-bottom-left,
		&.center .is-center,
		&.right .is-right,
		&.left .is-left,
		&.top .is-top,
		&.top-right .is-top-right,
		&.top-left .is-top-left {
			-servicestudio-display: block;
		}

		[class*='is-'] {
			-servicestudio-display: none;
		}
	}

	&--is {
		&-top {
			.osui-notification__content {
				left: 50%;
				top: calc(var(--space-xxl) * -1);
				transform: translate(-50%, -100%);
			}

			&-right,
			&-left {
				.osui-notification__content {
					top: var(--space-m);
				}
			}

			&-right .osui-notification__content {
				right: -100%;
			}

			&-left .osui-notification__content {
				left: -100%;
			}
		}

		&-bottom {
			.osui-notification__content {
				bottom: calc(var(--space-xxl) * -1);
				left: 50%;
				transform: translate(-50%, 100%);
			}

			&-right,
			&-left {
				.osui-notification__content {
					bottom: var(--space-m);
				}
			}

			&-right .osui-notification__content {
				right: -100%;
			}

			&-left .osui-notification__content {
				left: -100%;
			}
		}

		&-center .osui-notification__content {
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}

		&-right .osui-notification__content {
			right: -100%;
			top: 50%;
			transform: translateY(-50%);
		}

		&-left .osui-notification__content {
			left: -100%;
			top: 50%;
			transform: translateY(-50%);
		}

		&-open {
			.osui-notification__content {
				opacity: 1;
				pointer-events: auto;
			}

			&.osui-notification {
				&--is {
					&-top {
						.osui-notification__content {
							top: var(--space-m);
							transform: translate(-50%, var(--space-m));
						}

						&-right .osui-notification__content {
							right: var(--space-m);
						}

						&-left .osui-notification__content {
							left: var(--space-m);
						}
					}

					&-bottom {
						.osui-notification__content {
							bottom: var(--space-m);
							transform: translateX(-50%);
						}

						&-right,
						&-left {
							.osui-notification__content {
								bottom: var(--space-m);
							}
						}

						&-right .osui-notification__content {
							right: var(--space-m);
						}

						&-left .osui-notification__content {
							left: var(--space-m);
						}
					}

					&-right .osui-notification__content {
						right: var(--space-m);
						top: 50%;
						transform: translateY(-50%);
					}

					&-left .osui-notification__content {
						left: var(--space-m);
						top: 50%;
						transform: translateY(-50%);
					}
				}
			}
		}
	}
}

///
.slide-from-left-enter,
.slide-from-left-leave,
.slide-from-right-enter,
.slide-from-right-leave,
.slide-from-top-enter,
.slide-from-top-leave,
.slide-from-bottom-enter,
.slide-from-bottom-leave,
.fade-enter,
.fade-leave {
	.layout-native {
		.osui-notification {
			display: none;
		}
	}
}

///
.layout-native {
	.osui-notification {
		left: 50%;
		transform: translateY(-120%) translateX(-50%);

		// Service Studio Preview
		& {
			-servicestudio-left: 0;
			-servicestudio-margin-left: 0;
			-servicestudio-transform: none;
		}

		&--is-open {
			transform: translateY(var(--space-m)) translateX(0);
		}
	}
}

// Responsive --------------------------------------------------------------------

///
.phone {
	.layout-native {
		.osui-notification {
			left: var(--space-base);
			margin-left: 0;
			right: var(--space-base);
			width: auto;
		}
	}

	.osui-notification__content {
		max-width: calc(100% - var(--space-xl));
	}
}

///
.android[data-status-bar-height] {
	.layout-native {
		.osui-notification--is-open {
			margin-top: var(--status-bar-height);
		}
	}
}

///
.ios {
	&.phone {
		&.landscape {
			.layout-native {
				.osui-notification {
					left: calc(var(--os-safe-area-left) + var(--space-base));
					right: calc(var(--os-safe-area-right) + var(--space-base));
				}
			}
		}
	}

	.layout-native {
		.osui-notification--is-open {
			margin-top: var(--status-bar-height);
		}
	}
}
