/* Patterns - Navigation - OverflowMenu */
////
/// @group Patterns-OverflowMenu
/// Patterns - Navigation - OverflowMenu

.osui-overflow-menu {
	// ─── Component CSS API ─────────────────────────────────────────────
	--osui-overflow-menu-background:         #{$token-bg-surface-default};
	--osui-overflow-menu-shadow:             #{$token-elevation-2};
	--osui-overflow-menu-color:              #{$token-text-default};
	--osui-overflow-menu-trigger-active-bg:  #{$token-bg-neutral-subtle-default};
	// ───────────────────────────────────────────────────────────────────

	display: inline-block;
	--osui-overflow-menu-min-width: 170px;
	--border-radius-rounded: 16px;

	&__trigger {
		--osui-floating-offset: #{$token-scale-200};

		border: $token-border-size-025 solid transparent;
		border-radius: var(--osui-overflow-menu-shape);
		color: var(--osui-overflow-menu-color);
		width: 32px;

		* {
			pointer-events: none;
		}
	}

	&--is-open {
		.osui-overflow-menu__trigger {
			background-color: var(--osui-overflow-menu-trigger-active-bg);
		}
	}

	&__balloon {
		--osui-balloon-background: var(--osui-overflow-menu-background);
		--osui-balloon-shadow:     var(--osui-overflow-menu-shadow);

		min-width: var(--osui-overflow-menu-min-width);
		overflow: hidden;
		z-index: var(--layer-global-instant-interaction);

		a {
			color: var(--osui-overflow-menu-color);

			&:hover {
				background: var(--osui-overflow-menu-trigger-active-bg);
				text-decoration: none;
			}

			// Service Studio Preview
			& {
				-servicestudio-align-items: center;
				-servicestudio-display: inline-flex !important;
				-servicestudio-color: $token-text-default;
				-servicestudio-padding: $token-scale-200 $token-scale-400;
			}
		}

		// To make extensibility with ExtendedClass easier
		a:not([class^='padding-']) {
			padding: $token-scale-200 $token-scale-400;
		}
	}
}

// layer exception when a popup is open on the same screen
html:has(.popup-backdrop) .osui-overflow-menu__balloon {
	z-index: var(--layer-global-off-canvas);
}

.tablet,
.phone {
	.osui-overflow-menu {
		--border-radius-rounded: 100%;

		.osui-overflow-menu__trigger {
			&.btn {
				// Longer specificity to be able to always override default responsive styles for buttons
				width: 40px;
			}
		}
	}
}

// OS HighContrast Enabled -------------------------------------------------------
///
.os-high-contrast {
	.osui-overflow-menu__balloon {
		border: $token-border-size-025 solid $token-border-input-default;

		a {
			&:hover {
				@include a11y-high-contrast-outline;
			}
		}
	}
}
