/*! Usefull - Border Radius */
////
/// @group UsefullClasses-Border_Radius
/// Usefull - Border Radius

///
.border-radius {
	@each $type, $value in $osui-border-radius-types {
		// Generated - Eg: .border-radius-none
		&-#{$type} {
			border-radius: var(--border-radius-#{$type});
		}

		@each $osui-box-corner in $osui-box-corners {
			// Generated - Eg: .border-radius-top-left-none
			&-#{$osui-box-corner}-#{$type} {
				border-#{$osui-box-corner}-radius: var(--border-radius-#{$type});
			}
		}

		@each $osui-border-side, $osui-border-corner1, $osui-border-corner2 in $osui-border-radius-box-sides {
			// Generated - Eg: .border-radius-top-none
			&-#{$osui-border-side}-#{$type} {
				border-#{$osui-border-side}-#{$osui-border-corner1}-radius: var(--border-radius-#{$type});
				border-#{$osui-border-side}-#{$osui-border-corner2}-radius: var(--border-radius-#{$type});
			}
		}
	}
}
