@use "sass:map";
@use '../00-abstract/index' as *;
@use "../tokens/variables";

/* Usefull - Border Size */
////
/// @group UsefullClasses-Border_Size
/// Usefull - Border Size

// Maps old border-size names to token SCSS variables
$osui-border-size-token-vars: (
	'none': variables.$token-border-size-0,
	's': variables.$token-border-size-025,
	'm': variables.$token-border-size-050,
	'l': variables.$token-border-size-075
);

///
.border {
	&-size {
		@each $type, $value in $osui-border-size {
			// Generated - Eg: .border-size-none
			&-#{$type} {
				@if $type == 'none' {
					border-width: #{map.get($osui-border-size-token-vars, $type)};
				} @else {
					border: #{map.get($osui-border-size-token-vars, $type)} solid currentColor;
				}
			}
		}
	}

	& {
		@each $osui-box-side, $osui-logical-side in $osui-box-sides {
			@each $type, $value in $osui-border-size {
				@if $type != 'none' {
					// Generated - Eg: .border-top-s
					&-#{$osui-box-side}-#{$type}:not(.columns),
					&-#{$osui-box-side}-#{$type}.columns > .columns-item:not(:last-child) {
						border-#{$osui-logical-side}: #{map.get($osui-border-size-token-vars, $type)} solid currentColor;
					}
				}
			}
		}
	}
}
