/* Usefull - Border Size */
////
/// @group UsefullClasses-Border_Size
/// Usefull - Border Size

///
.border {
	&-size {
		@each $type, $value in $osui-border-size {
			// Generated - Eg: .border-size-none
			&-#{$type} {
				@if $type == 'none' {
					border-width: var(--border-size-#{$type});
				} @else {
					border: var(--border-size-#{$type}) solid get-border-color('currentColor');
				}
			}
		}
	}

	& {
		@each $osui-box-side in $osui-box-sides {
			@each $type, $value in $osui-border-size {
				@if $type != 'none' {
					// Generated - Eg: .border-top-s
					&-#{$osui-box-side}-#{$type}:not(.columns),
					&-#{$osui-box-side}-#{$type}.columns > .columns-item:not(:last-child) {
						border-#{$osui-box-side}: var(--border-size-#{$type}) solid get-border-color('currentColor');
					}
				}
			}
		}
	}
}
