/* Usefull - Colors Semantic */
////
/// @group UsefullClasses-Colors_Semantic
/// Usefull - Colors Semantic

/* 
	Note:
	- In order to improve the SASSDOC generated file, the loop was splited in 2!
*/

///
.background {
	@each $type, $value in $osui-colors-semantic {
		&-#{$type} {
			background-color: get-background-color('#{$type}');
		}
	}
}

///
.text {
	@each $type, $value in $osui-colors-semantic {
		&-#{$type} {
			color: get-text-color('#{$type}');
		}
	}
}
