/* Usefull - Colors Other */
////
/// @group UsefullClasses-Colors_Other
/// Usefull - Colors Other

///
.background {
	&-transparent {
		&,
		.ie11 & {
			background-color: get-background-color('transparent');
		}
	}
}
