/* Usefull - Colors Neutral */
////
/// @group UsefullClasses-Colors_Neutral
/// Usefull - Colors Neutral

/* 
	Note:
	- In order to improve the SASSDOC generated file, the loop was splited in 2!
*/

///
.background {
	$i: 0;
	@each $type, $value in $osui-colors-neutral {
		&-neutral {
			&-#{$type} {
				background-color: get-background-color('neutral-#{$type}');

				&-lightest {
					@if ($i < 5) {
						background-color: get-background-color('neutral-9');
					} @else {
						background-color: get-background-color('neutral-0');
					}
				}
			}
		}
		$i: $i + 1;
	}
}

///
.text {
	$i: 0;
	@each $type, $value in $osui-colors-neutral {
		&-neutral-#{$type} {
			color: get-text-color('neutral-#{$type}');

			& {
				@if ($i > 4) {
					&-darker {
						color: get-text-color('neutral-#{$type}');
					}
				}
			}
		}
		$i: $i + 1;
	}
}
