@use "../tokens/variables";

/* Usefull - Colors Brand */
////
/// @group UsefullClasses-Colors_Brand
/// Usefull - Colors Brand

///
.background {
	&-primary {
		background-color: variables.$token-semantics-primary-base;

		&-lightest {
			background-color: variables.$token-bg-surface-default;
		}
	}

	&-secondary {
		background-color: #303d60;

		&-lightest {
			background-color: variables.$token-bg-surface-default;
		}
	}
}

///
.text {
	&-primary {
		&,
		&-darker {
			color: variables.$token-semantics-primary-base;
		}
	}

	&-secondary {
		&,
		&-darker {
			color: #303d60;
		}
	}
}
