/* Usefull - Colors Brand */
////
/// @group UsefullClasses-Colors_Brand
/// Usefull - Colors Brand

///
.background {
	&-primary {
		background-color: get-background-color('primary');

		&-lightest {
			background-color: get-background-color('neutral-0');
		}
	}

	&-secondary {
		background-color: get-background-color('secondary');

		&-lightest {
			background-color: get-background-color('neutral-0');
		}
	}
}

///
.text {
	&-primary {
		&,
		&-darker {
			color: get-text-color('primary');
		}
	}

	&-secondary {
		&,
		&-darker {
			color: get-text-color('secondary');
		}
	}
}
