/*! Usefull - Colors Semantic */
////
/// @group UsefullClasses-Colors_Semantic
/// Usefull - Colors Semantic

/* 
	Note:
	- In order to improve the SASSDOC generated file, the loop was splited in 2!
*/

///
.background {
	@each $osui-semantic in $osui-semantics {
		&-#{$osui-semantic} {
			background-color: var(--color-#{$osui-semantic});

			&-light {
				background-color: var(--color-#{$osui-semantic}-light);
			}
		}
	}
}

///
.text {
	@each $osui-semantic in $osui-semantics {
		&-#{$osui-semantic} {
			color: var(--color-#{$osui-semantic});

			&-light {
				color: var(--color-#{$osui-semantic}-light);
			}
		}
	}
}
