/* Usefull - Colors Palette */
////
/// @group UsefullClasses-Colors_Pallete
/// Usefull - Colors Palette

/* 
	Note:
	- In order to improve the SASSDOC generated file, the loop was splited in 2!
*/

///
.background {
	@each $color, $variations in $osui-colors-extended {
		@each $type, $value in $variations {
			&-#{$color} {
				@if ($type == '') {
					& {
						background-color: get-background-color('#{$color}');
					}
				} @else {
					&-#{$type} {
						background-color: get-background-color('#{$color}-#{$type}');
					}
				}
			}
		}
	}
}

///
.text {
	@each $color, $variations in $osui-colors-extended {
		@each $type, $value in $variations {
			&-#{$color} {
				@if ($type == '') {
					& {
						color: get-text-color('#{$color}');
					}
				} @else {
					&-#{$type} {
						color: get-text-color('#{$color}-#{$type}');
					}
				}
			}
		}
	}
}
