/* Usefull - Colors Neutral */
////
/// @group UsefullClasses-Colors_Neutral
/// Usefull - Colors Neutral

/*
	Note:
	- In order to improve the SASSDOC generated file, the loop was splited in 2!
*/

///
.background {
	$i: 0;
	@each $type, $value in $osui-colors-neutral {
		&-neutral {
			&-#{$type} {
				background-color: #{$value};

				&-lightest {
					@if ($i < 5) {
						background-color: $token-primitives-neutral-900;
					} @else {
						background-color: $token-primitives-base-white;
					}
				}
			}
		}
		$i: $i + 1;
	}
}

///
.text {
	$i: 0;
	@each $type, $value in $osui-colors-neutral {
		&-neutral-#{$type} {
			color: #{$value};

			& {
				@if ($i > 4) {
					&-darker {
						color: #{$value};
					}
				}
			}
		}
		$i: $i + 1;
	}
}
