////
/// @group useful classes

@each $osui-semantic in $osui-semantics {
	/*! color semantic #{$osui-semantic} start */

	.text-#{$osui-semantic} {
		color: var(--color-#{$osui-semantic});
	}

	.text-#{$osui-semantic}-light {
		color: var(--color-#{$osui-semantic}-light);
	}

	.background-#{$osui-semantic} {
		background-color: var(--color-#{$osui-semantic});
	}

	.background-#{$osui-semantic}-light {
		background-color: var(--color-#{$osui-semantic}-light);
	}

	/*! color semantic #{$osui-semantic} end */
}
