/*! Usefull - Colors Palette */
////
/// @group UsefullClasses-Colors_Pallete
/// Usefull - Colors Palette

/* 
	Note:
	- In order to improve the SASSDOC generated file, the loop was splited in 2!
*/

///
.background {
	@each $osui-color in $osui-colors {
		@each $osui-color-variation in $osui-color-variations {
			&-#{$osui-color} {
				@if ($osui-color-variation != '') {
					&-#{$osui-color-variation} {
						background-color: var(--color-#{$osui-color}-#{$osui-color-variation});
					}
				} @else {
					background-color: var(--color-#{$osui-color});
				}
			}
		}
	}
}

///
.text {
	@each $osui-color in $osui-colors {
		@each $osui-color-variation in $osui-color-variations {
			&-#{$osui-color} {
				@if ($osui-color-variation != '') {
					&-#{$osui-color-variation} {
						color: var(--color-#{$osui-color}-#{$osui-color-variation});
					}
				} @else {
					color: var(--color-#{$osui-color});
				}
			}
		}
	}
}
