/* Usefull - Colors Brand */
////
/// @group UsefullClasses-Colors_Brand
/// Usefull - Colors Brand

///
.background {
	&-primary {
		background-color: var(--color-primary);

		&-lightest {
			background-color: $token-bg-surface-default; // TODO review need to theme layer variable for lightest
		}
	}

	&-secondary {
		background-color: var(--color-secondary);

		&-lightest {
			background-color: $token-bg-surface-default;
		}
	}
}

///
.text {
	&-primary {
		&,
		&-darker {
			color: $token-semantics-primary-base;
		}
	}

	&-secondary {
		&,
		&-darker {
			color: var(--color-text-subtle)
		}
	}
}
