/*! Usefull - Colors Brand */
////
/// @group UsefullClasses-Colors_Brand
/// Usefull - Colors Brand

///
.background {
	&-primary {
		background-color: var(--color-primary);

		&-lightest {
			background-color: var(--color-neutral-0);
		}
	}

	&-secondary {
		background-color: var(--color-secondary);

		&-lightest {
			background-color: var(--color-neutral-0);
		}
	}
}

///
.text {
	&-primary {
		&,
		&-darker {
			color: var(--color-primary);
		}
	}

	&-secondary {
		&,
		&-darker {
			color: var(--color-secondary);
		}
	}
}
