/*! Usefull - Display Flex */
////
/// @group UsefullClasses-Display_Flex
/// Usefull - Display Flex

///
.display-flex {
	display: flex;
}

///
.flex {
	@for $index from 1 through 3 {
		// Generate .flex1
		&#{$index} {
			flex: #{$index};
		}
	}

	&-direction {
		&-column {
			flex-direction: column;

			&-reverse {
				flex-direction: column-reverse;
			}
		}

		&-row {
			flex-direction: row;

			&-reverse {
				flex-direction: row-reverse;
			}
		}
	}

	&-wrap {
		flex-wrap: wrap;

		&-reverse {
			flex-wrap: wrap-reverse;
		}
	}

	&-nowrap {
		flex-wrap: nowrap;
	}
}

.justify {
	&-content {
		&-flex-end {
			justify-content: flex-end;
		}

		&-flex-start {
			justify-content: flex-start;
		}

		&-center {
			justify-content: center;
		}

		&-space-between {
			justify-content: space-between;
		}

		&-space-around {
			justify-content: space-around;
		}

		&-space-evenly {
			justify-content: space-evenly;
		}
	}
}

.align {
	&-items {
		&-flex-start {
			align-items: flex-start;
		}

		&-flex-end {
			align-items: flex-end;
		}

		&-center {
			align-items: center;
		}

		&-stretch {
			align-items: stretch;
		}

		&-baseline {
			align-items: baseline;
		}
	}
	&-self {
		&-flex-start {
			align-self: flex-start;
		}

		&-flex-end {
			align-self: flex-end;
		}

		&-center {
			align-self: center;
		}

		&-stretch {
			align-self: stretch;
		}

		&-baseline {
			align-self: baseline;
		}
	}

	&-content {
		&-flex-start {
			align-content: flex-start;
		}

		&-flex-end {
			align-content: flex-end;
		}

		&-center {
			align-content: center;
		}

		&-space-between {
			align-content: space-between;
		}

		&-space-around {
			align-content: space-around;
		}

		&-space-evenly {
			align-content: space-evenly;
		}

		&-stretch {
			align-content: stretch;
		}

		&-baseline {
			align-content: baseline;
		}
	}
}

.gap {
	@for $index from 1 through 3 {
		// Generate .flex1
		&#{$index} {
			flex: #{$index};
		}
	}
}

.row-gap {
	@for $index from 1 through 3 {
		// Generate .flex1
		&#{$index} {
			flex: #{$index};
		}
	}
}

.gap {
	@for $index from 1 through 5 {
		// Generate .gap-1
		&-#{$index} {
			gap: #{$index}em;
		}
	}
}

.row-gap {
	@for $index from 1 through 5 {
		// Generate .row-gap-1
		&-#{$index} {
			row-gap: #{$index}em;
		}
	}
}

.column-gap {
	@for $index from 1 through 5 {
		// Generate .column-gap-1
		&-#{$index} {
			column-gap: #{$index}em;
		}
	}
}
