////
/// @group useful display

/*! useful display flex start */

///
.display-flex {
	display: flex;
}

///
.justify-content-flex-end {
	justify-content: flex-end;
}

///
.flex1 {
	flex: 1;
}

///
.flex2 {
	flex: 2;
}

///
.flex3 {
	flex: 3;
}

///
.flex-direction-column {
	flex-direction: column;
}

///
.flex-direction-column-reverse {
	flex-direction: column-reverse;
}

///
.flex-direction-row {
	flex-direction: row;
}

///
.flex-direction-row-reverse {
	flex-direction: row-reverse;
}

/*! useful display flex end */
