/*! Usefull - Display Align */
////
/// @group UsefullClasses-Display_Align
/// Usefull - Display Flex

///
.align-items {
	&-baseline {
		align-items: baseline;
	}

	&-center {
		align-items: center;
	}

	&-flex-end {
		align-items: flex-end;
	}

	&-initial {
		align-items: initial;
	}
}

///
.top {
	&-left {
		align-items: flex-start;
		justify-content: flex-start;
	}

	&-center {
		align-items: flex-start;
		justify-content: center;
	}

	&-right {
		align-items: flex-start;
		justify-content: flex-end;
	}
}

///
.center {
	align-items: center;
	justify-content: center;

	&-left {
		align-items: center;
		justify-content: flex-start;
	}

	&-right {
		align-items: center;
		justify-content: flex-end;
	}
}

///
.bottom {
	&-left {
		align-items: flex-end;
		justify-content: flex-start;
	}

	&-center {
		align-items: flex-end;
		justify-content: center;
	}

	&-right {
		align-items: flex-end;
		justify-content: flex-end;
	}
}
