/*! Usefull - Display Flex */
////
/// @group UsefullClasses-Display_Flex
/// Usefull - Display Flex

///
.display-flex {
	display: flex;
}

///
.flex {
	@for $index from 1 through 3 {
		// Generate .flex1
		&#{$index} {
			flex: #{$index};
		}
	}

	&-direction {
		&-column {
			flex-direction: column;

			&-reverse {
				flex-direction: column-reverse;
			}
		}

		&-row {
			flex-direction: row;

			&-reverse {
				flex-direction: row-reverse;
			}
		}
	}
}

///
.justify {
	&-content-flex-end {
		justify-content: flex-end;
	}

	&-content-center {
		justify-content: center;
	}

	&-content-space-between {
		justify-content: space-between;
	}
}