/*! Usefull - Imgae */
////
/// @group UsefullClasses-Image
/// Usefull - Image

///
.img-cover {
	height: 100%;
	object-fit: cover;
}

///
img {
	&.img {
		&-rounded {
			border-radius: 10px;
		}

		&-circle {
			border-radius: var(--border-radius-circle);
		}
	}

	&.thumbnail {
		background-color: var(--color-neutral-0);
		border: var(--border-size-s) solid var(--color-neutral-4);
		padding: var(--space-xs);
	}
}
