/* Usefull - Images */
////
/// @group UsefullClasses-Image
/// Usefull - Images

///
.img-cover {
	height: 100%;
	object-fit: cover;
}

///
img {
	&.img {
		&-rounded {
			border-radius: 10px;
		}

		&-circle {
			border-radius: 50%;
		}
	}

	&.thumbnail {
		background-color: var(--token-bg-surface-default);
		border: var(--token-border-size-025) solid var(--token-border-default);
		padding: var(--token-scale-100);
	}
}
