/* Usefull - Images */
////
/// @group UsefullClasses-Image
/// Usefull - Images

///
.img-cover {
	height: 100%;
	object-fit: cover;
}

///
img {
	&.img {
		&-rounded {
			border-radius: 10px;
		}

		&-circle {
			border-radius: var(--border-radius-circle);
		}
	}

	&.thumbnail {
		background-color: get-background-color('neutral-0');
		border: var(--border-size-s) solid get-border-color('neutral-4');
		padding: var(--space-xs);
	}
}
