/*! Usefull - Miscellaneous */
////
/// @group UsefullClasses-Miscellaneous
/// Usefull - Miscellaneous

///
.no {
	&-transition {
		transition: none !important;
	}

	&-transform {
		transform: none !important;
	}
}

/* Hide StickyObserve when HideOnScroll is used*/
///
.sticky-observer {
	height: var(--header-size);
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	visibility: hidden;
}

/* Used in order to deal with allow propagation event when is't blocked by default
Example can be checked at Tooltip since we can have clickable containers. */
///
[data-allow-event-propagation='true'] > * {
	pointer-events: none;
}

// Responsive --------------------------------------------------------------------
///
.tablet .tablet-full-width,
.phone .phone-full-width {
	margin-left: 0;
	width: 100%;
}
