/*! useful overflow start */

.overflow-hidden {
	-servicestudio-overflow: visible;
	overflow: hidden;
}

.overflow-horizontal {
	-servicestudio-overflow: visible;
	overflow-x: auto;
}

.overflow-vertical {
	-servicestudio-overflow: visible;
	overflow-y: auto;
}

/*! useful overflow end */
