/*! position absolute start */

.position-absolute {
	position: absolute;
}

.absolute-top {
	top: 0;
}
.absolute-right {
	right: 0;
}
.absolute-bottom {
	bottom: 0;
}
.absolute-left {
	left: 0;
}

.absolute-top-right {
	right: 0;
	top: 0;
}

.absolute-top-left {
	left: 0;
	top: 0;
}

.absolute-bottom-right {
	bottom: 0;
	right: 0;
}

.absolute-bottom-left {
	bottom: 0;
	left: 0;
}

.absolute-center {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.absolute-bottom.absolute-center {
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.absolute-center-top {
	left: 50%;
	top: 0;
	transform: translateX(-50%);
}

.absolute-center-right {
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

.absolute-center-bottom {
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.absolute-center-left {
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

.absolute-top-plus-header {
	top: calc(var(--header-size) + var(--os-safe-area-top));
}

/*! position absolute start */
