/*! Usefull - Position */
////
/// @group UsefullClasses-Position
/// Usefull - Position

///
.position-relative {
	position: relative;
}

///
.fixed {
	position: fixed;
}

///
.sticky {
	position: sticky;
}
