/*! Usefull - Shadow */
////
/// @group UsefullClasses-Shadow
/// Usefull - Shadow

///
.shadow {
	@each $type, $value in $osui-shadow-types {
		&-#{$type} {
			box-shadow: var(--shadow-#{$type});
		}
	}
}
