/*! Usefull - Padding */
////
/// @group UsefullClasses-Padding
/// Usefull - Padding

///
.padding {
	@each $type, $value in $osui-sizes {
		&-#{$type} {
			padding: var(--space-#{$type});
		}

		@each $osui-box-side in $osui-box-sides {
			&-#{$osui-box-side}-#{$type} {
				padding-#{$osui-box-side}: var(--space-#{$type});
			}
		}

		&-x-#{$type} {
			padding-left: var(--space-#{$type});
			padding-right: var(--space-#{$type});
		}

		&-y-#{$type} {
			padding-bottom: var(--space-#{$type});
			padding-top: var(--space-#{$type});
		}
	}

	&-auto {
		padding: 0 auto;
	}
}

// IsRTL -------------------------------------------------------------------------
///
.is-rtl {
	@each $type, $value in $osui-sizes {
		.padding {
			&-right-#{$type} {
				padding-left: var(--space-#{$type});
				padding-right: var(--space-none);
			}

			&-left-#{$type} {
				padding-left: var(--space-none);
				padding-right: var(--space-#{$type});
			}
		}
	}
}
