/* Usefull - Margin */
////
/// @group UsefullClasses-Margin
/// Usefull - Margin

///
.margin {
	@each $type, $value in $osui-sizes {
		&-#{$type} {
			margin: #{map-get($osui-space-token-vars, $type)};
		}

		@each $osui-box-side in $osui-box-sides {
			&-#{$osui-box-side}-#{$type} {
				margin-#{$osui-box-side}: #{map-get($osui-space-token-vars, $type)};
			}
		}

		&-x-#{$type} {
			margin-left: #{map-get($osui-space-token-vars, $type)};
			margin-right: #{map-get($osui-space-token-vars, $type)};
		}

		&-y-#{$type} {
			margin-bottom: #{map-get($osui-space-token-vars, $type)};
			margin-top: #{map-get($osui-space-token-vars, $type)};
		}
	}

	&-auto {
		margin: 0 auto;
	}
}

// IsRTL -------------------------------------------------------------------------
///
.is-rtl {
	@each $type, $value in $osui-sizes {
		.margin {
			&-right-#{$type} {
				margin-left: #{map-get($osui-space-token-vars, $type)};
				margin-right: $token-scale-0;
			}

			&-left-#{$type} {
				margin-left: $token-scale-0;
				margin-right: #{map-get($osui-space-token-vars, $type)};
			}
		}
	}
}
