/*! Usefull - Margin */
////
/// @group UsefullClasses-Margin
/// Usefull - Margin

///
.margin {
	@each $osui-size in $osui-sizes2 {
		&-#{$osui-size} {
			margin: var(--space-#{$osui-size});
		}

		@each $osui-box-side in $osui-box-sides {
			&-#{$osui-box-side}-#{$osui-size} {
				margin-#{$osui-box-side}: var(--space-#{$osui-size});
			}
		}

		&-x-#{$osui-size} {
			margin-left: var(--space-#{$osui-size});
			margin-right: var(--space-#{$osui-size});
		}

		&-y-#{$osui-size} {
			margin-bottom: var(--space-#{$osui-size});
			margin-top: var(--space-#{$osui-size});
		}
	}

	&-auto {
		margin: 0 auto;
	}
}

// IsRTL -------------------------------------------------------------------------
///
.is-rtl {
	@each $osui-size in $osui-sizes2 {
		.margin {
			&-right-#{$osui-size} {
				margin-left: var(--space-#{$osui-size});
				margin-right: var(--space-none);
			}

			&-left-#{$osui-size} {
				margin-left: var(--space-none);
				margin-right: var(--space-#{$osui-size});
			}
		}
	}
}
