////
/// @group useful padding

@each $entry in $osui-sizes {
	$size: nth($entry, 1);
	$variable: nth($entry, 2);

	///
	.padding-#{$size} {
		padding: #{$variable};
	}

	///
	.padding-top-#{$size} {
		padding-top: #{$variable};
	}

	///
	.padding-right-#{$size} {
		padding-right: #{$variable};
	}

	///
	.padding-bottom-#{$size} {
		padding-bottom: #{$variable};
	}

	///
	.padding-left-#{$size} {
		padding-left: #{$variable};
	}

	///
	.is-rtl .padding-right-#{$size} {
		padding-left: #{$variable};
		padding-right: var(--space-none);
	}

	///
	.is-rtl .padding-left-#{$size} {
		padding-left: var(--space-none);
		padding-right: #{$variable};
	}

	///
	.padding-x-#{$size} {
		padding-left: #{$variable};
		padding-right: #{$variable};
	}

	///
	.padding-y-#{$size} {
		padding-bottom: #{$variable};
		padding-top: #{$variable};
	}

	/*! useful space padding #{$size} end */
}
