/*! Usefull - Typography */
////
/// @group UsefullClasses-Typography
/// Usefull - Typography

///
.font {
	&-size {
		@each $osui-font-size in $osui-font-sizes {
			&-#{$osui-font-size} {
				font-size: var(--font-size-#{$osui-font-size});
			}
		}
	}

	&-light {
		font-weight: var(--font-light);
	}

	&-regular {
		font-weight: var(--font-regular);
	}

	&-semi-bold {
		font-weight: var(--font-semi-bold);
	}
}

///
.font-bold,
.bold {
	font-weight: var(--font-bold);
}

///
.text {
	&-lowercase {
		text-transform: lowercase;
	}

	&-uppercase {
		text-transform: uppercase;
	}

	&-capitalize {
		text-transform: capitalize;
	}

	&-ellipsis {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}
