/*! Usefull - Visibility */
////
/// @group UsefullClasses-Visibility
/// Usefull - Visibility

///
.ph:empty {
	display: none;
}

///
.hidden {
	display: none;
}

///
.hide {
	&-scrollbar {
		-ms-overflow-style: none; // IE and Edge
		scrollbar-width: none; // Firefox

		&:hover {
			cursor: all-scroll;
		}

		&::-webkit-scrollbar {
			display: none; // Chrome
		}
	}
}

///
.hide-on-service-studio {
	-servicestudio-display: none;
}
