/*! Patterns - Utilities - Button Loading */
////
/// @group Patterns-Button_Loading
/// Patterns - Utilities - Button Loading

///
.osui-btn-loading {
	.btn {
		& > *:not(.spinner-animation) {
			display: none;
		}
	}

	&.show-spinner-only {
		&.is--btn-loading {
			.btn {
				font-size: 0;

				.spinner-animation {
					margin-right: var(--space-none);
				}
			}
		}
	}

	&.is--btn-loading {
		pointer-events: none;

		.btn {
			display: inline-flex;
			pointer-events: none;

			.spinner-animation {
				display: inline-block;
			}
		}
	}

	.btn {
		transition: none;
		display: inline-block;

		// ServiceStudio Preview
		& {
			-servicestudio-display: inline-flex;
		}

		& > * {
			font-size: var(--font-size-s);
			vertical-align: middle;
		}

		.spinner-animation {
			display: none;
			animation: loadingSpinner 850ms cubic-bezier(0.7, 1.05, 0.78, 0.78) infinite;
			border: var(--border-size-m) solid currentColor;
			border-radius: var(--border-radius-circle);
			border-top: var(--border-size-m) solid transparent;
			height: 16px;
			margin-right: var(--space-s);
			width: 16px;
			will-change: transform;

			// ServiceStudio Preview
			& {
				-servicestudio-margin-right: var(--space-s);
			}
		}
	}
}

// IsRTL -------------------------------------------------------------------------
///
.is-rtl {
	.osui-btn-loading {
		.btn {
			.spinner-animation {
				margin-left: var(--space-s);
				margin-right: var(--space-none);
			}
		}
	}
}
