/*! Patterns - Utilities - Button Loading */
////
/// @group Patterns-Button_Loading
/// Patterns - Utilities - Button Loading

/* NOTE:
	.btn-show-label, .btn-loading & .btn-label are selectors that are used to mantain retrocompatilibilty
*/

///
.osui-btn-loading {
	&.show-spinner-only,
	&:not(.btn-show-label) {
		.btn {
			& > *:not(.btn-loading):not(.loading-spinner):not(.btn-label) {
				display: none;
			}
		}

		&.is--loading {
			.btn {
				font-size: 0;

				.loading-spinner {
					margin: 0;
				}

				.btn-label {
					display: none;
				}
			}
		}
	}

	&:not(.is--loading) {
		.btn {
			.loading-spinner {
				display: none;
			}
		}
	}

	.btn {
		transition: none;

		& > * {
			font-size: initial;
		}

		.btn-loading {
			margin: var(--space-none);
		}

		.loading-spinner {
			animation: loadingSpinner 850ms cubic-bezier(0.7, 1.05, 0.78, 0.78) infinite;
			border: var(--border-size-m) solid currentColor;
			border-radius: var(--border-radius-circle);
			border-top: var(--border-size-m) solid transparent;
			height: 16px;
			margin-right: var(--space-s);
			width: 16px;
			will-change: transform;

			// ServiceStudio Preview
			& {
				-servicestudio-margin-right: var(--space-s);
			}
		}
	}
}

// IsRTL -------------------------------------------------------------------------
///
.is-rtl {
	.osui-btn-loading {
		.btn {
			.loading-spinner {
				margin-left: var(--space-s);
				margin-right: var(--space-none);
			}
		}
	}
}
