name: PullRequest into Dev
on:
    # Triggers the workflow on push events but only for the "dev" branch.
    pull_request:
        branches: ['dev']
        types: [opened, reopened, synchronize]

concurrency:
    group: ${{ github.ref }}
    cancel-in-progress: true

permissions:
    id-token: write
    contents: read

jobs:
    build:
        name: Build TypeScript Project
        uses: OutSystems/ui-components.github-reusable-workflows/.github/workflows/ts-build-project.yaml@7ffd7f90f6e5016bd92d0e050d2516084b99c2f6 #v0.2.5
        with:
            github-ref: ${{ github.ref }}
            run-jest-tests: false
