name: docs-deploy-manually

on:
    workflow_dispatch:

jobs:
    deploy-doc:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout branch main
              uses: actions/checkout@v3
              with:
                  ref: main

            - uses: actions/setup-node@v3

            - name: Push files into github page
              uses: GuillaumeFalourd/copy-push-files@v1

              with:
                  source_files: docs/*
                  remote_repository: https://github.com/outsystems-ui-docs/outsystems-ui-docs.github.io
                  access_token: ${{ secrets.UICOMPONENTSDOCS }}
                  target_branch: main
                  commit_message: Deploy documentation.
