name: Validate pull request title

on:
    pull_request:
        types: [opened, reopened, edited]

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

permissions:
    contents: read
    pull-requests: read

jobs:
    check-title:
        name: Validate PR Title
        #uses: OutSystems/rd.github-reusable-workflows/.github/workflows/validate-pr-title.yaml@9d497d1c5bc6e355aa8f4663539e6b75c212f6b4 #v2.0.7
        uses: ./.github/workflows/template-validate-pr-title.yaml
        with:
            validate-semVer: false
